# DataFrame

## DataFrame 만들기

기본 형태 : pd.DataFrame(data, index, cloums)  
- index와 columns는 변수를 리스트로 받음
- data는 list, dictionary, Series 될 수 있음
- dictionary로 생성시 index 혹은 col값 설정 주의

In [1]:
 import pandas as pd

### list로 DataFrame 만들기

In [2]:
ls = ["a", "b", "c", "d", "e"]

ls_df = pd.DataFrame(ls, index=['영수','영철','영자','영희','영삼'], columns=["성적"])
ls_df

   성적
영수  a
영철  b
영자  c
영희  d
영삼  e

#### index 와 Column 생성 방법

상기와 같이 작성 하기도 하지만, 리스트 생성뒤 index, columns 설정 하는 방법도 잘 쓰인다

In [5]:
ls_df = pd.DataFrame(ls)
ls_df.index = ['영수','영철','영자','영희','영삼']
ls_df.columns = ["성적"] 
ls_df

   성적
영수  a
영철  b
영자  c
영희  d
영삼  e

colums 의 형태는 list인 점 주의

### dictionary로 생성

In [6]:
dic = {"영수": 101, "영철": 102, "영삼": 103, "영자": 104, "영호": 105}

dic_df = pd.DataFrame(dic)
dic_df

ValueError: If using all scalar values, you must pass an index

dictionary로 생성시 인덱스 지정 하지 않으면 문법적 오류 생성...

In [18]:
dic_df = pd.DataFrame(dic, index = [0])  
dic_df

Int64Index([0], dtype='int64')

In [19]:
dic_df.columns = ["성적"]
dic_df

ValueError: Length mismatch: Expected axis has 5 elements, new values have 1 elements

In [25]:
type(dic.values())

dict_values

In [26]:
dic.values()

dict_values([101, 102, 103, 104, 105])

In [27]:
dic_df = pd.DataFrame(dic.values())
dic_df

     0
0  101
1  102
2  103
3  104
4  105

In [29]:
dic_df.index = dic.keys()
dic_df.columns = ['성적']
dic_df

     성적
영수  101
영철  102
영삼  103
영자  104
영호  105

### Series로 생성하기

In [32]:
samsung = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)
samsung_df = pd.DataFrame(samsung)
samsung_df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\4061878558.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  samsung = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)

            Close
Date
2018-01-02  51020
2018-01-03  51620
2018-01-04  51080
2018-01-05  52120
2018-01-08  52020
...           ...
2021-12-13  76800
2021-12-14  77000
2021-12-15  77600
2021-12-16  77800
2021-12-17  78000

[977 rows x 1 columns]

In [33]:
type(samsung_df)

pandas.core.frame.DataFrame

In [34]:
samsung_df.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [35]:
samsung_df.columns

Index(['Close'], dtype='object')

## 외부 데이터에서 가져오기

In [43]:
import pandas as pd

cf.  
Series :   
pd.read_csv(path, index_col, header, squeeze = True)

DataFrame :  
pd.read_csv(path, index_col, header, squeeze = False)  
pd.read_csv(path, index_col, header)

In [42]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 'Date')
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [44]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 'High')
lotte_che

              Date    Open     Low   Close  Volume    Change
High
370000  2018-01-02  368000  360500  360500   92533 -0.020380
368500  2018-01-03  360000  360000  363000   81340  0.006935
367500  2018-01-04  367500  349000  349000  190391 -0.038567
352000  2018-01-05  351000  348000  351500   99268  0.007163
383500  2018-01-08  359000  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
234000  2021-12-16  233000  224500  228000  144647 -0.012987
235000  2021-12-17  227000  226500  234500  138945  0.028509
233500  2021-12-20  232000  228000  229500   90630 -0.021322
232500  2021-12-21  232000  227000  229500   98669  0.000000
230000  2021-12-22  229000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [38]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 0,header = 0)
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]