# DataFrame

## DataFrame 만들기

기본 형태 : pd.DataFrame(data, index, cloums)  
- index와 columns는 변수를 리스트로 받음
- data는 list, dictionary, Series 될 수 있음
- dictionary로 생성시 index 혹은 col값 설정 주의

In [1]:
 import pandas as pd

### list로 DataFrame 만들기

In [2]:
ls = ["a", "b", "c", "d", "e"]

ls_df = pd.DataFrame(ls, index=['영수','영철','영자','영희','영삼'], columns=["성적"])
ls_df

   성적
영수  a
영철  b
영자  c
영희  d
영삼  e

#### index 와 Column 생성 방법

상기와 같이 작성 하기도 하지만, 리스트 생성뒤 index, columns 설정 하는 방법도 잘 쓰인다

In [5]:
ls_df = pd.DataFrame(ls)
ls_df.index = ['영수','영철','영자','영희','영삼']
ls_df.columns = ["성적"] 
ls_df

   성적
영수  a
영철  b
영자  c
영희  d
영삼  e

colums 의 형태는 list인 점 주의

### dictionary로 생성

In [6]:
dic = {"영수": 101, "영철": 102, "영삼": 103, "영자": 104, "영호": 105}

dic_df = pd.DataFrame(dic)
dic_df

ValueError: If using all scalar values, you must pass an index

dictionary로 생성시 인덱스 지정 하지 않으면 문법적 오류 생성...

In [18]:
dic_df = pd.DataFrame(dic, index = [0])  
dic_df

Int64Index([0], dtype='int64')

In [19]:
dic_df.columns = ["성적"]
dic_df

ValueError: Length mismatch: Expected axis has 5 elements, new values have 1 elements

In [25]:
type(dic.values())

dict_values

In [26]:
dic.values()

dict_values([101, 102, 103, 104, 105])

In [27]:
dic_df = pd.DataFrame(dic.values())
dic_df

     0
0  101
1  102
2  103
3  104
4  105

In [29]:
dic_df.index = dic.keys()
dic_df.columns = ['성적']
dic_df

     성적
영수  101
영철  102
영삼  103
영자  104
영호  105

### Series로 생성하기

In [32]:
samsung = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)
samsung_df = pd.DataFrame(samsung)
samsung_df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\4061878558.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  samsung = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)

            Close
Date
2018-01-02  51020
2018-01-03  51620
2018-01-04  51080
2018-01-05  52120
2018-01-08  52020
...           ...
2021-12-13  76800
2021-12-14  77000
2021-12-15  77600
2021-12-16  77800
2021-12-17  78000

[977 rows x 1 columns]

In [33]:
type(samsung_df)

pandas.core.frame.DataFrame

In [34]:
samsung_df.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [35]:
samsung_df.columns

Index(['Close'], dtype='object')

## 외부 데이터에서 가져오기

In [43]:
import pandas as pd

cf.  
Series :   
pd.read_csv(path, index_col, header, squeeze = True)

DataFrame :  
pd.read_csv(path, index_col, header, squeeze = False)  
pd.read_csv(path, index_col, header)

In [42]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 'Date')
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [44]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 'High')
lotte_che

              Date    Open     Low   Close  Volume    Change
High
370000  2018-01-02  368000  360500  360500   92533 -0.020380
368500  2018-01-03  360000  360000  363000   81340  0.006935
367500  2018-01-04  367500  349000  349000  190391 -0.038567
352000  2018-01-05  351000  348000  351500   99268  0.007163
383500  2018-01-08  359000  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
234000  2021-12-16  233000  224500  228000  144647 -0.012987
235000  2021-12-17  227000  226500  234500  138945  0.028509
233500  2021-12-20  232000  228000  229500   90630 -0.021322
232500  2021-12-21  232000  227000  229500   98669  0.000000
230000  2021-12-22  229000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [46]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 0,header = 0)
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

## DataFrame 행과 열 선택 하기

[] -> Series , [[]] -> DataFrame

### 행 선택하기

#### lable로 선택하기

#### dataFrame.loc[행label]

In [47]:
lotte_che.loc['2018-01-02']

Open      368000.00000
High      370000.00000
Low       360500.00000
Close     360500.00000
Volume     92533.00000
Change        -0.02038
Name: 2018-01-02, dtype: float64

In [49]:
type(lotte_che.loc['2018-01-02'] )

pandas.core.series.Series

#### dataFrame.loc[행label:행label]

In [75]:
lotte_che.loc['2018-01-02':'2018-01-08']

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038

#### dataFrame.loc[[행label,행label...]]

In [48]:
lotte_che.loc[['2021-12-16', '2021-12-17', '2021-12-20']]

              Open    High     Low   Close  Volume    Change
Date
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322

In [50]:
type(lotte_che.loc[['2021-12-16', '2021-12-17', '2021-12-20']])

pandas.core.frame.DataFrame

#### 사용 불가 dataFrame.loc[행label,행label]

In [69]:
lotte_che.loc['2021-12-16', '2021-12-17', '2021-12-20']

IndexingError: Too many indexers

#### 사용 불가 dataFrame.loc[[행label:행label]]

In [76]:
lotte_che.loc[['2021-12-16':'2021-12-20']]

SyntaxError: invalid syntax (1126601001.py, line 1)

#### index로 선택하기

#### dataFrame.iloc[행index]

In [51]:
lotte_che.iloc[0]

Open      368000.00000
High      370000.00000
Low       360500.00000
Close     360500.00000
Volume     92533.00000
Change        -0.02038
Name: 2018-01-02, dtype: float64

#### dataFrame.iloc[행index:행index]

In [72]:
lotte_che.iloc[0:4]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163

#### dataFrame[행index:행index]

In [82]:
lotte_che[0:4]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163

#### dataFrame.iloc[[행index,행index...]]

In [70]:
lotte_che.iloc[[0,100, 56]]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-05-30  371000  376500  361500  363000  107516 -0.026810
2018-03-26  423000  440500  423000  440500   93789  0.024419

#### 사용 불가 dataframe[행label], dataframe[[행label]]

In [65]:
lotte_che['2018-01-02']

KeyError: '2018-01-02'

In [66]:
lotte_che[['2018-01-02']]

KeyError: "None of [Index(['2018-01-02'], dtype='object')] are in the [columns]"

#### 사용 불가 dataFrame.iloc[[행index:행index]]

In [73]:
lotte_che.iloc[[0:4]]

SyntaxError: invalid syntax (280868775.py, line 1)

### 열 선택하기

#### label로 선택하기

#### dataframe[열label]

In [56]:
lotte_che['Open']

Date
2018-01-02    368000
2018-01-03    360000
2018-01-04    367500
2018-01-05    351000
2018-01-08    359000
               ...
2021-12-16    233000
2021-12-17    227000
2021-12-20    232000
2021-12-21    232000
2021-12-22    229000
Name: Open, Length: 980, dtype: int64

In [58]:
type(lotte_che['Open'])

pandas.core.series.Series

#### dataframe[[열label]]

In [59]:
lotte_che[['Open']]

              Open
Date
2018-01-02  368000
2018-01-03  360000
2018-01-04  367500
2018-01-05  351000
2018-01-08  359000
...            ...
2021-12-16  233000
2021-12-17  227000
2021-12-20  232000
2021-12-21  232000
2021-12-22  229000

[980 rows x 1 columns]

In [67]:
type(lotte_che[['Open']])

pandas.core.frame.DataFrame

#### dataFrame[[열label,열label...]]

In [53]:
lotte_che[['Open', 'High']]

              Open    High
Date
2018-01-02  368000  370000
2018-01-03  360000  368500
2018-01-04  367500  367500
2018-01-05  351000  352000
2018-01-08  359000  383500
...            ...     ...
2021-12-16  233000  234000
2021-12-17  227000  235000
2021-12-20  232000  233500
2021-12-21  232000  232500
2021-12-22  229000  230000

[980 rows x 2 columns]

#### 사용 불가 dataframe[열label,열label]

In [78]:
lotte_che['Open', 'High']

KeyError: ('Open', 'High')

#### index로 선택하기

#### dataFrame[dataFrame.colums[[열index,열index...]]

In [54]:
lotte_che[lotte_che.columns[[5, 1, 2]]]

              Change    High     Low
Date
2018-01-02 -0.020380  370000  360500
2018-01-03  0.006935  368500  360000
2018-01-04 -0.038567  367500  349000
2018-01-05  0.007163  352000  348000
2018-01-08  0.091038  383500  358000
...              ...     ...     ...
2021-12-16 -0.012987  234000  224500
2021-12-17  0.028509  235000  226500
2021-12-20 -0.021322  233500  228000
2021-12-21  0.000000  232500  227000
2021-12-22 -0.019608  230000  225000

[980 rows x 3 columns]

#### dataFrame[dataFrame.colums[열index : 열index]]

In [88]:
lotte_che.columns[0:2]

Index(['Open', 'High'], dtype='object')

In [87]:
lotte_che[lotte_che.columns[0:2]]

              Open    High
Date
2018-01-02  368000  370000
2018-01-03  360000  368500
2018-01-04  367500  367500
2018-01-05  351000  352000
2018-01-08  359000  383500
...            ...     ...
2021-12-16  233000  234000
2021-12-17  227000  235000
2021-12-20  232000  233500
2021-12-21  232000  232500
2021-12-22  229000  230000

[980 rows x 2 columns]

In [89]:
lotte_che[lotte_che.columns[:-1]]

              Open    High     Low   Close  Volume
Date
2018-01-02  368000  370000  360500  360500   92533
2018-01-03  360000  368500  360000  363000   81340
2018-01-04  367500  367500  349000  349000  190391
2018-01-05  351000  352000  348000  351500   99268
2018-01-08  359000  383500  358000  383500  490208
...            ...     ...     ...     ...     ...
2021-12-16  233000  234000  224500  228000  144647
2021-12-17  227000  235000  226500  234500  138945
2021-12-20  232000  233500  228000  229500   90630
2021-12-21  232000  232500  227000  229500   98669
2021-12-22  229000  230000  225000  225000   99419

[980 rows x 5 columns]

#### 사용 불가 dataFrame[열index]

In [79]:
lotte_che[0]

KeyError: 0

#### 사용 불가 dataFrame[열index] -> 행index로 작동

In [81]:
lotte_che[0:5]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038

## 열 추가 하기

In [90]:
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [91]:
lotte_che = lotte_che[lotte_che.columns[:-1]]
lotte_che

              Open    High     Low   Close  Volume
Date
2018-01-02  368000  370000  360500  360500   92533
2018-01-03  360000  368500  360000  363000   81340
2018-01-04  367500  367500  349000  349000  190391
2018-01-05  351000  352000  348000  351500   99268
2018-01-08  359000  383500  358000  383500  490208
...            ...     ...     ...     ...     ...
2021-12-16  233000  234000  224500  228000  144647
2021-12-17  227000  235000  226500  234500  138945
2021-12-20  232000  233500  228000  229500   90630
2021-12-21  232000  232500  227000  229500   98669
2021-12-22  229000  230000  225000  225000   99419

[980 rows x 5 columns]

In [92]:
lotte_che['Return'] = lotte_che['Close'].pct_change().fillna(0)
lotte_che

              Open    High     Low   Close  Volume    Return
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

## 행 추가 하기

### 행 추가시 Demension 맞게!!

#### 차원 안 맏을 시 오류

In [93]:
lotte_che.loc['2021-12-23'] = 0, 0

ValueError: cannot set a row with mismatched columns

In [95]:
lotte_che.loc['2021-12-23'] = [0, 0]

ValueError: cannot set a row with mismatched columns

In [98]:
lotte_che.shape

(980, 6)

In [100]:
lotte_che.loc['2021-12-23'] = [0,0,0,0,0,0]
lotte_che

              Open    High     Low   Close  Volume    Return
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608
2021-12-23       0       0       0       0       0  0.000000

[981 rows x 6 columns]

In [103]:
lotte_che.loc['2021-12-23'] = [100,100,100,100,100,100]
lotte_che

              Open    High     Low   Close  Volume      Return
Date
2018-01-02  368000  370000  360500  360500   92533    0.000000
2018-01-03  360000  368500  360000  363000   81340    0.006935
2018-01-04  367500  367500  349000  349000  190391   -0.038567
2018-01-05  351000  352000  348000  351500   99268    0.007163
2018-01-08  359000  383500  358000  383500  490208    0.091038
...            ...     ...     ...     ...     ...         ...
2021-12-17  227000  235000  226500  234500  138945    0.028509
2021-12-20  232000  233500  228000  229500   90630   -0.021322
2021-12-21  232000  232500  227000  229500   98669    0.000000
2021-12-22  229000  230000  225000  225000   99419   -0.019608
2021-12-23     100     100     100     100     100  100.000000

[981 rows x 6 columns]

In [104]:
lotte_che.loc['2021-12-23'] = 0
lotte_che

              Open    High     Low   Close  Volume    Return
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608
2021-12-23       0       0       0       0       0  0.000000

[981 rows x 6 columns]

## 행과 열 예제

In [106]:
  def return_fn(df):
        df_close = df['Close']
        df_close['Return'] = df_close.pct_change().fillna(0)
        return df_close

In [109]:
df = return_fn(df = lotte_che)
df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\2890281629.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Return'] = df_close.pct_change().fillna(0)

Date
2018-01-02                                               360500
2018-01-03                                               363000
2018-01-04                                               349000
2018-01-05                                               351500
2018-01-08                                               383500
                                    ...
2021-12-20                                               229500
2021-12-21                                               229500
2021-12-22                                               225000
2021-12-23                                                    0
Return        Date
2018-01-02    0.000000
2018-01-03    0.00...
Name: Close, Length: 982, dtype: object

In [111]:
df = return_fn(lotte_che)
df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\2890281629.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Return'] = df_close.pct_change().fillna(0)

Date
2018-01-02                                               360500
2018-01-03                                               363000
2018-01-04                                               349000
2018-01-05                                               351500
2018-01-08                                               383500
                                    ...
2021-12-20                                               229500
2021-12-21                                               229500
2021-12-22                                               225000
2021-12-23                                                    0
Return        Date
2018-01-02    0.000000
2018-01-03    0.00...
Name: Close, Length: 982, dtype: object

In [112]:
def return_fn(df):
        df_close = df[['Close']]
        df_close['Return'] = df_close.pct_change().fillna(0)
        return df_close

In [113]:
df = return_fn(df = lotte_che)
df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\2300554577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Return'] = df_close.pct_change().fillna(0)

             Close    Return
Date
2018-01-02  360500  0.000000
2018-01-03  363000  0.006935
2018-01-04  349000 -0.038567
2018-01-05  351500  0.007163
2018-01-08  383500  0.091038
...            ...       ...
2021-12-17  234500  0.028509
2021-12-20  229500 -0.021322
2021-12-21  229500  0.000000
2021-12-22  225000 -0.019608
2021-12-23       0 -1.000000

[981 rows x 2 columns]

## DataFrame 합치기

concat, join, merge

In [114]:
import pandas as pd
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 200)

In [116]:
df_samsung = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'samsung', index_col = 0)
df_samsung

             Open   High    Low  Close    Volume    Change
Date
2018-01-02  51380  51400  50780  51020    169485  0.001177
2018-01-03  52540  52560  51420  51620    200270  0.011760
2018-01-04  52120  52180  50640  51080    233909 -0.010461
2018-01-05  51300  52120  51200  52120    189623  0.020360
2018-01-08  52400  52520  51500  52020    167673 -0.001919
...           ...    ...    ...    ...       ...       ...
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

[738 rows x 6 columns]

In [117]:
df_naver = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'naver', index_col = 0)
df_naver

              Open    High     Low   Close  Volume    Change
Date
2016-01-04  130182  131784  126578  126579   93272 -0.039511
2016-01-05  126778  128580  126378  127580   69456  0.007908
2016-01-06  129181  129181  124575  124776   95682 -0.021978
2016-01-07  125377  132187  125377  130585  125253  0.046555
2016-01-08  130585  131987  128582  130585   63922  0.000000
...            ...     ...     ...     ...     ...       ...
2019-12-23  185000  185500  182000  184000  250256  0.002725
2019-12-24  184000  184000  179000  182000  193440 -0.010870
2019-12-26  181500  183000  179000  180500  173426 -0.008242
2019-12-27  182000  185000  179000  183500  323473  0.016620
2019-12-30  183500  190000  183500  186500  376541  0.016349

[979 rows x 6 columns]

In [128]:
df = pd.concat([df_naver, df_samsung])
df

              Open    High     Low   Close    Volume    Change
Date
2016-01-04  130182  131784  126578  126579     93272 -0.039511
2016-01-05  126778  128580  126378  127580     69456  0.007908
2016-01-06  129181  129181  124575  124776     95682 -0.021978
2016-01-07  125377  132187  125377  130585    125253  0.046555
2016-01-08  130585  131987  128582  130585     63922  0.000000
...            ...     ...     ...     ...       ...       ...
2020-12-23   72400   74000   72300   73900  19411326  0.022130
2020-12-24   74100   78800   74000   77800  32502870  0.052774
2020-12-28   79000   80100   78200   78700  40085044  0.011568
2020-12-29   78800   78900   77300   78300  30339449 -0.005083
2020-12-30   77400   81300   77300   81000  29417421  0.034483

[1717 rows x 6 columns]

In [129]:
df = pd.concat([df_samsung, df_naver])
df

              Open    High     Low   Close  Volume    Change
Date
2018-01-02   51380   51400   50780   51020  169485  0.001177
2018-01-03   52540   52560   51420   51620  200270  0.011760
2018-01-04   52120   52180   50640   51080  233909 -0.010461
2018-01-05   51300   52120   51200   52120  189623  0.020360
2018-01-08   52400   52520   51500   52020  167673 -0.001919
...            ...     ...     ...     ...     ...       ...
2019-12-23  185000  185500  182000  184000  250256  0.002725
2019-12-24  184000  184000  179000  182000  193440 -0.010870
2019-12-26  181500  183000  179000  180500  173426 -0.008242
2019-12-27  182000  185000  179000  183500  323473  0.016620
2019-12-30  183500  190000  183500  186500  376541  0.016349

[1717 rows x 6 columns]

In [131]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'])

df.loc[('samsung','2018-03-15')]

Open       52000.00000
High       52020.00000
Low        51020.00000
Close      51540.00000
Volume    177649.00000
Change        -0.00425
Name: (samsung, 2018-03-15 00:00:00), dtype: float64

In [120]:
df

                      Open    High     Low   Close    Volume    Change
stock   날짜
naver   2016-01-04  130182  131784  126578  126579     93272 -0.039511
        2016-01-05  126778  128580  126378  127580     69456  0.007908
        2016-01-06  129181  129181  124575  124776     95682 -0.021978
        2016-01-07  125377  132187  125377  130585    125253  0.046555
        2016-01-08  130585  131987  128582  130585     63922  0.000000
...                    ...     ...     ...     ...       ...       ...
samsung 2020-12-23   72400   74000   72300   73900  19411326  0.022130
        2020-12-24   74100   78800   74000   77800  32502870  0.052774
        2020-12-28   79000   80100   78200   78700  40085044  0.011568
        2020-12-29   78800   78900   77300   78300  30339449 -0.005083
        2020-12-30   77400   81300   77300   81000  29417421  0.034483

[1717 rows x 6 columns]

In [133]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=0)
df

                      Open    High     Low   Close    Volume    Change
stock   날짜
naver   2016-01-04  130182  131784  126578  126579     93272 -0.039511
        2016-01-05  126778  128580  126378  127580     69456  0.007908
        2016-01-06  129181  129181  124575  124776     95682 -0.021978
        2016-01-07  125377  132187  125377  130585    125253  0.046555
        2016-01-08  130585  131987  128582  130585     63922  0.000000
...                    ...     ...     ...     ...       ...       ...
samsung 2020-12-23   72400   74000   72300   73900  19411326  0.022130
        2020-12-24   74100   78800   74000   77800  32502870  0.052774
        2020-12-28   79000   80100   78200   78700  40085044  0.011568
        2020-12-29   78800   78900   77300   78300  30339449 -0.005083
        2020-12-30   77400   81300   77300   81000  29417421  0.034483

[1717 rows x 6 columns]

In [123]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=1)
df

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2020-12-23       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-24       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-28       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-29       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-30       NaN       NaN       NaN       NaN       NaN       NaN

stock       samsung
날짜             Open     High      Low    Close      Volume    Change
Date
2016-01-04      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-05      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-06      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-07      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-08      NaN      NaN      NaN      NaN         NaN       NaN
...             ...      ...      ...      ...         ...       ...
2020-12-23  72400.0  74000.0  72300.0  73900.0  19411326.0  0.022130
2020-12-24  74100.0  78800.0  74000.0  77800.0  32502870.0  0.052774
2020-12-28  79000.0  80100.0  78200.0  78700.0  40085044.0  0.011568
2020-12-29  78800.0  78900.0  77300.0  78300.0  30339449.0 -0.005083
2020-12-30  77400.0  81300.0  77300.0  81000.0  29417421.0  0.034483

[1227 rows x 12 columns]

In [124]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=1, join='outer')
df

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2020-12-23       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-24       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-28       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-29       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-30       NaN       NaN       NaN       NaN       NaN       NaN

stock       samsung
날짜             Open     High      Low    Close      Volume    Change
Date
2016-01-04      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-05      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-06      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-07      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-08      NaN      NaN      NaN      NaN         NaN       NaN
...             ...      ...      ...      ...         ...       ...
2020-12-23  72400.0  74000.0  72300.0  73900.0  19411326.0  0.022130
2020-12-24  74100.0  78800.0  74000.0  77800.0  32502870.0  0.052774
2020-12-28  79000.0  80100.0  78200.0  78700.0  40085044.0  0.011568
2020-12-29  78800.0  78900.0  77300.0  78300.0  30339449.0 -0.005083
2020-12-30  77400.0  81300.0  77300.0  81000.0  29417421.0  0.034483

[1227 rows x 12 columns]

In [126]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=1, join='inner')
df

stock        naver                                           samsung         \
날짜            Open    High     Low   Close  Volume    Change    Open   High
Date
2018-01-02  174447  177251  174247  177251   93587  0.017240   51380  51400
2018-01-03  175448  177051  173045  174447   84790 -0.015819   52540  52560
2018-01-04  176048  179653  174847  178853  130112  0.025257   52120  52180
2018-01-05  178852  183858  176249  181857  136811  0.016796   51300  52120
2018-01-08  183258  190869  181856  190269  196338  0.046256   52400  52520
...            ...     ...     ...     ...     ...       ...     ...    ...
2019-12-23  185000  185500  182000  184000  250256  0.002725   56100  56400
2019-12-24  184000  184000  179000  182000  193440 -0.010870   55600  55700
2019-12-26  181500  183000  179000  180500  173426 -0.008242   54700  55400
2019-12-27  182000  185000  179000  183500  323473  0.016620   55700  56900
2019-12-30  183500  190000  183500  186500  376541  0.016349   56200  56600

stock
날짜            Low  Close    Volume    Change
Date
2018-01-02  50780  51020    169485  0.001177
2018-01-03  51420  51620    200270  0.011760
2018-01-04  50640  51080    233909 -0.010461
2018-01-05  51200  52120    189623  0.020360
2018-01-08  51500  52020    167673 -0.001919
...           ...    ...       ...       ...
2019-12-23  55100  55500   9839252 -0.008929
2019-12-24  54800  55000  11868463 -0.009009
2019-12-26  54400  55400   9645034  0.007273
2019-12-27  55500  56500  12313056  0.019856
2019-12-30  55700  55800   8356767 -0.012389

[490 rows x 12 columns]

In [138]:
df = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=0, join='outer')
df

                             Open    High     Low   Close  Volume    Change  \
stock 날짜
naver 2016-01-04 00:00:00  130182  131784  126578  126579   93272 -0.039511
      2016-01-05 00:00:00  126778  128580  126378  127580   69456  0.007908
      2016-01-06 00:00:00  129181  129181  124575  124776   95682 -0.021978
      2016-01-07 00:00:00  125377  132187  125377  130585  125253  0.046555
      2016-01-08 00:00:00  130585  131987  128582  130585   63922  0.000000
...                           ...     ...     ...     ...     ...       ...
lotte 2021-12-17           227000  235000  226500  234500  138945       NaN
      2021-12-20           232000  233500  228000  229500   90630       NaN
      2021-12-21           232000  232500  227000  229500   98669       NaN
      2021-12-22           229000  230000  225000  225000   99419       NaN
      2021-12-23                0       0       0       0       0       NaN

                             Return
stock 날짜
naver 2016-01-04 00:00:00       NaN
      2016-01-05 00:00:00       NaN
      2016-01-06 00:00:00       NaN
      2016-01-07 00:00:00       NaN
      2016-01-08 00:00:00       NaN
...                             ...
lotte 2021-12-17           0.028509
      2021-12-20          -0.021322
      2021-12-21           0.000000
      2021-12-22          -0.019608
      2021-12-23           0.000000

[2698 rows x 7 columns]

In [139]:
df = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=1, join='inner')
df

Empty DataFrame
Columns: [(naver, Open), (naver, High), (naver, Low), (naver, Close), (naver, Volume), (naver, Change), (samsung, Open), (samsung, High), (samsung, Low), (samsung, Close), (samsung, Volume), (samsung, Change), (lotte, Open), (lotte, High), (lotte, Low), (lotte, Close), (lotte, Volume), (lotte, Return)]
Index: []

In [140]:
df_naver.index
df_samsung.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=738, freq=None)

In [141]:
lotte_che.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
       '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23'],
      dtype='object', name='Date', length=981)

### 합칠때 index가 같아야 한다 ( type까지 )

In [144]:
type(df_naver.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [145]:
type(lotte_che.index[0])

str

In [147]:
lotte_che.index = pd.to_datetime(lotte_che.index)
lotte_che.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15',
               ...
               '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23'],
              dtype='datetime64[ns]', name='Date', length=981, freq=None)

In [148]:
df = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=1, join='inner')
df

stock        naver                                           samsung         \
날짜            Open    High     Low   Close  Volume    Change    Open   High
Date
2018-01-02  174447  177251  174247  177251   93587  0.017240   51380  51400
2018-01-03  175448  177051  173045  174447   84790 -0.015819   52540  52560
2018-01-04  176048  179653  174847  178853  130112  0.025257   52120  52180
2018-01-05  178852  183858  176249  181857  136811  0.016796   51300  52120
2018-01-08  183258  190869  181856  190269  196338  0.046256   52400  52520
...            ...     ...     ...     ...     ...       ...     ...    ...
2019-12-23  185000  185500  182000  184000  250256  0.002725   56100  56400
2019-12-24  184000  184000  179000  182000  193440 -0.010870   55600  55700
2019-12-26  181500  183000  179000  180500  173426 -0.008242   54700  55400
2019-12-27  182000  185000  179000  183500  323473  0.016620   55700  56900
2019-12-30  183500  190000  183500  186500  376541  0.016349   56200  56600

stock                                          lotte                          \
날짜            Low  Close    Volume    Change    Open    High     Low   Close
Date
2018-01-02  50780  51020    169485  0.001177  368000  370000  360500  360500
2018-01-03  51420  51620    200270  0.011760  360000  368500  360000  363000
2018-01-04  50640  51080    233909 -0.010461  367500  367500  349000  349000
2018-01-05  51200  52120    189623  0.020360  351000  352000  348000  351500
2018-01-08  51500  52020    167673 -0.001919  359000  383500  358000  383500
...           ...    ...       ...       ...     ...     ...     ...     ...
2019-12-23  55100  55500   9839252 -0.008929  235500  237000  231500  233000
2019-12-24  54800  55000  11868463 -0.009009  232000  235500  230000  232000
2019-12-26  54400  55400   9645034  0.007273  234000  234000  229500  230500
2019-12-27  55500  56500  12313056  0.019856  226500  229500  225000  228500
2019-12-30  55700  55800   8356767 -0.012389  228500  229000  223000  224000

stock
날짜          Volume    Return
Date
2018-01-02   92533  0.000000
2018-01-03   81340  0.006935
2018-01-04  190391 -0.038567
2018-01-05   99268  0.007163
2018-01-08  490208  0.091038
...            ...       ...
2019-12-23   87888 -0.006397
2019-12-24   56481 -0.004292
2019-12-26   97614 -0.006466
2019-12-27   91022 -0.008677
2019-12-30  113754 -0.019694

[490 rows x 18 columns]

## Nan 핸들링

### DataFrame 에서 Nan값에 해당되는 날짜만 찾는 방법은?

In [149]:
df_nan = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=1, join='outer')
df_nan

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2021-12-17       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-20       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-21       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-22       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-23       NaN       NaN       NaN       NaN       NaN       NaN

stock      samsung                                  lotte                      \
날짜            Open High Low Close Volume Change      Open      High       Low
Date
2016-01-04     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-05     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-06     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-07     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-08     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
...            ...  ...  ..   ...    ...    ...       ...       ...       ...
2021-12-17     NaN  NaN NaN   NaN    NaN    NaN  227000.0  235000.0  226500.0
2021-12-20     NaN  NaN NaN   NaN    NaN    NaN  232000.0  233500.0  228000.0
2021-12-21     NaN  NaN NaN   NaN    NaN    NaN  232000.0  232500.0  227000.0
2021-12-22     NaN  NaN NaN   NaN    NaN    NaN  229000.0  230000.0  225000.0
2021-12-23     NaN  NaN NaN   NaN    NaN    NaN       0.0       0.0       0.0

stock
날짜             Close    Volume    Return
Date
2016-01-04       NaN       NaN       NaN
2016-01-05       NaN       NaN       NaN
2016-01-06       NaN       NaN       NaN
2016-01-07       NaN       NaN       NaN
2016-01-08       NaN       NaN       NaN
...              ...       ...       ...
2021-12-17  234500.0  138945.0  0.028509
2021-12-20  229500.0   90630.0 -0.021322
2021-12-21  229500.0   98669.0  0.000000
2021-12-22  225000.0   99419.0 -0.019608
2021-12-23       0.0       0.0  0.000000

[1470 rows x 18 columns]

In [152]:
df_nan['Close']

KeyError: "['Close' 'Open'] not in index"

In [153]:
df_nan[['Close']]

KeyError: "['Close'] not in index"

In [154]:
df_nan[['Open','Close']]

KeyError: "['Open' 'Close'] not in index"

In [155]:
df_nan.columns

MultiIndex([(  'naver',   'Open'),
            (  'naver',   'High'),
            (  'naver',    'Low'),
            (  'naver',  'Close'),
            (  'naver', 'Volume'),
            (  'naver', 'Change'),
            ('samsung',   'Open'),
            ('samsung',   'High'),
            ('samsung',    'Low'),
            ('samsung',  'Close'),
            ('samsung', 'Volume'),
            ('samsung', 'Change'),
            (  'lotte',   'Open'),
            (  'lotte',   'High'),
            (  'lotte',    'Low'),
            (  'lotte',  'Close'),
            (  'lotte', 'Volume'),
            (  'lotte', 'Return')],
           names=['stock', '날짜'])

In [156]:
df_nan[('samsung',  'Close')]

Date
2016-01-04   NaN
2016-01-05   NaN
2016-01-06   NaN
2016-01-07   NaN
2016-01-08   NaN
              ..
2021-12-17   NaN
2021-12-20   NaN
2021-12-21   NaN
2021-12-22   NaN
2021-12-23   NaN
Name: (samsung, Close), Length: 1470, dtype: float64

In [157]:
df_nan[[('samsung',  'Close')]]

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[1470 rows x 1 columns]

In [180]:
df_samsung_close = df_nan[[('samsung',  'Close')]]
df_samsung_close

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[1470 rows x 1 columns]

In [182]:
df_samsung_close.isna()

stock      samsung
날짜           Close
Date
2016-01-04    True
2016-01-05    True
2016-01-06    True
2016-01-07    True
2016-01-08    True
...            ...
2021-12-17    True
2021-12-20    True
2021-12-21    True
2021-12-22    True
2021-12-23    True

[1470 rows x 1 columns]

In [162]:
df_samsung_close.isna().sum()

stock    날짜
samsung  Close    732
dtype: int64

In [163]:
df_samsung_close.shape[0]

1470

### dropna로 join = 'inner' 효과 내기

In [165]:
df_nan

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2021-12-17       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-20       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-21       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-22       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-23       NaN       NaN       NaN       NaN       NaN       NaN

stock      samsung                                  lotte                      \
날짜            Open High Low Close Volume Change      Open      High       Low
Date
2016-01-04     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-05     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-06     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-07     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-08     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
...            ...  ...  ..   ...    ...    ...       ...       ...       ...
2021-12-17     NaN  NaN NaN   NaN    NaN    NaN  227000.0  235000.0  226500.0
2021-12-20     NaN  NaN NaN   NaN    NaN    NaN  232000.0  233500.0  228000.0
2021-12-21     NaN  NaN NaN   NaN    NaN    NaN  232000.0  232500.0  227000.0
2021-12-22     NaN  NaN NaN   NaN    NaN    NaN  229000.0  230000.0  225000.0
2021-12-23     NaN  NaN NaN   NaN    NaN    NaN       0.0       0.0       0.0

stock
날짜             Close    Volume    Return
Date
2016-01-04       NaN       NaN       NaN
2016-01-05       NaN       NaN       NaN
2016-01-06       NaN       NaN       NaN
2016-01-07       NaN       NaN       NaN
2016-01-08       NaN       NaN       NaN
...              ...       ...       ...
2021-12-17  234500.0  138945.0  0.028509
2021-12-20  229500.0   90630.0 -0.021322
2021-12-21  229500.0   98669.0  0.000000
2021-12-22  225000.0   99419.0 -0.019608
2021-12-23       0.0       0.0  0.000000

[1470 rows x 18 columns]

In [166]:
df_nan.dropna()

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2018-01-02  174447.0  177251.0  174247.0  177251.0   93587.0  0.017240
2018-01-03  175448.0  177051.0  173045.0  174447.0   84790.0 -0.015819
2018-01-04  176048.0  179653.0  174847.0  178853.0  130112.0  0.025257
2018-01-05  178852.0  183858.0  176249.0  181857.0  136811.0  0.016796
2018-01-08  183258.0  190869.0  181856.0  190269.0  196338.0  0.046256
...              ...       ...       ...       ...       ...       ...
2019-12-23  185000.0  185500.0  182000.0  184000.0  250256.0  0.002725
2019-12-24  184000.0  184000.0  179000.0  182000.0  193440.0 -0.010870
2019-12-26  181500.0  183000.0  179000.0  180500.0  173426.0 -0.008242
2019-12-27  182000.0  185000.0  179000.0  183500.0  323473.0  0.016620
2019-12-30  183500.0  190000.0  183500.0  186500.0  376541.0  0.016349

stock       samsung                                                   \
날짜             Open     High      Low    Close      Volume    Change
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0    169485.0  0.001177
2018-01-03  52540.0  52560.0  51420.0  51620.0    200270.0  0.011760
2018-01-04  52120.0  52180.0  50640.0  51080.0    233909.0 -0.010461
2018-01-05  51300.0  52120.0  51200.0  52120.0    189623.0  0.020360
2018-01-08  52400.0  52520.0  51500.0  52020.0    167673.0 -0.001919
...             ...      ...      ...      ...         ...       ...
2019-12-23  56100.0  56400.0  55100.0  55500.0   9839252.0 -0.008929
2019-12-24  55600.0  55700.0  54800.0  55000.0  11868463.0 -0.009009
2019-12-26  54700.0  55400.0  54400.0  55400.0   9645034.0  0.007273
2019-12-27  55700.0  56900.0  55500.0  56500.0  12313056.0  0.019856
2019-12-30  56200.0  56600.0  55700.0  55800.0   8356767.0 -0.012389

stock          lotte
날짜              Open      High       Low     Close    Volume    Return
Date
2018-01-02  368000.0  370000.0  360500.0  360500.0   92533.0  0.000000
2018-01-03  360000.0  368500.0  360000.0  363000.0   81340.0  0.006935
2018-01-04  367500.0  367500.0  349000.0  349000.0  190391.0 -0.038567
2018-01-05  351000.0  352000.0  348000.0  351500.0   99268.0  0.007163
2018-01-08  359000.0  383500.0  358000.0  383500.0  490208.0  0.091038
...              ...       ...       ...       ...       ...       ...
2019-12-23  235500.0  237000.0  231500.0  233000.0   87888.0 -0.006397
2019-12-24  232000.0  235500.0  230000.0  232000.0   56481.0 -0.004292
2019-12-26  234000.0  234000.0  229500.0  230500.0   97614.0 -0.006466
2019-12-27  226500.0  229500.0  225000.0  228500.0   91022.0 -0.008677
2019-12-30  228500.0  229000.0  223000.0  224000.0  113754.0 -0.019694

[490 rows x 18 columns]

In [167]:
df_nan.dropna(axis=0)

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2018-01-02  174447.0  177251.0  174247.0  177251.0   93587.0  0.017240
2018-01-03  175448.0  177051.0  173045.0  174447.0   84790.0 -0.015819
2018-01-04  176048.0  179653.0  174847.0  178853.0  130112.0  0.025257
2018-01-05  178852.0  183858.0  176249.0  181857.0  136811.0  0.016796
2018-01-08  183258.0  190869.0  181856.0  190269.0  196338.0  0.046256
...              ...       ...       ...       ...       ...       ...
2019-12-23  185000.0  185500.0  182000.0  184000.0  250256.0  0.002725
2019-12-24  184000.0  184000.0  179000.0  182000.0  193440.0 -0.010870
2019-12-26  181500.0  183000.0  179000.0  180500.0  173426.0 -0.008242
2019-12-27  182000.0  185000.0  179000.0  183500.0  323473.0  0.016620
2019-12-30  183500.0  190000.0  183500.0  186500.0  376541.0  0.016349

stock       samsung                                                   \
날짜             Open     High      Low    Close      Volume    Change
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0    169485.0  0.001177
2018-01-03  52540.0  52560.0  51420.0  51620.0    200270.0  0.011760
2018-01-04  52120.0  52180.0  50640.0  51080.0    233909.0 -0.010461
2018-01-05  51300.0  52120.0  51200.0  52120.0    189623.0  0.020360
2018-01-08  52400.0  52520.0  51500.0  52020.0    167673.0 -0.001919
...             ...      ...      ...      ...         ...       ...
2019-12-23  56100.0  56400.0  55100.0  55500.0   9839252.0 -0.008929
2019-12-24  55600.0  55700.0  54800.0  55000.0  11868463.0 -0.009009
2019-12-26  54700.0  55400.0  54400.0  55400.0   9645034.0  0.007273
2019-12-27  55700.0  56900.0  55500.0  56500.0  12313056.0  0.019856
2019-12-30  56200.0  56600.0  55700.0  55800.0   8356767.0 -0.012389

stock          lotte
날짜              Open      High       Low     Close    Volume    Return
Date
2018-01-02  368000.0  370000.0  360500.0  360500.0   92533.0  0.000000
2018-01-03  360000.0  368500.0  360000.0  363000.0   81340.0  0.006935
2018-01-04  367500.0  367500.0  349000.0  349000.0  190391.0 -0.038567
2018-01-05  351000.0  352000.0  348000.0  351500.0   99268.0  0.007163
2018-01-08  359000.0  383500.0  358000.0  383500.0  490208.0  0.091038
...              ...       ...       ...       ...       ...       ...
2019-12-23  235500.0  237000.0  231500.0  233000.0   87888.0 -0.006397
2019-12-24  232000.0  235500.0  230000.0  232000.0   56481.0 -0.004292
2019-12-26  234000.0  234000.0  229500.0  230500.0   97614.0 -0.006466
2019-12-27  226500.0  229500.0  225000.0  228500.0   91022.0 -0.008677
2019-12-30  228500.0  229000.0  223000.0  224000.0  113754.0 -0.019694

[490 rows x 18 columns]

In [168]:
df_nan.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [2016-01-04 00:00:00, 2016-01-05 00:00:00, 2016-01-06 00:00:00, 2016-01-07 00:00:00, 2016-01-08 00:00:00, 2016-01-11 00:00:00, 2016-01-12 00:00:00, 2016-01-13 00:00:00, 2016-01-14 00:00:00, 2016-01-15 00:00:00, 2016-01-18 00:00:00, 2016-01-19 00:00:00, 2016-01-20 00:00:00, 2016-01-21 00:00:00, 2016-01-22 00:00:00, 2016-01-25 00:00:00, 2016-01-26 00:00:00, 2016-01-27 00:00:00, 2016-01-28 00:00:00, 2016-01-29 00:00:00, 2016-02-01 00:00:00, 2016-02-02 00:00:00, 2016-02-03 00:00:00, 2016-02-04 00:00:00, 2016-02-05 00:00:00, 2016-02-11 00:00:00, 2016-02-12 00:00:00, 2016-02-15 00:00:00, 2016-02-16 00:00:00, 2016-02-17 00:00:00, 2016-02-18 00:00:00, 2016-02-19 00:00:00, 2016-02-22 00:00:00, 2016-02-23 00:00:00, 2016-02-24 00:00:00, 2016-02-25 00:00:00, 2016-02-26 00:00:00, 2016-02-29 00:00:00, 2016-03-02 00:00:00, 2016-03-03 00:00:00, 2016-03-04 00:00:00, 2016-03-07 00:00:00, 2016-03-08 00:00:00, 2016-03-09 00:00:00, 2016-03-10 00:00:00, 2016-03-11 00:00:00, 2016-03-14 00:00:00, 2016-03-15 00:00:00, 2016-03-16 00:00:00, 2016-03-17 00:00:00, 2016-03-18 00:00:00, 2016-03-21 00:00:00, 2016-03-22 00:00:00, 2016-03-23 00:00:00, 2016-03-24 00:00:00, 2016-03-25 00:00:00, 2016-03-28 00:00:00, 2016-03-29 00:00:00, 2016-03-30 00:00:00, 2016-03-31 00:00:00, 2016-04-01 00:00:00, 2016-04-04 00:00:00, 2016-04-05 00:00:00, 2016-04-06 00:00:00, 2016-04-07 00:00:00, 2016-04-08 00:00:00, 2016-04-11 00:00:00, 2016-04-12 00:00:00, 2016-04-14 00:00:00, 2016-04-15 00:00:00, 2016-04-18 00:00:00, 2016-04-19 00:00:00, 2016-04-20 00:00:00, 2016-04-21 00:00:00, 2016-04-22 00:00:00, 2016-04-25 00:00:00, 2016-04-26 00:00:00, 2016-04-27 00:00:00, 2016-04-28 00:00:00, 2016-04-29 00:00:00, 2016-05-02 00:00:00, 2016-05-03 00:00:00, 2016-05-04 00:00:00, 2016-05-09 00:00:00, 2016-05-10 00:00:00, 2016-05-11 00:00:00, 2016-05-12 00:00:00, 2016-05-13 00:00:00, 2016-05-16 00:00:00, 2016-05-17 00:00:00, 2016-05-18 00:00:00, 2016-05-19 00:00:00, 2016-05-20 00:00:00, 2016-05-23 00:00:00, 2016-05-24 00:00:00, 2016-05-25 00:00:00, 2016-05-26 00:00:00, 2016-05-27 00:00:00, 2016-05-30 00:00:00, 2016-05-31 00:00:00, ...]

[1470 rows x 0 columns]

In [170]:
df_samsung_close.fillna(0)

stock      samsung
날짜           Close
Date
2016-01-04     0.0
2016-01-05     0.0
2016-01-06     0.0
2016-01-07     0.0
2016-01-08     0.0
...            ...
2021-12-17     0.0
2021-12-20     0.0
2021-12-21     0.0
2021-12-22     0.0
2021-12-23     0.0

[1470 rows x 1 columns]

In [171]:
df_samsung_close[df_samsung_close.isna()] # 이렇게 하면 될꺼 같은데...

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[1470 rows x 1 columns]

In [172]:
df_samsung_close.isna()

stock      samsung
날짜           Close
Date
2016-01-04    True
2016-01-05    True
2016-01-06    True
2016-01-07    True
2016-01-08    True
...            ...
2021-12-17    True
2021-12-20    True
2021-12-21    True
2021-12-22    True
2021-12-23    True

[1470 rows x 1 columns]

In [173]:
df_samsung_close.isna().shape[0]

1470

In [178]:
df_samsung_close.isna().values

array([[ True],
       [ True],
       [ True],
       ...,
       [ True],
       [ True],
       [ True]])

In [181]:
df_samsung_close.isna().values.shape[0]

1470

In [183]:
df_samsung_close[df_samsung_close.isna().values]

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[732 rows x 1 columns]

In [184]:
df_samsung_close[df_samsung_close.isna().values].index

DatetimeIndex(['2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07',
               '2016-01-08', '2016-01-11', '2016-01-12', '2016-01-13',
               '2016-01-14', '2016-01-15',
               ...
               '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23'],
              dtype='datetime64[ns]', name='Date', length=732, freq=None)

## info(), describe()

In [185]:
import pandas as pd

df_samsung = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'samsung', index_col = 0)

df_naver = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'naver', index_col = 0)

df_lotte = pd.read_csv('롯데케미칼.csv', index_col = 0,header = 0)

df_lotte.index = pd.to_datetime(df_lotte.index)

df = pd.concat([df_naver, df_samsung, df_lotte], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis = 1, join = 'outer')
df

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2021-12-16       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-17       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-20       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-21       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-22       NaN       NaN       NaN       NaN       NaN       NaN

stock      samsung                                  lotte                      \
날짜            Open High Low Close Volume Change      Open      High       Low
Date
2016-01-04     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-05     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-06     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-07     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-08     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
...            ...  ...  ..   ...    ...    ...       ...       ...       ...
2021-12-16     NaN  NaN NaN   NaN    NaN    NaN  233000.0  234000.0  224500.0
2021-12-17     NaN  NaN NaN   NaN    NaN    NaN  227000.0  235000.0  226500.0
2021-12-20     NaN  NaN NaN   NaN    NaN    NaN  232000.0  233500.0  228000.0
2021-12-21     NaN  NaN NaN   NaN    NaN    NaN  232000.0  232500.0  227000.0
2021-12-22     NaN  NaN NaN   NaN    NaN    NaN  229000.0  230000.0  225000.0

stock
날짜             Close    Volume    Change
Date
2016-01-04       NaN       NaN       NaN
2016-01-05       NaN       NaN       NaN
2016-01-06       NaN       NaN       NaN
2016-01-07       NaN       NaN       NaN
2016-01-08       NaN       NaN       NaN
...              ...       ...       ...
2021-12-16  228000.0  144647.0 -0.012987
2021-12-17  234500.0  138945.0  0.028509
2021-12-20  229500.0   90630.0 -0.021322
2021-12-21  229500.0   98669.0  0.000000
2021-12-22  225000.0   99419.0 -0.019608

[1469 rows x 18 columns]

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1469 entries, 2016-01-04 to 2021-12-22
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (naver, Open)      979 non-null    float64
 1   (naver, High)      979 non-null    float64
 2   (naver, Low)       979 non-null    float64
 3   (naver, Close)     979 non-null    float64
 4   (naver, Volume)    979 non-null    float64
 5   (naver, Change)    979 non-null    float64
 6   (samsung, Open)    738 non-null    float64
 7   (samsung, High)    738 non-null    float64
 8   (samsung, Low)     738 non-null    float64
 9   (samsung, Close)   738 non-null    float64
 10  (samsung, Volume)  738 non-null    float64
 11  (samsung, Change)  738 non-null    float64
 12  (lotte, Open)      980 non-null    float64
 13  (lotte, High)      980 non-null    float64
 14  (lotte, Low)       980 non-null    float64
 15  (lotte, Close)     980 non-null    float64
 16  (lotte, Volume)    980 non-null    float64
 17  (lotte, Change)    980 non-null    float64
dtypes: float64(18)
memory usage: 218.1 KB

In [188]:
df.describe()

stock          naver                                               \
날짜              Open           High            Low          Close
count     979.000000     979.000000     979.000000     979.000000
mean   147904.304392  149774.075587  145962.802860  148274.173647
std     20766.399720   20897.664784   20573.241066   19056.913614
min         0.000000       0.000000       0.000000  106500.000000
25%    132544.000000  134500.000000  130441.500000  133000.000000
50%    151412.000000  153500.000000  149811.000000  151214.000000
75%    162230.000000  164000.000000  160426.500000  162029.000000
max    189068.000000  195275.000000  186865.000000  192272.000000

stock                                 samsung                              \
날짜           Volume      Change          Open          High           Low
count  9.790000e+02  979.000000    738.000000    738.000000    738.000000
mean   2.208698e+05    0.000545  50000.460705  50533.481030  49458.523035
std    2.856504e+05    0.019582   7702.675480   7820.644455   7631.618287
min    0.000000e+00   -0.067706      0.000000      0.000000      0.000000
25%    7.384250e+04   -0.010662  45262.500000  45900.000000  44900.000000
50%    1.083110e+05    0.000000  48680.000000  49200.000000  48000.000000
75%    2.941180e+05    0.010373  53600.000000  53900.000000  52875.000000
max    5.304519e+06    0.139241  79000.000000  81300.000000  78200.000000

stock                                                  lotte                 \
날짜            Close        Volume      Change           Open           High
count    738.000000  7.380000e+02  738.000000     980.000000     980.000000
mean   50216.869919  1.361474e+07    0.000784  270290.816327  274691.836735
std     7055.377470  9.439103e+06    0.017700   67071.213030   67905.088593
min    37450.000000  0.000000e+00   -0.063877  121000.000000  143000.000000
25%    45500.000000  8.077088e+06   -0.009950  223500.000000  226375.000000
50%    48745.000000  1.199751e+07    0.001065  265500.000000  269000.000000
75%    53500.000000  1.775210e+07    0.010629  299625.000000  304000.000000
max    81000.000000  6.349111e+07    0.104706  474500.000000  475000.000000

stock
날짜               Low          Close        Volume      Change
count     980.000000     980.000000  9.800000e+02  980.000000
mean   265755.102041  269804.081633  1.881471e+05   -0.000144
std     66068.051743   66937.798972  2.816061e+05    0.026984
min    114500.000000  117000.000000  4.348100e+04   -0.155235
25%    219500.000000  223000.000000  1.030385e+05   -0.013799
50%    262000.000000  265000.000000  1.483915e+05   -0.001410
75%    293625.000000  299000.000000  2.241755e+05    0.012306
max    463500.000000  474500.000000  8.154268e+06    0.260684

## 조건 (DataFrame과 DataFrame의 연산 주의!)

In [189]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'a':[1,4,7], 'b':[2,5,8], 'c':[3,6,9]})
df1

df2 = pd.DataFrame({'a':[-1,-4,-7], 'b':[np.nan,np.nan,np.nan], 'e':[3,6,9]})
df2

df1 + df2

   a   b   c   e
0  0 NaN NaN NaN
1  0 NaN NaN NaN
2  0 NaN NaN NaN

DataFrame[Series조건값].index or values

In [190]:
pd.set_option('display.max_rows', 200)
#pd.set_option('display.max_rows', None)

df_samsung = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'samsung', index_col = 0)

df_kospi = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'kospi', index_col = 0)

df_kospi

FileNotFoundError: [Errno 2] No such file or directory: 'samsung_kospi_excel.xlsx'