# DataFrame

## DataFrame 만들기

기본 형태 : pd.DataFrame(data, index, cloums)  
- index와 columns는 변수를 리스트로 받음
- data는 list, dictionary, Series 될 수 있음
- dictionary로 생성시 index 혹은 col값 설정 주의

In [1]:
 import pandas as pd

ModuleNotFoundError: No module named 'pandas'

### list로 DataFrame 만들기

In [2]:
ls = ["a", "b", "c", "d", "e"]

ls_df = pd.DataFrame(ls, index=['영수','영철','영자','영희','영삼'], columns=["성적"])
ls_df

   성적
영수  a
영철  b
영자  c
영희  d
영삼  e

#### index 와 Column 생성 방법

상기와 같이 작성 하기도 하지만, 리스트 생성뒤 index, columns 설정 하는 방법도 잘 쓰인다

In [5]:
ls_df = pd.DataFrame(ls)
ls_df.index = ['영수','영철','영자','영희','영삼']
ls_df.columns = ["성적"] 
ls_df

   성적
영수  a
영철  b
영자  c
영희  d
영삼  e

colums 의 형태는 list인 점 주의

### dictionary로 생성

In [6]:
dic = {"영수": 101, "영철": 102, "영삼": 103, "영자": 104, "영호": 105}

dic_df = pd.DataFrame(dic)
dic_df

ValueError: If using all scalar values, you must pass an index

dictionary로 생성시 인덱스 지정 하지 않으면 문법적 오류 생성...

In [18]:
dic_df = pd.DataFrame(dic, index = [0])  
dic_df

Int64Index([0], dtype='int64')

In [19]:
dic_df.columns = ["성적"]
dic_df

ValueError: Length mismatch: Expected axis has 5 elements, new values have 1 elements

In [25]:
type(dic.values())

dict_values

In [26]:
dic.values()

dict_values([101, 102, 103, 104, 105])

In [27]:
dic_df = pd.DataFrame(dic.values())
dic_df

     0
0  101
1  102
2  103
3  104
4  105

In [29]:
dic_df.index = dic.keys()
dic_df.columns = ['성적']
dic_df

     성적
영수  101
영철  102
영삼  103
영자  104
영호  105

### Series로 생성하기

In [32]:
samsung = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)
samsung_df = pd.DataFrame(samsung)
samsung_df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\4061878558.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  samsung = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)

            Close
Date
2018-01-02  51020
2018-01-03  51620
2018-01-04  51080
2018-01-05  52120
2018-01-08  52020
...           ...
2021-12-13  76800
2021-12-14  77000
2021-12-15  77600
2021-12-16  77800
2021-12-17  78000

[977 rows x 1 columns]

In [33]:
type(samsung_df)

pandas.core.frame.DataFrame

In [34]:
samsung_df.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [35]:
samsung_df.columns

Index(['Close'], dtype='object')

## 외부 데이터에서 가져오기

In [43]:
import pandas as pd

cf.  
Series :   
pd.read_csv(path, index_col, header, squeeze = True)

DataFrame :  
pd.read_csv(path, index_col, header, squeeze = False)  
pd.read_csv(path, index_col, header)

In [42]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 'Date')
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [44]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 'High')
lotte_che

              Date    Open     Low   Close  Volume    Change
High
370000  2018-01-02  368000  360500  360500   92533 -0.020380
368500  2018-01-03  360000  360000  363000   81340  0.006935
367500  2018-01-04  367500  349000  349000  190391 -0.038567
352000  2018-01-05  351000  348000  351500   99268  0.007163
383500  2018-01-08  359000  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
234000  2021-12-16  233000  224500  228000  144647 -0.012987
235000  2021-12-17  227000  226500  234500  138945  0.028509
233500  2021-12-20  232000  228000  229500   90630 -0.021322
232500  2021-12-21  232000  227000  229500   98669  0.000000
230000  2021-12-22  229000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [46]:
lotte_che = pd.read_csv('롯데케미칼.csv', index_col = 0,header = 0)
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

## DataFrame 행과 열 선택 하기

[] -> Series , [[]] -> DataFrame

### 행 선택하기

#### lable로 선택하기

#### dataFrame.loc[행label]

In [47]:
lotte_che.loc['2018-01-02']

Open      368000.00000
High      370000.00000
Low       360500.00000
Close     360500.00000
Volume     92533.00000
Change        -0.02038
Name: 2018-01-02, dtype: float64

In [49]:
type(lotte_che.loc['2018-01-02'] )

pandas.core.series.Series

#### dataFrame.loc[행label:행label]

In [75]:
lotte_che.loc['2018-01-02':'2018-01-08']

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038

#### dataFrame.loc[[행label,행label...]]

In [48]:
lotte_che.loc[['2021-12-16', '2021-12-17', '2021-12-20']]

              Open    High     Low   Close  Volume    Change
Date
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322

In [50]:
type(lotte_che.loc[['2021-12-16', '2021-12-17', '2021-12-20']])

pandas.core.frame.DataFrame

#### 사용 불가 dataFrame.loc[행label,행label]

In [69]:
lotte_che.loc['2021-12-16', '2021-12-17', '2021-12-20']

IndexingError: Too many indexers

#### 사용 불가 dataFrame.loc[[행label:행label]]

In [76]:
lotte_che.loc[['2021-12-16':'2021-12-20']]

SyntaxError: invalid syntax (1126601001.py, line 1)

#### index로 선택하기

#### dataFrame.iloc[행index]

In [51]:
lotte_che.iloc[0]

Open      368000.00000
High      370000.00000
Low       360500.00000
Close     360500.00000
Volume     92533.00000
Change        -0.02038
Name: 2018-01-02, dtype: float64

#### dataFrame.iloc[행index:행index]

In [72]:
lotte_che.iloc[0:4]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163

#### dataFrame[행index:행index]

In [82]:
lotte_che[0:4]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163

#### dataFrame.iloc[[행index,행index...]]

In [70]:
lotte_che.iloc[[0,100, 56]]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-05-30  371000  376500  361500  363000  107516 -0.026810
2018-03-26  423000  440500  423000  440500   93789  0.024419

#### 사용 불가 dataframe[행label], dataframe[[행label]]

In [65]:
lotte_che['2018-01-02']

KeyError: '2018-01-02'

In [66]:
lotte_che[['2018-01-02']]

KeyError: "None of [Index(['2018-01-02'], dtype='object')] are in the [columns]"

#### 사용 불가 dataFrame.iloc[[행index:행index]]

In [73]:
lotte_che.iloc[[0:4]]

SyntaxError: invalid syntax (280868775.py, line 1)

### 열 선택하기

#### label로 선택하기

#### dataframe[열label]

In [56]:
lotte_che['Open']

Date
2018-01-02    368000
2018-01-03    360000
2018-01-04    367500
2018-01-05    351000
2018-01-08    359000
               ...
2021-12-16    233000
2021-12-17    227000
2021-12-20    232000
2021-12-21    232000
2021-12-22    229000
Name: Open, Length: 980, dtype: int64

In [58]:
type(lotte_che['Open'])

pandas.core.series.Series

#### dataframe[[열label]]

In [59]:
lotte_che[['Open']]

              Open
Date
2018-01-02  368000
2018-01-03  360000
2018-01-04  367500
2018-01-05  351000
2018-01-08  359000
...            ...
2021-12-16  233000
2021-12-17  227000
2021-12-20  232000
2021-12-21  232000
2021-12-22  229000

[980 rows x 1 columns]

In [67]:
type(lotte_che[['Open']])

pandas.core.frame.DataFrame

#### dataFrame[[열label,열label...]]

In [53]:
lotte_che[['Open', 'High']]

              Open    High
Date
2018-01-02  368000  370000
2018-01-03  360000  368500
2018-01-04  367500  367500
2018-01-05  351000  352000
2018-01-08  359000  383500
...            ...     ...
2021-12-16  233000  234000
2021-12-17  227000  235000
2021-12-20  232000  233500
2021-12-21  232000  232500
2021-12-22  229000  230000

[980 rows x 2 columns]

#### 사용 불가 dataframe[열label,열label]

In [78]:
lotte_che['Open', 'High']

KeyError: ('Open', 'High')

#### index로 선택하기

#### dataFrame[dataFrame.colums[[열index,열index...]]

In [54]:
lotte_che[lotte_che.columns[[5, 1, 2]]]

              Change    High     Low
Date
2018-01-02 -0.020380  370000  360500
2018-01-03  0.006935  368500  360000
2018-01-04 -0.038567  367500  349000
2018-01-05  0.007163  352000  348000
2018-01-08  0.091038  383500  358000
...              ...     ...     ...
2021-12-16 -0.012987  234000  224500
2021-12-17  0.028509  235000  226500
2021-12-20 -0.021322  233500  228000
2021-12-21  0.000000  232500  227000
2021-12-22 -0.019608  230000  225000

[980 rows x 3 columns]

#### dataFrame[dataFrame.colums[열index : 열index]]

In [88]:
lotte_che.columns[0:2]

Index(['Open', 'High'], dtype='object')

In [87]:
lotte_che[lotte_che.columns[0:2]]

              Open    High
Date
2018-01-02  368000  370000
2018-01-03  360000  368500
2018-01-04  367500  367500
2018-01-05  351000  352000
2018-01-08  359000  383500
...            ...     ...
2021-12-16  233000  234000
2021-12-17  227000  235000
2021-12-20  232000  233500
2021-12-21  232000  232500
2021-12-22  229000  230000

[980 rows x 2 columns]

In [89]:
lotte_che[lotte_che.columns[:-1]]

              Open    High     Low   Close  Volume
Date
2018-01-02  368000  370000  360500  360500   92533
2018-01-03  360000  368500  360000  363000   81340
2018-01-04  367500  367500  349000  349000  190391
2018-01-05  351000  352000  348000  351500   99268
2018-01-08  359000  383500  358000  383500  490208
...            ...     ...     ...     ...     ...
2021-12-16  233000  234000  224500  228000  144647
2021-12-17  227000  235000  226500  234500  138945
2021-12-20  232000  233500  228000  229500   90630
2021-12-21  232000  232500  227000  229500   98669
2021-12-22  229000  230000  225000  225000   99419

[980 rows x 5 columns]

#### 사용 불가 dataFrame[열index]

In [79]:
lotte_che[0]

KeyError: 0

#### 사용 불가 dataFrame[열index] -> 행index로 작동

In [81]:
lotte_che[0:5]

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038

## 열 추가 하기

In [90]:
lotte_che

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533 -0.020380
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

In [91]:
lotte_che = lotte_che[lotte_che.columns[:-1]]
lotte_che

              Open    High     Low   Close  Volume
Date
2018-01-02  368000  370000  360500  360500   92533
2018-01-03  360000  368500  360000  363000   81340
2018-01-04  367500  367500  349000  349000  190391
2018-01-05  351000  352000  348000  351500   99268
2018-01-08  359000  383500  358000  383500  490208
...            ...     ...     ...     ...     ...
2021-12-16  233000  234000  224500  228000  144647
2021-12-17  227000  235000  226500  234500  138945
2021-12-20  232000  233500  228000  229500   90630
2021-12-21  232000  232500  227000  229500   98669
2021-12-22  229000  230000  225000  225000   99419

[980 rows x 5 columns]

In [92]:
lotte_che['Return'] = lotte_che['Close'].pct_change().fillna(0)
lotte_che

              Open    High     Low   Close  Volume    Return
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

## 행 추가 하기

### 행 추가시 Demension 맞게!!

#### 차원 안 맞을 시 오류

In [93]:
lotte_che.loc['2021-12-23'] = 0, 0

ValueError: cannot set a row with mismatched columns

In [95]:
lotte_che.loc['2021-12-23'] = [0, 0]

ValueError: cannot set a row with mismatched columns

In [98]:
lotte_che.shape

(980, 6)

In [328]:
lotte_che.loc['2021-12-23'] = [0,0,0,0,0,0] # 차원이 맞아야 할당 가능 하다
lotte_che

              Open    High     Low   Close  Volume    Return
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608
2021-12-23       0       0       0       0       0  0.000000

[981 rows x 6 columns]

In [103]:
lotte_che.loc['2021-12-23'] = [100,100,100,100,100,100]
lotte_che

              Open    High     Low   Close  Volume      Return
Date
2018-01-02  368000  370000  360500  360500   92533    0.000000
2018-01-03  360000  368500  360000  363000   81340    0.006935
2018-01-04  367500  367500  349000  349000  190391   -0.038567
2018-01-05  351000  352000  348000  351500   99268    0.007163
2018-01-08  359000  383500  358000  383500  490208    0.091038
...            ...     ...     ...     ...     ...         ...
2021-12-17  227000  235000  226500  234500  138945    0.028509
2021-12-20  232000  233500  228000  229500   90630   -0.021322
2021-12-21  232000  232500  227000  229500   98669    0.000000
2021-12-22  229000  230000  225000  225000   99419   -0.019608
2021-12-23     100     100     100     100     100  100.000000

[981 rows x 6 columns]

In [329]:
lotte_che.loc['2021-12-23'] = 0 # scalar는 Braodcasting?
lotte_che

              Open    High     Low   Close  Volume    Return
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608
2021-12-23       0       0       0       0       0  0.000000

[981 rows x 6 columns]

## 행과 열 예제

In [106]:
  def return_fn(df):
        df_close = df['Close']
        df_close['Return'] = df_close.pct_change().fillna(0)
        return df_close

In [109]:
df = return_fn(df = lotte_che)
df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\2890281629.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Return'] = df_close.pct_change().fillna(0)

Date
2018-01-02                                               360500
2018-01-03                                               363000
2018-01-04                                               349000
2018-01-05                                               351500
2018-01-08                                               383500
                                    ...
2021-12-20                                               229500
2021-12-21                                               229500
2021-12-22                                               225000
2021-12-23                                                    0
Return        Date
2018-01-02    0.000000
2018-01-03    0.00...
Name: Close, Length: 982, dtype: object

In [111]:
df = return_fn(lotte_che)
df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\2890281629.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Return'] = df_close.pct_change().fillna(0)

Date
2018-01-02                                               360500
2018-01-03                                               363000
2018-01-04                                               349000
2018-01-05                                               351500
2018-01-08                                               383500
                                    ...
2021-12-20                                               229500
2021-12-21                                               229500
2021-12-22                                               225000
2021-12-23                                                    0
Return        Date
2018-01-02    0.000000
2018-01-03    0.00...
Name: Close, Length: 982, dtype: object

In [112]:
def return_fn(df):
        df_close = df[['Close']]
        df_close['Return'] = df_close.pct_change().fillna(0)
        return df_close

In [113]:
df = return_fn(df = lotte_che)
df

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\2300554577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Return'] = df_close.pct_change().fillna(0)

             Close    Return
Date
2018-01-02  360500  0.000000
2018-01-03  363000  0.006935
2018-01-04  349000 -0.038567
2018-01-05  351500  0.007163
2018-01-08  383500  0.091038
...            ...       ...
2021-12-17  234500  0.028509
2021-12-20  229500 -0.021322
2021-12-21  229500  0.000000
2021-12-22  225000 -0.019608
2021-12-23       0 -1.000000

[981 rows x 2 columns]

## DataFrame 합치기

concat, join, merge

In [114]:
import pandas as pd
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 200)

In [116]:
df_samsung = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'samsung', index_col = 0)
df_samsung

             Open   High    Low  Close    Volume    Change
Date
2018-01-02  51380  51400  50780  51020    169485  0.001177
2018-01-03  52540  52560  51420  51620    200270  0.011760
2018-01-04  52120  52180  50640  51080    233909 -0.010461
2018-01-05  51300  52120  51200  52120    189623  0.020360
2018-01-08  52400  52520  51500  52020    167673 -0.001919
...           ...    ...    ...    ...       ...       ...
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

[738 rows x 6 columns]

In [117]:
df_naver = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'naver', index_col = 0)
df_naver

              Open    High     Low   Close  Volume    Change
Date
2016-01-04  130182  131784  126578  126579   93272 -0.039511
2016-01-05  126778  128580  126378  127580   69456  0.007908
2016-01-06  129181  129181  124575  124776   95682 -0.021978
2016-01-07  125377  132187  125377  130585  125253  0.046555
2016-01-08  130585  131987  128582  130585   63922  0.000000
...            ...     ...     ...     ...     ...       ...
2019-12-23  185000  185500  182000  184000  250256  0.002725
2019-12-24  184000  184000  179000  182000  193440 -0.010870
2019-12-26  181500  183000  179000  180500  173426 -0.008242
2019-12-27  182000  185000  179000  183500  323473  0.016620
2019-12-30  183500  190000  183500  186500  376541  0.016349

[979 rows x 6 columns]

In [128]:
df = pd.concat([df_naver, df_samsung])
df

              Open    High     Low   Close    Volume    Change
Date
2016-01-04  130182  131784  126578  126579     93272 -0.039511
2016-01-05  126778  128580  126378  127580     69456  0.007908
2016-01-06  129181  129181  124575  124776     95682 -0.021978
2016-01-07  125377  132187  125377  130585    125253  0.046555
2016-01-08  130585  131987  128582  130585     63922  0.000000
...            ...     ...     ...     ...       ...       ...
2020-12-23   72400   74000   72300   73900  19411326  0.022130
2020-12-24   74100   78800   74000   77800  32502870  0.052774
2020-12-28   79000   80100   78200   78700  40085044  0.011568
2020-12-29   78800   78900   77300   78300  30339449 -0.005083
2020-12-30   77400   81300   77300   81000  29417421  0.034483

[1717 rows x 6 columns]

In [129]:
df = pd.concat([df_samsung, df_naver])
df

              Open    High     Low   Close  Volume    Change
Date
2018-01-02   51380   51400   50780   51020  169485  0.001177
2018-01-03   52540   52560   51420   51620  200270  0.011760
2018-01-04   52120   52180   50640   51080  233909 -0.010461
2018-01-05   51300   52120   51200   52120  189623  0.020360
2018-01-08   52400   52520   51500   52020  167673 -0.001919
...            ...     ...     ...     ...     ...       ...
2019-12-23  185000  185500  182000  184000  250256  0.002725
2019-12-24  184000  184000  179000  182000  193440 -0.010870
2019-12-26  181500  183000  179000  180500  173426 -0.008242
2019-12-27  182000  185000  179000  183500  323473  0.016620
2019-12-30  183500  190000  183500  186500  376541  0.016349

[1717 rows x 6 columns]

In [131]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'])

df.loc[('samsung','2018-03-15')]

Open       52000.00000
High       52020.00000
Low        51020.00000
Close      51540.00000
Volume    177649.00000
Change        -0.00425
Name: (samsung, 2018-03-15 00:00:00), dtype: float64

In [120]:
df

                      Open    High     Low   Close    Volume    Change
stock   날짜
naver   2016-01-04  130182  131784  126578  126579     93272 -0.039511
        2016-01-05  126778  128580  126378  127580     69456  0.007908
        2016-01-06  129181  129181  124575  124776     95682 -0.021978
        2016-01-07  125377  132187  125377  130585    125253  0.046555
        2016-01-08  130585  131987  128582  130585     63922  0.000000
...                    ...     ...     ...     ...       ...       ...
samsung 2020-12-23   72400   74000   72300   73900  19411326  0.022130
        2020-12-24   74100   78800   74000   77800  32502870  0.052774
        2020-12-28   79000   80100   78200   78700  40085044  0.011568
        2020-12-29   78800   78900   77300   78300  30339449 -0.005083
        2020-12-30   77400   81300   77300   81000  29417421  0.034483

[1717 rows x 6 columns]

In [133]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=0)
df

                      Open    High     Low   Close    Volume    Change
stock   날짜
naver   2016-01-04  130182  131784  126578  126579     93272 -0.039511
        2016-01-05  126778  128580  126378  127580     69456  0.007908
        2016-01-06  129181  129181  124575  124776     95682 -0.021978
        2016-01-07  125377  132187  125377  130585    125253  0.046555
        2016-01-08  130585  131987  128582  130585     63922  0.000000
...                    ...     ...     ...     ...       ...       ...
samsung 2020-12-23   72400   74000   72300   73900  19411326  0.022130
        2020-12-24   74100   78800   74000   77800  32502870  0.052774
        2020-12-28   79000   80100   78200   78700  40085044  0.011568
        2020-12-29   78800   78900   77300   78300  30339449 -0.005083
        2020-12-30   77400   81300   77300   81000  29417421  0.034483

[1717 rows x 6 columns]

In [123]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=1)
df

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2020-12-23       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-24       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-28       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-29       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-30       NaN       NaN       NaN       NaN       NaN       NaN

stock       samsung
날짜             Open     High      Low    Close      Volume    Change
Date
2016-01-04      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-05      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-06      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-07      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-08      NaN      NaN      NaN      NaN         NaN       NaN
...             ...      ...      ...      ...         ...       ...
2020-12-23  72400.0  74000.0  72300.0  73900.0  19411326.0  0.022130
2020-12-24  74100.0  78800.0  74000.0  77800.0  32502870.0  0.052774
2020-12-28  79000.0  80100.0  78200.0  78700.0  40085044.0  0.011568
2020-12-29  78800.0  78900.0  77300.0  78300.0  30339449.0 -0.005083
2020-12-30  77400.0  81300.0  77300.0  81000.0  29417421.0  0.034483

[1227 rows x 12 columns]

In [124]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=1, join='outer')
df

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2020-12-23       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-24       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-28       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-29       NaN       NaN       NaN       NaN       NaN       NaN
2020-12-30       NaN       NaN       NaN       NaN       NaN       NaN

stock       samsung
날짜             Open     High      Low    Close      Volume    Change
Date
2016-01-04      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-05      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-06      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-07      NaN      NaN      NaN      NaN         NaN       NaN
2016-01-08      NaN      NaN      NaN      NaN         NaN       NaN
...             ...      ...      ...      ...         ...       ...
2020-12-23  72400.0  74000.0  72300.0  73900.0  19411326.0  0.022130
2020-12-24  74100.0  78800.0  74000.0  77800.0  32502870.0  0.052774
2020-12-28  79000.0  80100.0  78200.0  78700.0  40085044.0  0.011568
2020-12-29  78800.0  78900.0  77300.0  78300.0  30339449.0 -0.005083
2020-12-30  77400.0  81300.0  77300.0  81000.0  29417421.0  0.034483

[1227 rows x 12 columns]

In [126]:
df = pd.concat([df_naver, df_samsung], keys=['naver', 'samsung'], names=['stock', '날짜'], axis=1, join='inner')
df

stock        naver                                           samsung         \
날짜            Open    High     Low   Close  Volume    Change    Open   High
Date
2018-01-02  174447  177251  174247  177251   93587  0.017240   51380  51400
2018-01-03  175448  177051  173045  174447   84790 -0.015819   52540  52560
2018-01-04  176048  179653  174847  178853  130112  0.025257   52120  52180
2018-01-05  178852  183858  176249  181857  136811  0.016796   51300  52120
2018-01-08  183258  190869  181856  190269  196338  0.046256   52400  52520
...            ...     ...     ...     ...     ...       ...     ...    ...
2019-12-23  185000  185500  182000  184000  250256  0.002725   56100  56400
2019-12-24  184000  184000  179000  182000  193440 -0.010870   55600  55700
2019-12-26  181500  183000  179000  180500  173426 -0.008242   54700  55400
2019-12-27  182000  185000  179000  183500  323473  0.016620   55700  56900
2019-12-30  183500  190000  183500  186500  376541  0.016349   56200  56600

stock
날짜            Low  Close    Volume    Change
Date
2018-01-02  50780  51020    169485  0.001177
2018-01-03  51420  51620    200270  0.011760
2018-01-04  50640  51080    233909 -0.010461
2018-01-05  51200  52120    189623  0.020360
2018-01-08  51500  52020    167673 -0.001919
...           ...    ...       ...       ...
2019-12-23  55100  55500   9839252 -0.008929
2019-12-24  54800  55000  11868463 -0.009009
2019-12-26  54400  55400   9645034  0.007273
2019-12-27  55500  56500  12313056  0.019856
2019-12-30  55700  55800   8356767 -0.012389

[490 rows x 12 columns]

In [138]:
df = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=0, join='outer')
df

                             Open    High     Low   Close  Volume    Change  \
stock 날짜
naver 2016-01-04 00:00:00  130182  131784  126578  126579   93272 -0.039511
      2016-01-05 00:00:00  126778  128580  126378  127580   69456  0.007908
      2016-01-06 00:00:00  129181  129181  124575  124776   95682 -0.021978
      2016-01-07 00:00:00  125377  132187  125377  130585  125253  0.046555
      2016-01-08 00:00:00  130585  131987  128582  130585   63922  0.000000
...                           ...     ...     ...     ...     ...       ...
lotte 2021-12-17           227000  235000  226500  234500  138945       NaN
      2021-12-20           232000  233500  228000  229500   90630       NaN
      2021-12-21           232000  232500  227000  229500   98669       NaN
      2021-12-22           229000  230000  225000  225000   99419       NaN
      2021-12-23                0       0       0       0       0       NaN

                             Return
stock 날짜
naver 2016-01-04 00:00:00       NaN
      2016-01-05 00:00:00       NaN
      2016-01-06 00:00:00       NaN
      2016-01-07 00:00:00       NaN
      2016-01-08 00:00:00       NaN
...                             ...
lotte 2021-12-17           0.028509
      2021-12-20          -0.021322
      2021-12-21           0.000000
      2021-12-22          -0.019608
      2021-12-23           0.000000

[2698 rows x 7 columns]

In [139]:
df = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=1, join='inner')
df

Empty DataFrame
Columns: [(naver, Open), (naver, High), (naver, Low), (naver, Close), (naver, Volume), (naver, Change), (samsung, Open), (samsung, High), (samsung, Low), (samsung, Close), (samsung, Volume), (samsung, Change), (lotte, Open), (lotte, High), (lotte, Low), (lotte, Close), (lotte, Volume), (lotte, Return)]
Index: []

In [140]:
df_naver.index
df_samsung.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=738, freq=None)

In [141]:
lotte_che.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
       '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23'],
      dtype='object', name='Date', length=981)

### 합칠때 index가 같아야 한다 ( type까지 )

In [144]:
type(df_naver.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [145]:
type(lotte_che.index[0])

str

In [147]:
lotte_che.index = pd.to_datetime(lotte_che.index)
lotte_che.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15',
               ...
               '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23'],
              dtype='datetime64[ns]', name='Date', length=981, freq=None)

In [148]:
df = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=1, join='inner')
df

stock        naver                                           samsung         \
날짜            Open    High     Low   Close  Volume    Change    Open   High
Date
2018-01-02  174447  177251  174247  177251   93587  0.017240   51380  51400
2018-01-03  175448  177051  173045  174447   84790 -0.015819   52540  52560
2018-01-04  176048  179653  174847  178853  130112  0.025257   52120  52180
2018-01-05  178852  183858  176249  181857  136811  0.016796   51300  52120
2018-01-08  183258  190869  181856  190269  196338  0.046256   52400  52520
...            ...     ...     ...     ...     ...       ...     ...    ...
2019-12-23  185000  185500  182000  184000  250256  0.002725   56100  56400
2019-12-24  184000  184000  179000  182000  193440 -0.010870   55600  55700
2019-12-26  181500  183000  179000  180500  173426 -0.008242   54700  55400
2019-12-27  182000  185000  179000  183500  323473  0.016620   55700  56900
2019-12-30  183500  190000  183500  186500  376541  0.016349   56200  56600

stock                                          lotte                          \
날짜            Low  Close    Volume    Change    Open    High     Low   Close
Date
2018-01-02  50780  51020    169485  0.001177  368000  370000  360500  360500
2018-01-03  51420  51620    200270  0.011760  360000  368500  360000  363000
2018-01-04  50640  51080    233909 -0.010461  367500  367500  349000  349000
2018-01-05  51200  52120    189623  0.020360  351000  352000  348000  351500
2018-01-08  51500  52020    167673 -0.001919  359000  383500  358000  383500
...           ...    ...       ...       ...     ...     ...     ...     ...
2019-12-23  55100  55500   9839252 -0.008929  235500  237000  231500  233000
2019-12-24  54800  55000  11868463 -0.009009  232000  235500  230000  232000
2019-12-26  54400  55400   9645034  0.007273  234000  234000  229500  230500
2019-12-27  55500  56500  12313056  0.019856  226500  229500  225000  228500
2019-12-30  55700  55800   8356767 -0.012389  228500  229000  223000  224000

stock
날짜          Volume    Return
Date
2018-01-02   92533  0.000000
2018-01-03   81340  0.006935
2018-01-04  190391 -0.038567
2018-01-05   99268  0.007163
2018-01-08  490208  0.091038
...            ...       ...
2019-12-23   87888 -0.006397
2019-12-24   56481 -0.004292
2019-12-26   97614 -0.006466
2019-12-27   91022 -0.008677
2019-12-30  113754 -0.019694

[490 rows x 18 columns]

## Nan 핸들링

### Q) DataFrame 에서 Nan값에 해당되는 날짜만 찾는 방법은?

In [149]:
df_nan = pd.concat([df_naver, df_samsung, lotte_che], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis=1, join='outer')
df_nan

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2021-12-17       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-20       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-21       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-22       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-23       NaN       NaN       NaN       NaN       NaN       NaN

stock      samsung                                  lotte                      \
날짜            Open High Low Close Volume Change      Open      High       Low
Date
2016-01-04     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-05     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-06     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-07     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-08     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
...            ...  ...  ..   ...    ...    ...       ...       ...       ...
2021-12-17     NaN  NaN NaN   NaN    NaN    NaN  227000.0  235000.0  226500.0
2021-12-20     NaN  NaN NaN   NaN    NaN    NaN  232000.0  233500.0  228000.0
2021-12-21     NaN  NaN NaN   NaN    NaN    NaN  232000.0  232500.0  227000.0
2021-12-22     NaN  NaN NaN   NaN    NaN    NaN  229000.0  230000.0  225000.0
2021-12-23     NaN  NaN NaN   NaN    NaN    NaN       0.0       0.0       0.0

stock
날짜             Close    Volume    Return
Date
2016-01-04       NaN       NaN       NaN
2016-01-05       NaN       NaN       NaN
2016-01-06       NaN       NaN       NaN
2016-01-07       NaN       NaN       NaN
2016-01-08       NaN       NaN       NaN
...              ...       ...       ...
2021-12-17  234500.0  138945.0  0.028509
2021-12-20  229500.0   90630.0 -0.021322
2021-12-21  229500.0   98669.0  0.000000
2021-12-22  225000.0   99419.0 -0.019608
2021-12-23       0.0       0.0  0.000000

[1470 rows x 18 columns]

In [282]:
df_nan['Close'] # 착각 Case1

KeyError: 'Close'

In [283]:
df_nan[['Close']] # 착각 Case2

KeyError: "['Close'] not in index"

In [284]:
df_nan[['Open','Close']] # 착각 Case3

KeyError: "['Open' 'Close'] not in index"

In [155]:
df_nan.columns

MultiIndex([(  'naver',   'Open'),
            (  'naver',   'High'),
            (  'naver',    'Low'),
            (  'naver',  'Close'),
            (  'naver', 'Volume'),
            (  'naver', 'Change'),
            ('samsung',   'Open'),
            ('samsung',   'High'),
            ('samsung',    'Low'),
            ('samsung',  'Close'),
            ('samsung', 'Volume'),
            ('samsung', 'Change'),
            (  'lotte',   'Open'),
            (  'lotte',   'High'),
            (  'lotte',    'Low'),
            (  'lotte',  'Close'),
            (  'lotte', 'Volume'),
            (  'lotte', 'Return')],
           names=['stock', '날짜'])

In [156]:
df_nan[('samsung',  'Close')]

Date
2016-01-04   NaN
2016-01-05   NaN
2016-01-06   NaN
2016-01-07   NaN
2016-01-08   NaN
              ..
2021-12-17   NaN
2021-12-20   NaN
2021-12-21   NaN
2021-12-22   NaN
2021-12-23   NaN
Name: (samsung, Close), Length: 1470, dtype: float64

In [157]:
df_nan[[('samsung',  'Close')]]

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[1470 rows x 1 columns]

In [180]:
df_samsung_close = df_nan[[('samsung',  'Close')]]
df_samsung_close

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[1470 rows x 1 columns]

In [182]:
df_samsung_close.isna()

stock      samsung
날짜           Close
Date
2016-01-04    True
2016-01-05    True
2016-01-06    True
2016-01-07    True
2016-01-08    True
...            ...
2021-12-17    True
2021-12-20    True
2021-12-21    True
2021-12-22    True
2021-12-23    True

[1470 rows x 1 columns]

In [162]:
df_samsung_close.isna().sum()

stock    날짜
samsung  Close    732
dtype: int64

In [163]:
df_samsung_close.shape[0]

1470

### dropna로 join = 'inner' 효과 내기

In [165]:
df_nan

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2021-12-17       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-20       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-21       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-22       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-23       NaN       NaN       NaN       NaN       NaN       NaN

stock      samsung                                  lotte                      \
날짜            Open High Low Close Volume Change      Open      High       Low
Date
2016-01-04     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-05     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-06     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-07     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-08     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
...            ...  ...  ..   ...    ...    ...       ...       ...       ...
2021-12-17     NaN  NaN NaN   NaN    NaN    NaN  227000.0  235000.0  226500.0
2021-12-20     NaN  NaN NaN   NaN    NaN    NaN  232000.0  233500.0  228000.0
2021-12-21     NaN  NaN NaN   NaN    NaN    NaN  232000.0  232500.0  227000.0
2021-12-22     NaN  NaN NaN   NaN    NaN    NaN  229000.0  230000.0  225000.0
2021-12-23     NaN  NaN NaN   NaN    NaN    NaN       0.0       0.0       0.0

stock
날짜             Close    Volume    Return
Date
2016-01-04       NaN       NaN       NaN
2016-01-05       NaN       NaN       NaN
2016-01-06       NaN       NaN       NaN
2016-01-07       NaN       NaN       NaN
2016-01-08       NaN       NaN       NaN
...              ...       ...       ...
2021-12-17  234500.0  138945.0  0.028509
2021-12-20  229500.0   90630.0 -0.021322
2021-12-21  229500.0   98669.0  0.000000
2021-12-22  225000.0   99419.0 -0.019608
2021-12-23       0.0       0.0  0.000000

[1470 rows x 18 columns]

In [166]:
df_nan.dropna()

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2018-01-02  174447.0  177251.0  174247.0  177251.0   93587.0  0.017240
2018-01-03  175448.0  177051.0  173045.0  174447.0   84790.0 -0.015819
2018-01-04  176048.0  179653.0  174847.0  178853.0  130112.0  0.025257
2018-01-05  178852.0  183858.0  176249.0  181857.0  136811.0  0.016796
2018-01-08  183258.0  190869.0  181856.0  190269.0  196338.0  0.046256
...              ...       ...       ...       ...       ...       ...
2019-12-23  185000.0  185500.0  182000.0  184000.0  250256.0  0.002725
2019-12-24  184000.0  184000.0  179000.0  182000.0  193440.0 -0.010870
2019-12-26  181500.0  183000.0  179000.0  180500.0  173426.0 -0.008242
2019-12-27  182000.0  185000.0  179000.0  183500.0  323473.0  0.016620
2019-12-30  183500.0  190000.0  183500.0  186500.0  376541.0  0.016349

stock       samsung                                                   \
날짜             Open     High      Low    Close      Volume    Change
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0    169485.0  0.001177
2018-01-03  52540.0  52560.0  51420.0  51620.0    200270.0  0.011760
2018-01-04  52120.0  52180.0  50640.0  51080.0    233909.0 -0.010461
2018-01-05  51300.0  52120.0  51200.0  52120.0    189623.0  0.020360
2018-01-08  52400.0  52520.0  51500.0  52020.0    167673.0 -0.001919
...             ...      ...      ...      ...         ...       ...
2019-12-23  56100.0  56400.0  55100.0  55500.0   9839252.0 -0.008929
2019-12-24  55600.0  55700.0  54800.0  55000.0  11868463.0 -0.009009
2019-12-26  54700.0  55400.0  54400.0  55400.0   9645034.0  0.007273
2019-12-27  55700.0  56900.0  55500.0  56500.0  12313056.0  0.019856
2019-12-30  56200.0  56600.0  55700.0  55800.0   8356767.0 -0.012389

stock          lotte
날짜              Open      High       Low     Close    Volume    Return
Date
2018-01-02  368000.0  370000.0  360500.0  360500.0   92533.0  0.000000
2018-01-03  360000.0  368500.0  360000.0  363000.0   81340.0  0.006935
2018-01-04  367500.0  367500.0  349000.0  349000.0  190391.0 -0.038567
2018-01-05  351000.0  352000.0  348000.0  351500.0   99268.0  0.007163
2018-01-08  359000.0  383500.0  358000.0  383500.0  490208.0  0.091038
...              ...       ...       ...       ...       ...       ...
2019-12-23  235500.0  237000.0  231500.0  233000.0   87888.0 -0.006397
2019-12-24  232000.0  235500.0  230000.0  232000.0   56481.0 -0.004292
2019-12-26  234000.0  234000.0  229500.0  230500.0   97614.0 -0.006466
2019-12-27  226500.0  229500.0  225000.0  228500.0   91022.0 -0.008677
2019-12-30  228500.0  229000.0  223000.0  224000.0  113754.0 -0.019694

[490 rows x 18 columns]

#### dataFrame.dropna(axis=0) Delete row with Nan

In [167]:
df_nan.dropna(axis=0) # Nan 값이 존재하는 행 모두를 지운다.

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2018-01-02  174447.0  177251.0  174247.0  177251.0   93587.0  0.017240
2018-01-03  175448.0  177051.0  173045.0  174447.0   84790.0 -0.015819
2018-01-04  176048.0  179653.0  174847.0  178853.0  130112.0  0.025257
2018-01-05  178852.0  183858.0  176249.0  181857.0  136811.0  0.016796
2018-01-08  183258.0  190869.0  181856.0  190269.0  196338.0  0.046256
...              ...       ...       ...       ...       ...       ...
2019-12-23  185000.0  185500.0  182000.0  184000.0  250256.0  0.002725
2019-12-24  184000.0  184000.0  179000.0  182000.0  193440.0 -0.010870
2019-12-26  181500.0  183000.0  179000.0  180500.0  173426.0 -0.008242
2019-12-27  182000.0  185000.0  179000.0  183500.0  323473.0  0.016620
2019-12-30  183500.0  190000.0  183500.0  186500.0  376541.0  0.016349

stock       samsung                                                   \
날짜             Open     High      Low    Close      Volume    Change
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0    169485.0  0.001177
2018-01-03  52540.0  52560.0  51420.0  51620.0    200270.0  0.011760
2018-01-04  52120.0  52180.0  50640.0  51080.0    233909.0 -0.010461
2018-01-05  51300.0  52120.0  51200.0  52120.0    189623.0  0.020360
2018-01-08  52400.0  52520.0  51500.0  52020.0    167673.0 -0.001919
...             ...      ...      ...      ...         ...       ...
2019-12-23  56100.0  56400.0  55100.0  55500.0   9839252.0 -0.008929
2019-12-24  55600.0  55700.0  54800.0  55000.0  11868463.0 -0.009009
2019-12-26  54700.0  55400.0  54400.0  55400.0   9645034.0  0.007273
2019-12-27  55700.0  56900.0  55500.0  56500.0  12313056.0  0.019856
2019-12-30  56200.0  56600.0  55700.0  55800.0   8356767.0 -0.012389

stock          lotte
날짜              Open      High       Low     Close    Volume    Return
Date
2018-01-02  368000.0  370000.0  360500.0  360500.0   92533.0  0.000000
2018-01-03  360000.0  368500.0  360000.0  363000.0   81340.0  0.006935
2018-01-04  367500.0  367500.0  349000.0  349000.0  190391.0 -0.038567
2018-01-05  351000.0  352000.0  348000.0  351500.0   99268.0  0.007163
2018-01-08  359000.0  383500.0  358000.0  383500.0  490208.0  0.091038
...              ...       ...       ...       ...       ...       ...
2019-12-23  235500.0  237000.0  231500.0  233000.0   87888.0 -0.006397
2019-12-24  232000.0  235500.0  230000.0  232000.0   56481.0 -0.004292
2019-12-26  234000.0  234000.0  229500.0  230500.0   97614.0 -0.006466
2019-12-27  226500.0  229500.0  225000.0  228500.0   91022.0 -0.008677
2019-12-30  228500.0  229000.0  223000.0  224000.0  113754.0 -0.019694

[490 rows x 18 columns]

#### dataFrame.dropna(axis=1) Delete Column With Nan

In [168]:
df_nan.dropna(axis=1) # Nan 값이 존재하는 모든 열을 지운다.

Empty DataFrame
Columns: []
Index: [2016-01-04 00:00:00, 2016-01-05 00:00:00, 2016-01-06 00:00:00, 2016-01-07 00:00:00, 2016-01-08 00:00:00, 2016-01-11 00:00:00, 2016-01-12 00:00:00, 2016-01-13 00:00:00, 2016-01-14 00:00:00, 2016-01-15 00:00:00, 2016-01-18 00:00:00, 2016-01-19 00:00:00, 2016-01-20 00:00:00, 2016-01-21 00:00:00, 2016-01-22 00:00:00, 2016-01-25 00:00:00, 2016-01-26 00:00:00, 2016-01-27 00:00:00, 2016-01-28 00:00:00, 2016-01-29 00:00:00, 2016-02-01 00:00:00, 2016-02-02 00:00:00, 2016-02-03 00:00:00, 2016-02-04 00:00:00, 2016-02-05 00:00:00, 2016-02-11 00:00:00, 2016-02-12 00:00:00, 2016-02-15 00:00:00, 2016-02-16 00:00:00, 2016-02-17 00:00:00, 2016-02-18 00:00:00, 2016-02-19 00:00:00, 2016-02-22 00:00:00, 2016-02-23 00:00:00, 2016-02-24 00:00:00, 2016-02-25 00:00:00, 2016-02-26 00:00:00, 2016-02-29 00:00:00, 2016-03-02 00:00:00, 2016-03-03 00:00:00, 2016-03-04 00:00:00, 2016-03-07 00:00:00, 2016-03-08 00:00:00, 2016-03-09 00:00:00, 2016-03-10 00:00:00, 2016-03-11 00:00:00, 2016-03-14 00:00:00, 2016-03-15 00:00:00, 2016-03-16 00:00:00, 2016-03-17 00:00:00, 2016-03-18 00:00:00, 2016-03-21 00:00:00, 2016-03-22 00:00:00, 2016-03-23 00:00:00, 2016-03-24 00:00:00, 2016-03-25 00:00:00, 2016-03-28 00:00:00, 2016-03-29 00:00:00, 2016-03-30 00:00:00, 2016-03-31 00:00:00, 2016-04-01 00:00:00, 2016-04-04 00:00:00, 2016-04-05 00:00:00, 2016-04-06 00:00:00, 2016-04-07 00:00:00, 2016-04-08 00:00:00, 2016-04-11 00:00:00, 2016-04-12 00:00:00, 2016-04-14 00:00:00, 2016-04-15 00:00:00, 2016-04-18 00:00:00, 2016-04-19 00:00:00, 2016-04-20 00:00:00, 2016-04-21 00:00:00, 2016-04-22 00:00:00, 2016-04-25 00:00:00, 2016-04-26 00:00:00, 2016-04-27 00:00:00, 2016-04-28 00:00:00, 2016-04-29 00:00:00, 2016-05-02 00:00:00, 2016-05-03 00:00:00, 2016-05-04 00:00:00, 2016-05-09 00:00:00, 2016-05-10 00:00:00, 2016-05-11 00:00:00, 2016-05-12 00:00:00, 2016-05-13 00:00:00, 2016-05-16 00:00:00, 2016-05-17 00:00:00, 2016-05-18 00:00:00, 2016-05-19 00:00:00, 2016-05-20 00:00:00, 2016-05-23 00:00:00, 2016-05-24 00:00:00, 2016-05-25 00:00:00, 2016-05-26 00:00:00, 2016-05-27 00:00:00, 2016-05-30 00:00:00, 2016-05-31 00:00:00, ...]

[1470 rows x 0 columns]

In [170]:
df_samsung_close.fillna(0)

stock      samsung
날짜           Close
Date
2016-01-04     0.0
2016-01-05     0.0
2016-01-06     0.0
2016-01-07     0.0
2016-01-08     0.0
...            ...
2021-12-17     0.0
2021-12-20     0.0
2021-12-21     0.0
2021-12-22     0.0
2021-12-23     0.0

[1470 rows x 1 columns]

In [171]:
df_samsung_close[df_samsung_close.isna()] # 이렇게 하면 될꺼 같은데...

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[1470 rows x 1 columns]

In [172]:
df_samsung_close.isna()

stock      samsung
날짜           Close
Date
2016-01-04    True
2016-01-05    True
2016-01-06    True
2016-01-07    True
2016-01-08    True
...            ...
2021-12-17    True
2021-12-20    True
2021-12-21    True
2021-12-22    True
2021-12-23    True

[1470 rows x 1 columns]

In [173]:
df_samsung_close.isna().shape[0]

1470

In [178]:
df_samsung_close.isna().values

array([[ True],
       [ True],
       [ True],
       ...,
       [ True],
       [ True],
       [ True]])

In [181]:
df_samsung_close.isna().values.shape[0]

1470

In [183]:
df_samsung_close[df_samsung_close.isna().values]

stock      samsung
날짜           Close
Date
2016-01-04     NaN
2016-01-05     NaN
2016-01-06     NaN
2016-01-07     NaN
2016-01-08     NaN
...            ...
2021-12-17     NaN
2021-12-20     NaN
2021-12-21     NaN
2021-12-22     NaN
2021-12-23     NaN

[732 rows x 1 columns]

In [184]:
df_samsung_close[df_samsung_close.isna().values].index

DatetimeIndex(['2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07',
               '2016-01-08', '2016-01-11', '2016-01-12', '2016-01-13',
               '2016-01-14', '2016-01-15',
               ...
               '2021-12-10', '2021-12-13', '2021-12-14', '2021-12-15',
               '2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23'],
              dtype='datetime64[ns]', name='Date', length=732, freq=None)

## info(), describe()

In [185]:
import pandas as pd

df_samsung = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'samsung', index_col = 0)

df_naver = pd.read_excel('samsung_naver_excel.xlsx', sheet_name = 'naver', index_col = 0)

df_lotte = pd.read_csv('롯데케미칼.csv', index_col = 0,header = 0)

df_lotte.index = pd.to_datetime(df_lotte.index)

df = pd.concat([df_naver, df_samsung, df_lotte], keys=['naver', 'samsung', 'lotte'], names=['stock', '날짜'], axis = 1, join = 'outer')
df

stock          naver                                                    \
날짜              Open      High       Low     Close    Volume    Change
Date
2016-01-04  130182.0  131784.0  126578.0  126579.0   93272.0 -0.039511
2016-01-05  126778.0  128580.0  126378.0  127580.0   69456.0  0.007908
2016-01-06  129181.0  129181.0  124575.0  124776.0   95682.0 -0.021978
2016-01-07  125377.0  132187.0  125377.0  130585.0  125253.0  0.046555
2016-01-08  130585.0  131987.0  128582.0  130585.0   63922.0  0.000000
...              ...       ...       ...       ...       ...       ...
2021-12-16       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-17       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-20       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-21       NaN       NaN       NaN       NaN       NaN       NaN
2021-12-22       NaN       NaN       NaN       NaN       NaN       NaN

stock      samsung                                  lotte                      \
날짜            Open High Low Close Volume Change      Open      High       Low
Date
2016-01-04     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-05     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-06     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-07     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
2016-01-08     NaN  NaN NaN   NaN    NaN    NaN       NaN       NaN       NaN
...            ...  ...  ..   ...    ...    ...       ...       ...       ...
2021-12-16     NaN  NaN NaN   NaN    NaN    NaN  233000.0  234000.0  224500.0
2021-12-17     NaN  NaN NaN   NaN    NaN    NaN  227000.0  235000.0  226500.0
2021-12-20     NaN  NaN NaN   NaN    NaN    NaN  232000.0  233500.0  228000.0
2021-12-21     NaN  NaN NaN   NaN    NaN    NaN  232000.0  232500.0  227000.0
2021-12-22     NaN  NaN NaN   NaN    NaN    NaN  229000.0  230000.0  225000.0

stock
날짜             Close    Volume    Change
Date
2016-01-04       NaN       NaN       NaN
2016-01-05       NaN       NaN       NaN
2016-01-06       NaN       NaN       NaN
2016-01-07       NaN       NaN       NaN
2016-01-08       NaN       NaN       NaN
...              ...       ...       ...
2021-12-16  228000.0  144647.0 -0.012987
2021-12-17  234500.0  138945.0  0.028509
2021-12-20  229500.0   90630.0 -0.021322
2021-12-21  229500.0   98669.0  0.000000
2021-12-22  225000.0   99419.0 -0.019608

[1469 rows x 18 columns]

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1469 entries, 2016-01-04 to 2021-12-22
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (naver, Open)      979 non-null    float64
 1   (naver, High)      979 non-null    float64
 2   (naver, Low)       979 non-null    float64
 3   (naver, Close)     979 non-null    float64
 4   (naver, Volume)    979 non-null    float64
 5   (naver, Change)    979 non-null    float64
 6   (samsung, Open)    738 non-null    float64
 7   (samsung, High)    738 non-null    float64
 8   (samsung, Low)     738 non-null    float64
 9   (samsung, Close)   738 non-null    float64
 10  (samsung, Volume)  738 non-null    float64
 11  (samsung, Change)  738 non-null    float64
 12  (lotte, Open)      980 non-null    float64
 13  (lotte, High)      980 non-null    float64
 14  (lotte, Low)       980 non-null    float64
 15  (lotte, Close)     980 non-null    float64
 16  (lotte, Volume)    980 non-null    float64
 17  (lotte, Change)    980 non-null    float64
dtypes: float64(18)
memory usage: 218.1 KB

In [188]:
df.describe()

stock          naver                                               \
날짜              Open           High            Low          Close
count     979.000000     979.000000     979.000000     979.000000
mean   147904.304392  149774.075587  145962.802860  148274.173647
std     20766.399720   20897.664784   20573.241066   19056.913614
min         0.000000       0.000000       0.000000  106500.000000
25%    132544.000000  134500.000000  130441.500000  133000.000000
50%    151412.000000  153500.000000  149811.000000  151214.000000
75%    162230.000000  164000.000000  160426.500000  162029.000000
max    189068.000000  195275.000000  186865.000000  192272.000000

stock                                 samsung                              \
날짜           Volume      Change          Open          High           Low
count  9.790000e+02  979.000000    738.000000    738.000000    738.000000
mean   2.208698e+05    0.000545  50000.460705  50533.481030  49458.523035
std    2.856504e+05    0.019582   7702.675480   7820.644455   7631.618287
min    0.000000e+00   -0.067706      0.000000      0.000000      0.000000
25%    7.384250e+04   -0.010662  45262.500000  45900.000000  44900.000000
50%    1.083110e+05    0.000000  48680.000000  49200.000000  48000.000000
75%    2.941180e+05    0.010373  53600.000000  53900.000000  52875.000000
max    5.304519e+06    0.139241  79000.000000  81300.000000  78200.000000

stock                                                  lotte                 \
날짜            Close        Volume      Change           Open           High
count    738.000000  7.380000e+02  738.000000     980.000000     980.000000
mean   50216.869919  1.361474e+07    0.000784  270290.816327  274691.836735
std     7055.377470  9.439103e+06    0.017700   67071.213030   67905.088593
min    37450.000000  0.000000e+00   -0.063877  121000.000000  143000.000000
25%    45500.000000  8.077088e+06   -0.009950  223500.000000  226375.000000
50%    48745.000000  1.199751e+07    0.001065  265500.000000  269000.000000
75%    53500.000000  1.775210e+07    0.010629  299625.000000  304000.000000
max    81000.000000  6.349111e+07    0.104706  474500.000000  475000.000000

stock
날짜               Low          Close        Volume      Change
count     980.000000     980.000000  9.800000e+02  980.000000
mean   265755.102041  269804.081633  1.881471e+05   -0.000144
std     66068.051743   66937.798972  2.816061e+05    0.026984
min    114500.000000  117000.000000  4.348100e+04   -0.155235
25%    219500.000000  223000.000000  1.030385e+05   -0.013799
50%    262000.000000  265000.000000  1.483915e+05   -0.001410
75%    293625.000000  299000.000000  2.241755e+05    0.012306
max    463500.000000  474500.000000  8.154268e+06    0.260684

## 조건 (DataFrame과 DataFrame의 연산 주의!)

In [193]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'a':[1,4,7], 'b':[2,5,8], 'c':[3,6,9]})
df1

df2 = pd.DataFrame({'a':[-1,-4,-7], 'b':[np.nan,np.nan,np.nan], 'e':[3,6,9]})
df2

df1 + df2 # Nan 연산시 Nan return, null 개념도 Nan

   a   b   c   e
0  0 NaN NaN NaN
1  0 NaN NaN NaN
2  0 NaN NaN NaN

DataFrame[Series조건값].index or values

In [192]:
pd.set_option('display.max_rows', 200)
#pd.set_option('display.max_rows', None)

df_samsung = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'samsung', index_col = 0)

df_kospi = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'kospi', index_col = 0)

df_kospi

              Close     Open     High      Low       Volume  Change
Date
2016-01-04  1918.76  1954.47  1954.52  1918.76  359020000.0 -0.0217
2016-01-05  1930.53  1911.93  1937.57  1911.93  446550000.0  0.0061
2016-01-06  1925.43  1934.25  1934.25  1911.61  594610000.0 -0.0026
2016-01-07  1904.33  1915.71  1926.41  1901.24  393040000.0 -0.0110
2016-01-08  1917.62  1889.42  1918.25  1883.82  430200000.0  0.0070
...             ...      ...      ...      ...          ...     ...
2021-12-20  2963.00  3001.33  3001.33  2962.07  377580000.0 -0.0181
2021-12-21  2975.03  2981.67  2984.56  2955.90  410980000.0  0.0041
2021-12-22  2984.48  2993.50  3000.79  2976.65  461760000.0  0.0032
2021-12-23  2998.17  2998.02  3000.70  2980.91  483840000.0  0.0046
2021-12-24  3012.43  3009.48  3025.77  3009.48  537550000.0  0.0048

[1471 rows x 6 columns]

### DataFrame의 조건식에는 Series 값이 와야 한다.

In [194]:
df_kospi['Change']

Date
2016-01-04   -0.0217
2016-01-05    0.0061
2016-01-06   -0.0026
2016-01-07   -0.0110
2016-01-08    0.0070
               ...
2021-12-20   -0.0181
2021-12-21    0.0041
2021-12-22    0.0032
2021-12-23    0.0046
2021-12-24    0.0048
Name: Change, Length: 1471, dtype: float64

In [203]:
df_kospi['Change']>=0.01

Date
2016-01-04    False
2016-01-05    False
2016-01-06    False
2016-01-07    False
2016-01-08    False
              ...
2021-12-20    False
2021-12-21    False
2021-12-22    False
2021-12-23    False
2021-12-24    False
Name: Change, Length: 1471, dtype: bool

In [204]:
sum(df_kospi['Change']>=0.01)

180

In [207]:
df_kospi[df_kospi['Change']>=0.01].index

DatetimeIndex(['2016-01-13', '2016-01-22', '2016-01-27', '2016-02-04',
               '2016-02-15', '2016-02-16', '2016-02-18', '2016-03-02',
               '2016-04-14', '2016-05-25',
               ...
               '2021-08-24', '2021-08-31', '2021-10-07', '2021-10-14',
               '2021-11-02', '2021-11-12', '2021-11-15', '2021-11-22',
               '2021-12-01', '2021-12-02'],
              dtype='datetime64[ns]', name='Date', length=180, freq=None)

In [208]:
type(df_kospi['Change']>=0.01)

pandas.core.series.Series

### Q) Kospi 상승이 1%가 넘는 날 삼성의 상승률을 구하여라

In [196]:
df_samsung[df_kospi['Change']>=0.01]

             Open   High    Low  Close    Volume    Change
Date
2016-01-13  23060  23180  22960  22960    143316  0.001745
2016-01-22  22900  23360  22900  23360    147528  0.032714
2016-01-27  22520  23500  22520  23500    276237  0.033421
2016-02-04  23000  23220  22960  23120    247959  0.008726
2016-02-15  23080  23200  22880  23080    183146  0.021239
2016-02-16  23160  23580  23140  23360    180401  0.012132
2016-02-18  24060  24060  23560  23740    222481  0.001688
2016-03-02  24000  24140  23920  23940    236372  0.016129
2016-04-14  26000  26040  25780  26000    335327  0.019608
2016-05-25  25660  25960  25480  25900    237255  0.018883
2016-06-07  27720  28040  27600  27960    462843  0.015251
2016-06-20  28540  28960  28519  28620    270316  0.003506
2016-06-29  28160  28240  27820  27920    210541 -0.002144
2016-07-07  28420  29000  28320  29000    229904  0.020408
2016-07-11  29199  30000  29199  29780    281136  0.019863
2016-09-05  31800  32300  31700  32120    167676  0.005636
2016-11-10  32600  33000  32360  32980    235907  0.033208
2016-12-06  34440  35200  34400  34960    280036  0.017462
2016-12-08  35980  36020  35520  35800    329251  0.010158
2017-01-11  37520  38560  37420  38280    240363  0.027927
2017-04-25  41460  42740  41320  42700    385992  0.035403
2017-05-08  45520  47020  45340  47020    391651  0.032953
2017-05-11  45420  46180  45220  45500    425557 -0.002193
2017-05-25  45160  45680  44800  45680    260896  0.017825
2017-06-02  45060  45960  45000  45960    249775  0.028648
2017-09-07  47000  48220  47000  48120    193530  0.023830
2017-09-18  50540  52480  50520  52480    230499  0.041270
2017-10-10  53360  53640  52799  52800    410396  0.029641
2017-10-11  53600  54760  53340  54640    273043  0.034848
2017-11-01  57500  57500  56179  57220    290205  0.038853
2017-12-04  50840  51340  50020  51340    297301  0.009835
2017-12-28  49560  50960  49500  50960    179709  0.032415
2018-01-05  51300  52120  51200  52120    189623  0.020360
2018-01-23  48660  49160  48300  49160    270654  0.019071
2018-02-14  48080  49100  47940  49000    378118  0.030711
2018-02-23  46760  47800  46760  47220    248466  0.009837
2018-03-06  45920  47100  45820  47020    308467  0.040265
2018-03-08  49200  49480  48080  49200    389273  0.011929
2018-03-09  49440  50540  49240  49740    286088  0.010976
2018-03-12  50560  50780  49580  49740    173779  0.000000
2018-04-05  47400  49380  47340  48740    264912  0.038789
2018-04-18  51000  51360  50580  51360    269252  0.027611
2018-04-26  50420  52160  50400  52140    360931  0.034524
2018-06-20  47450  47600  46850  47000  12959316  0.000000
2018-07-13  45800  46500  45750  46500  11543389  0.021978
2018-09-14  45000  45850  44900  45850  12446344  0.040863
2018-10-12  43200  44650  43200  44000  12640906  0.020882
2018-10-17  44150  44500  44000  44150   8306193  0.012615
2018-11-02  43050  44250  42800  44150  16517112  0.047450
2018-11-26  42150  42800  42100  42600   6613009  0.004717
2018-12-03  42750  43400  42400  43250  12110702  0.033453
2018-12-12  40250  40700  40150  40450  12024279  0.004969
2019-01-07  38000  38900  37800  38750  12748997  0.034713
2019-01-09  38650  39600  38300  39600  17452708  0.039370
2019-01-15  40050  41100  39850  41100  11492756  0.026217
2019-01-25  44300  44750  43750  44750  22789395  0.039489
2019-01-30  44800  46400  44800  46400  17505980  0.019780
2019-02-14  46600  47500  46150  47500  17259341  0.028139
2019-02-20  46750  47100  46500  46900  11506720  0.020675
2019-04-01  45200  45450  44850  45050   7362129  0.008959
2019-04-03  46750  46750  45800  46600  12436570  0.018579
2019-04-29  45150  46150  45100  46150   8777517  0.028986
2019-06-03  42950  43900  42500  43800  15466580  0.030588
2019-06-10  44300  44850  44050  44800   8792182  0.013575
2019-06-19  45450  45450  45000  45350  10417690  0.022548
2019-07-11  46350  46550  46150  46200  10989751  0.014270
2019-07-19  46650  46950  46600  46800   8819393  0.015184
2019-08-20  43950  44600  43550  44450   8434205  0.019495
2019-08-30  43750  44300  43750  44000   9899073  0.013825
2019-09-04  43250  44100  43150  44100  12441837  0.019653
2019-10-08  47900  49000  47600  48900  14239367  0.024084
2019-10-14  50000  50300  49850  50000  11130635  0.017294
2019-10-22  50800  51500  50700  51200  10898729  0.017893
2019-11-04  51700  52300  51400  52300  13012411  0.021484
2019-11-15  52900  53700  52600  53700   9703360  0.017045
2019-11-25  52200  52600  51700  51800   9050625  0.003876
2019-12-06  50100  50900  49950  50400  11414563  0.018182
2019-12-12  53000  53300  52700  53300  29178697  0.026975
2019-12-13  54500  54800  53900  54700  18120261  0.026266
2019-12-17  55800  56700  55400  56700  19358433  0.036563
2020-01-09  58400  58600  57400  58600  24102579  0.031690
2020-01-13  59600  60000  59100  60000  11359139  0.008403
2020-01-22  60500  62600  60400  62300  15339565  0.014658
2020-02-04  57100  59000  56800  58900  21800192  0.029720
2020-02-06  60100  61100  59700  61100  14727159  0.026891
2020-02-11  59800  60700  59700  59900  11071231  0.003350
2020-02-25  56200  58000  56200  57900  23885408  0.019366
2020-03-04  54800  57600  54600  57400  24765728  0.036101
2020-03-05  57600  58000  56700  57800  21698990  0.006969
2020-03-20  44150  45500  43550  45400  49730008  0.057043
2020-03-24  43850  46950  43050  46950  49801908  0.104706
2020-03-25  48950  49600  47150  48650  52735922  0.036209
2020-03-27  49600  49700  46850  48300  39896178  0.010460
2020-03-31  48000  48500  47150  47750  30654261 -0.002090
2020-04-02  46200  46850  45350  46800  21621076  0.021834
2020-04-06  47500  48800  47250  48700  23395726  0.036170
2020-04-07  49650  50200  49000  49600  31524034  0.018480
2020-04-09  49750  49800  48700  49100  22628058  0.010288
2020-04-10  48950  49250  48650  49250  17839111  0.003055
2020-04-14  48800  49200  48300  49000  14206216  0.014493
2020-04-17  50800  52000  50300  51400  32041675  0.048980
2020-04-27  49350  50000  49100  49850  14049471  0.010132
2020-05-06  49000  49200  48500  49200  18070225  0.014433
2020-05-19  50100  50500  49700  50300  25168295  0.030738
2020-05-25  48750  48900  48450  48850  14337913  0.002051
2020-05-26  48700  49450  48600  49250  15127490  0.008188
2020-06-01  50800  51200  50600  51200  16949183  0.009862
2020-06-02  51000  51500  50800  51400  14247933  0.003906
2020-06-03  51800  55000  51700  54500  49257814  0.060311
2020-06-05  54400  55900  54000  55500  22743629  0.016484
2020-06-16  51200  52100  50600  52100  21808375  0.044088
2020-06-24  51900  53900  51600  52900  24519552  0.029183
2020-06-26  52800  53900  52200  53300  21575360  0.026975
2020-07-02  52100  52900  52100  52900  14142583  0.005703
2020-07-06  54000  55000  53800  55000  19856623  0.026119
2020-07-13  53300  53800  53100  53400  12240188  0.013283
2020-07-21  55200  55400  54800  55300  18297260  0.020295
2020-07-28  57000  58800  56400  58600  48431566  0.053957
2020-08-04  57200  58100  57000  57300  19419694  0.008803
2020-08-05  57300  57500  56300  56900  17739706 -0.006981
2020-08-06  57100  58400  57100  58000  21625874  0.019332
2020-08-10  57600  58300  57500  57800  17774291  0.005217
2020-08-11  58000  59500  57800  58200  24907912  0.006920
2020-08-21  56200  56900  55800  55900  21142288  0.009025
2020-08-24  55800  56600  55400  56100  15055896  0.003578
2020-08-25  56400  56800  56100  56400  14021705  0.005348
2020-09-01  54100  54800  54100  54200  19363117  0.003704
2020-09-03  55600  56700  55500  56400  28384920  0.036765
2020-09-14  60200  60800  59900  60400  20648281  0.023729
2020-09-28  58300  58800  57900  58200  12614080  0.005181
2020-10-05  57500  59200  57500  58700  20228289  0.008591
2020-11-02  56400  57500  56000  57400  20489076  0.014134
2020-11-03  57900  58900  57600  58800  14950919  0.024390
2020-11-05  59000  60300  58800  60300  20639475  0.030769
2020-11-09  60700  60900  60100  60200  15892961  0.001664
2020-11-11  60700  61400  60400  61300  25628510  0.018272
2020-11-16  64000  66700  63900  66300  36354334  0.049051
2020-11-23  64800  67800  64700  67500  27134398  0.043277
2020-12-01  67100  68300  67100  67800  22327173  0.016492
2020-12-02  68400  69900  68300  69500  29703942  0.025074
2020-12-04  70400  72100  70100  71500  28130533  0.025825
2020-12-09  72100  73900  72000  73900  24077996  0.030683
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-30  77400  81300  77300  81000  29417421  0.034483
2021-01-04  81000  84400  80200  83000  38655276  0.024691
2021-01-05  81600  83900  81600  83900  35335669  0.010843
2021-01-07  82800  84200  82700  82900  32644642  0.008516
2021-01-08  83300  90000  83000  88800  59013307  0.071170
2021-01-19  84500  88000  83600  87000  39895044  0.023529
2021-01-21  87500  88600  86500  88100  25318011  0.010321
2021-01-25  87000  89900  86300  89400  27258534  0.029954
2021-02-01  81700  83400  81000  83000  28046832  0.012195
2021-02-02  84100  86400  83700  84400  26302077  0.016867
2021-02-03  84800  85400  83400  84600  22112205  0.002370
2021-02-05  83100  84000  82500  83500  18036835  0.012121
2021-02-15  83800  84500  83300  84200  23529706  0.031863
2021-02-25  84000  85400  83000  85300  34155986  0.040244
2021-03-02  85100  85300  83000  83600  33498180  0.013333
2021-03-03  83500  84000  82800  84000  19882132  0.004785
2021-03-11  81000  82500  81000  82000  23818297  0.013597
2021-03-12  83100  83500  82400  82800  13530573  0.009756
2021-03-26  81400  81600  81000  81500  12845778  0.003695
2021-03-30  81600  82300  81300  82200  13121698  0.007353
2021-04-13  83000  84500  82800  84000  15238206  0.009615
2021-05-06  81700  82300  81700  82300  17047511 -0.003632
2021-05-10  82300  83500  81800  83200  19385027  0.015873
2021-05-14  79000  80300  78900  80100  16450920  0.020382
2021-05-18  79600  80000  79100  79600  17494407  0.000000
2021-07-22  79000  79800  78900  79700  12618790  0.015287
2021-08-04  82200  83100  81800  82900  25642368  0.018428
2021-08-24  73900  75700  73900  75600  21016913  0.031378
2021-08-31  74900  76700  74300  76700  24630370  0.028150
2021-10-07  71600  72100  71300  71600  13683532  0.004208
2021-10-14  69000  69800  68800  69400  19520641  0.008721
2021-11-02  70800  72200  70700  71500  16812570  0.022890
2021-11-12  70200  70900  69900  70600  10087450  0.010014
2021-11-15  71700  71900  70900  71400  12420710  0.011331
2021-11-22  73300  75200  73000  74900  27506623  0.051966
2021-12-01  72000  74800  71600  74400  21954856  0.043478
2021-12-02  73900  75800  73800  75800  23652940  0.018817

In [205]:
df_samsung[df_kospi['Change']>=0.01]['Change']

Date
2016-01-13    0.001745
2016-01-22    0.032714
2016-01-27    0.033421
2016-02-04    0.008726
2016-02-15    0.021239
2016-02-16    0.012132
2016-02-18    0.001688
2016-03-02    0.016129
2016-04-14    0.019608
2016-05-25    0.018883
2016-06-07    0.015251
2016-06-20    0.003506
2016-06-29   -0.002144
2016-07-07    0.020408
2016-07-11    0.019863
2016-09-05    0.005636
2016-11-10    0.033208
2016-12-06    0.017462
2016-12-08    0.010158
2017-01-11    0.027927
2017-04-25    0.035403
2017-05-08    0.032953
2017-05-11   -0.002193
2017-05-25    0.017825
2017-06-02    0.028648
2017-09-07    0.023830
2017-09-18    0.041270
2017-10-10    0.029641
2017-10-11    0.034848
2017-11-01    0.038853
2017-12-04    0.009835
2017-12-28    0.032415
2018-01-05    0.020360
2018-01-23    0.019071
2018-02-14    0.030711
2018-02-23    0.009837
2018-03-06    0.040265
2018-03-08    0.011929
2018-03-09    0.010976
2018-03-12    0.000000
2018-04-05    0.038789
2018-04-18    0.027611
2018-04-26    0.034524
2018-06-20    0.000000
2018-07-13    0.021978
2018-09-14    0.040863
2018-10-12    0.020882
2018-10-17    0.012615
2018-11-02    0.047450
2018-11-26    0.004717
2018-12-03    0.033453
2018-12-12    0.004969
2019-01-07    0.034713
2019-01-09    0.039370
2019-01-15    0.026217
2019-01-25    0.039489
2019-01-30    0.019780
2019-02-14    0.028139
2019-02-20    0.020675
2019-04-01    0.008959
2019-04-03    0.018579
2019-04-29    0.028986
2019-06-03    0.030588
2019-06-10    0.013575
2019-06-19    0.022548
2019-07-11    0.014270
2019-07-19    0.015184
2019-08-20    0.019495
2019-08-30    0.013825
2019-09-04    0.019653
2019-10-08    0.024084
2019-10-14    0.017294
2019-10-22    0.017893
2019-11-04    0.021484
2019-11-15    0.017045
2019-11-25    0.003876
2019-12-06    0.018182
2019-12-12    0.026975
2019-12-13    0.026266
2019-12-17    0.036563
2020-01-09    0.031690
2020-01-13    0.008403
2020-01-22    0.014658
2020-02-04    0.029720
2020-02-06    0.026891
2020-02-11    0.003350
2020-02-25    0.019366
2020-03-04    0.036101
2020-03-05    0.006969
2020-03-20    0.057043
2020-03-24    0.104706
2020-03-25    0.036209
2020-03-27    0.010460
2020-03-31   -0.002090
2020-04-02    0.021834
2020-04-06    0.036170
2020-04-07    0.018480
2020-04-09    0.010288
2020-04-10    0.003055
2020-04-14    0.014493
2020-04-17    0.048980
2020-04-27    0.010132
2020-05-06    0.014433
2020-05-19    0.030738
2020-05-25    0.002051
2020-05-26    0.008188
2020-06-01    0.009862
2020-06-02    0.003906
2020-06-03    0.060311
2020-06-05    0.016484
2020-06-16    0.044088
2020-06-24    0.029183
2020-06-26    0.026975
2020-07-02    0.005703
2020-07-06    0.026119
2020-07-13    0.013283
2020-07-21    0.020295
2020-07-28    0.053957
2020-08-04    0.008803
2020-08-05   -0.006981
2020-08-06    0.019332
2020-08-10    0.005217
2020-08-11    0.006920
2020-08-21    0.009025
2020-08-24    0.003578
2020-08-25    0.005348
2020-09-01    0.003704
2020-09-03    0.036765
2020-09-14    0.023729
2020-09-28    0.005181
2020-10-05    0.008591
2020-11-02    0.014134
2020-11-03    0.024390
2020-11-05    0.030769
2020-11-09    0.001664
2020-11-11    0.018272
2020-11-16    0.049051
2020-11-23    0.043277
2020-12-01    0.016492
2020-12-02    0.025074
2020-12-04    0.025825
2020-12-09    0.030683
2020-12-24    0.052774
2020-12-30    0.034483
2021-01-04    0.024691
2021-01-05    0.010843
2021-01-07    0.008516
2021-01-08    0.071170
2021-01-19    0.023529
2021-01-21    0.010321
2021-01-25    0.029954
2021-02-01    0.012195
2021-02-02    0.016867
2021-02-03    0.002370
2021-02-05    0.012121
2021-02-15    0.031863
2021-02-25    0.040244
2021-03-02    0.013333
2021-03-03    0.004785
2021-03-11    0.013597
2021-03-12    0.009756
2021-03-26    0.003695
2021-03-30    0.007353
2021-04-13    0.009615
2021-05-06   -0.003632
2021-05-10    0.015873
2021-05-14    0.020382
2021-05-18    0.000000
2021-07-22    0.015287
2021-08-04    0.018428
2021-08-24    0.031378
2021-08-31    0.028150
2021-10-07    0.004208
2021-10-14    0.008721
2021-11-02    0.022890
2021-11-12    0.010014
2021-11-15    0.011331
2021-11-22    0.051966
2021-12-01    0.043478
2021-12-02    0.018817
Name: Change, dtype: float64

In [206]:
df_samsung[df_kospi['Change']>=0.01]['Change']*100

Date
2016-01-13     0.174520
2016-01-22     3.271441
2016-01-27     3.342128
2016-02-04     0.872600
2016-02-15     2.123894
2016-02-16     1.213172
2016-02-18     0.168776
2016-03-02     1.612903
2016-04-14     1.960784
2016-05-25     1.888277
2016-06-07     1.525054
2016-06-20     0.350631
2016-06-29    -0.214439
2016-07-07     2.040816
2016-07-11     1.986301
2016-09-05     0.563557
2016-11-10     3.320802
2016-12-06     1.746217
2016-12-08     1.015801
2017-01-11     2.792696
2017-04-25     3.540252
2017-05-08     3.295255
2017-05-11    -0.219298
2017-05-25     1.782531
2017-06-02     2.864816
2017-09-07     2.382979
2017-09-18     4.126984
2017-10-10     2.964119
2017-10-11     3.484848
2017-11-01     3.885258
2017-12-04     0.983478
2017-12-28     3.241491
2018-01-05     2.036022
2018-01-23     1.907131
2018-02-14     3.071098
2018-02-23     0.983747
2018-03-06     4.026549
2018-03-08     1.192925
2018-03-09     1.097561
2018-03-12     0.000000
2018-04-05     3.878943
2018-04-18     2.761104
2018-04-26     3.452381
2018-06-20     0.000000
2018-07-13     2.197802
2018-09-14     4.086266
2018-10-12     2.088167
2018-10-17     1.261468
2018-11-02     4.744958
2018-11-26     0.471698
2018-12-03     3.345281
2018-12-12     0.496894
2019-01-07     3.471295
2019-01-09     3.937008
2019-01-15     2.621723
2019-01-25     3.948897
2019-01-30     1.978022
2019-02-14     2.813853
2019-02-20     2.067465
2019-04-01     0.895857
2019-04-03     1.857923
2019-04-29     2.898551
2019-06-03     3.058824
2019-06-10     1.357466
2019-06-19     2.254791
2019-07-11     1.427003
2019-07-19     1.518438
2019-08-20     1.949541
2019-08-30     1.382488
2019-09-04     1.965318
2019-10-08     2.408377
2019-10-14     1.729400
2019-10-22     1.789264
2019-11-04     2.148438
2019-11-15     1.704545
2019-11-25     0.387597
2019-12-06     1.818182
2019-12-12     2.697495
2019-12-13     2.626642
2019-12-17     3.656307
2020-01-09     3.169014
2020-01-13     0.840336
2020-01-22     1.465798
2020-02-04     2.972028
2020-02-06     2.689076
2020-02-11     0.335008
2020-02-25     1.936620
2020-03-04     3.610108
2020-03-05     0.696864
2020-03-20     5.704307
2020-03-24    10.470588
2020-03-25     3.620873
2020-03-27     1.046025
2020-03-31    -0.208986
2020-04-02     2.183406
2020-04-06     3.617021
2020-04-07     1.848049
2020-04-09     1.028807
2020-04-10     0.305499
2020-04-14     1.449275
2020-04-17     4.897959
2020-04-27     1.013171
2020-05-06     1.443299
2020-05-19     3.073770
2020-05-25     0.205128
2020-05-26     0.818833
2020-06-01     0.986193
2020-06-02     0.390625
2020-06-03     6.031128
2020-06-05     1.648352
2020-06-16     4.408818
2020-06-24     2.918288
2020-06-26     2.697495
2020-07-02     0.570342
2020-07-06     2.611940
2020-07-13     1.328273
2020-07-21     2.029520
2020-07-28     5.395683
2020-08-04     0.880282
2020-08-05    -0.698080
2020-08-06     1.933216
2020-08-10     0.521739
2020-08-11     0.692042
2020-08-21     0.902527
2020-08-24     0.357782
2020-08-25     0.534759
2020-09-01     0.370370
2020-09-03     3.676471
2020-09-14     2.372881
2020-09-28     0.518135
2020-10-05     0.859107
2020-11-02     1.413428
2020-11-03     2.439024
2020-11-05     3.076923
2020-11-09     0.166389
2020-11-11     1.827243
2020-11-16     4.905063
2020-11-23     4.327666
2020-12-01     1.649175
2020-12-02     2.507375
2020-12-04     2.582496
2020-12-09     3.068340
2020-12-24     5.277402
2020-12-30     3.448276
2021-01-04     2.469136
2021-01-05     1.084337
2021-01-07     0.851582
2021-01-08     7.117008
2021-01-19     2.352941
2021-01-21     1.032110
2021-01-25     2.995392
2021-02-01     1.219512
2021-02-02     1.686747
2021-02-03     0.236967
2021-02-05     1.212121
2021-02-15     3.186275
2021-02-25     4.024390
2021-03-02     1.333333
2021-03-03     0.478469
2021-03-11     1.359703
2021-03-12     0.975610
2021-03-26     0.369458
2021-03-30     0.735294
2021-04-13     0.961538
2021-05-06    -0.363196
2021-05-10     1.587302
2021-05-14     2.038217
2021-05-18     0.000000
2021-07-22     1.528662
2021-08-04     1.842752
2021-08-24     3.137790
2021-08-31     2.815013
2021-10-07     0.420757
2021-10-14     0.872093
2021-11-02     2.288984
2021-11-12     1.001431
2021-11-15     1.133144
2021-11-22     5.196629
2021-12-01     4.347826
2021-12-02     1.881720
Name: Change, dtype: float64

## Sorting

In [209]:
import pandas as pd

df_samsung = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'samsung', index_col = 0)

df_kospi = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'kospi', index_col = 0)

df_kospi

              Close     Open     High      Low       Volume  Change
Date
2016-01-04  1918.76  1954.47  1954.52  1918.76  359020000.0 -0.0217
2016-01-05  1930.53  1911.93  1937.57  1911.93  446550000.0  0.0061
2016-01-06  1925.43  1934.25  1934.25  1911.61  594610000.0 -0.0026
2016-01-07  1904.33  1915.71  1926.41  1901.24  393040000.0 -0.0110
2016-01-08  1917.62  1889.42  1918.25  1883.82  430200000.0  0.0070
...             ...      ...      ...      ...          ...     ...
2021-12-20  2963.00  3001.33  3001.33  2962.07  377580000.0 -0.0181
2021-12-21  2975.03  2981.67  2984.56  2955.90  410980000.0  0.0041
2021-12-22  2984.48  2993.50  3000.79  2976.65  461760000.0  0.0032
2021-12-23  2998.17  2998.02  3000.70  2980.91  483840000.0  0.0046
2021-12-24  3012.43  3009.48  3025.77  3009.48  537550000.0  0.0048

[1471 rows x 6 columns]

In [210]:
df = pd.DataFrame()

df['Kospi_Return'] = df_kospi['Change']

df['Samsung_Return'] = df_samsung['Change']

df = df * 100
df

            Kospi_Return  Samsung_Return
Date
2016-01-04         -2.17       -4.365079
2016-01-05          0.61        0.248963
2016-01-06         -0.26       -2.731788
2016-01-07         -1.10       -1.021277
2016-01-08          0.70        0.687876
...                  ...             ...
2021-12-20         -1.81       -1.153846
2021-12-21          0.41        1.297017
2021-12-22          0.32        1.664533
2021-12-23          0.46        0.629723
2021-12-24          0.48        0.750939

[1471 rows x 2 columns]

In [211]:
pd.set_option('display.max_rows', None)

### Q) Kospi가 2% 상승한날 삼성전자도 2%이상 상승한 날을 구하시오

In [212]:
# Condition: Kospi가 2%상승한날과 삼성전자가 2%상승한날

df['Kospi_Return']>=2
df['Samsung_Return'] >=2

Date
2016-01-04    False
2016-01-05    False
2016-01-06    False
2016-01-07    False
2016-01-08    False
2016-01-11    False
2016-01-12    False
2016-01-13    False
2016-01-14    False
2016-01-15    False
2016-01-18    False
2016-01-19     True
2016-01-20    False
2016-01-21    False
2016-01-22     True
2016-01-25    False
2016-01-26    False
2016-01-27     True
2016-01-28    False
2016-01-29    False
2016-02-01    False
2016-02-02    False
2016-02-03    False
2016-02-04    False
2016-02-05    False
2016-02-11    False
2016-02-12    False
2016-02-15     True
2016-02-16    False
2016-02-17    False
2016-02-18    False
2016-02-19    False
2016-02-22    False
2016-02-23    False
2016-02-24    False
2016-02-25    False
2016-02-26    False
2016-02-29    False
2016-03-02    False
2016-03-03    False
2016-03-04    False
2016-03-07    False
2016-03-08    False
2016-03-09    False
2016-03-10     True
2016-03-11    False
2016-03-14    False
2016-03-15    False
2016-03-16    False
2016-03-17    False
2016-03-18    False
2016-03-21    False
2016-03-22    False
2016-03-23    False
2016-03-24    False
2016-03-25    False
2016-03-28    False
2016-03-29    False
2016-03-30    False
2016-03-31    False
2016-04-01    False
2016-04-04     True
2016-04-05    False
2016-04-06    False
2016-04-07    False
2016-04-08    False
2016-04-11    False
2016-04-12    False
2016-04-14    False
2016-04-15    False
2016-04-18    False
2016-04-19    False
2016-04-20    False
2016-04-21    False
2016-04-22    False
2016-04-25    False
2016-04-26    False
2016-04-27    False
2016-04-28    False
2016-04-29    False
2016-05-02    False
2016-05-03    False
2016-05-04     True
2016-05-09    False
2016-05-10    False
2016-05-11    False
2016-05-12    False
2016-05-13    False
2016-05-16    False
2016-05-17    False
2016-05-18    False
2016-05-19    False
2016-05-20    False
2016-05-23    False
2016-05-24    False
2016-05-25    False
2016-05-26    False
2016-05-27    False
2016-05-30    False
2016-05-31    False
2016-06-01     True
2016-06-02     True
2016-06-03    False
2016-06-07    False
2016-06-08    False
2016-06-09    False
2016-06-10    False
2016-06-13    False
2016-06-14    False
2016-06-15     True
2016-06-16    False
2016-06-17    False
2016-06-20    False
2016-06-21    False
2016-06-22    False
2016-06-23    False
2016-06-24    False
2016-06-27    False
2016-06-28    False
2016-06-29    False
2016-06-30     True
2016-07-01     True
2016-07-04    False
2016-07-05    False
2016-07-06    False
2016-07-07     True
2016-07-08    False
2016-07-11    False
2016-07-12    False
2016-07-13    False
2016-07-14    False
2016-07-15    False
2016-07-18    False
2016-07-19    False
2016-07-20    False
2016-07-21    False
2016-07-22    False
2016-07-25    False
2016-07-26    False
2016-07-27    False
2016-07-28    False
2016-07-29     True
2016-08-01    False
2016-08-02    False
2016-08-03    False
2016-08-04    False
2016-08-05     True
2016-08-08    False
2016-08-09    False
2016-08-10    False
2016-08-11    False
2016-08-12    False
2016-08-16    False
2016-08-17    False
2016-08-18     True
2016-08-19     True
2016-08-22    False
2016-08-23    False
2016-08-24    False
2016-08-25    False
2016-08-26    False
2016-08-29    False
2016-08-30    False
2016-08-31    False
2016-09-01    False
2016-09-02    False
2016-09-05    False
2016-09-06     True
2016-09-07    False
2016-09-08    False
2016-09-09    False
2016-09-12    False
2016-09-13     True
2016-09-19     True
2016-09-20    False
2016-09-21    False
2016-09-22    False
2016-09-23    False
2016-09-26    False
2016-09-27    False
2016-09-28    False
2016-09-29     True
2016-09-30    False
2016-10-04    False
2016-10-05    False
2016-10-06     True
2016-10-07    False
2016-10-10    False
2016-10-11    False
2016-10-12    False
2016-10-13    False
2016-10-14    False
2016-10-17    False
2016-10-18    False
2016-10-19     True
2016-10-20    False
2016-10-21    False
2016-10-24    False
2016-10-25    False
2016-10-26    False
2016-10-27    False
2016-10-28     True
2016-10-31    False
2016-11-01    False
2016-11-02    False
2016-11-03    False
2016-11-04    False
2016-11-07    False
2016-11-08    False
2016-11-09    False
2016-11-10     True
2016-11-11    False
2016-11-14    False
2016-11-15    False
2016-11-16    False
2016-11-17    False
2016-11-18    False
2016-11-21    False
2016-11-22     True
2016-11-23    False
2016-11-24    False
2016-11-25    False
2016-11-28    False
2016-11-29    False
2016-11-30     True
2016-12-01    False
2016-12-02    False
2016-12-05    False
2016-12-06    False
2016-12-07    False
2016-12-08    False
2016-12-09    False
2016-12-12    False
2016-12-13    False
2016-12-14    False
2016-12-15    False
2016-12-16    False
2016-12-19    False
2016-12-20    False
2016-12-21    False
2016-12-22    False
2016-12-23    False
2016-12-26    False
2016-12-27    False
2016-12-28    False
2016-12-29    False
2017-01-02    False
2017-01-03    False
2017-01-04    False
2017-01-05    False
2017-01-06    False
2017-01-09     True
2017-01-10    False
2017-01-11     True
2017-01-12    False
2017-01-13    False
2017-01-16    False
2017-01-17    False
2017-01-18    False
2017-01-19    False
2017-01-20    False
2017-01-23     True
2017-01-24    False
2017-01-25     True
2017-01-26    False
2017-01-31    False
2017-02-01    False
2017-02-02    False
2017-02-03    False
2017-02-06    False
2017-02-07    False
2017-02-08    False
2017-02-09    False
2017-02-10    False
2017-02-13    False
2017-02-14    False
2017-02-15    False
2017-02-16    False
2017-02-17    False
2017-02-20     True
2017-02-21    False
2017-02-22    False
2017-02-23    False
2017-02-24    False
2017-02-27    False
2017-02-28    False
2017-03-02     True
2017-03-03    False
2017-03-06    False
2017-03-07    False
2017-03-08    False
2017-03-09    False
2017-03-10    False
2017-03-13    False
2017-03-14    False
2017-03-15    False
2017-03-16    False
2017-03-17    False
2017-03-20    False
2017-03-21    False
2017-03-22    False
2017-03-23    False
2017-03-24    False
2017-03-27    False
2017-03-28    False
2017-03-29    False
2017-03-30    False
2017-03-31    False
2017-04-03    False
2017-04-04    False
2017-04-05    False
2017-04-06    False
2017-04-07    False
2017-04-10    False
2017-04-11    False
2017-04-12    False
2017-04-13    False
2017-04-14    False
2017-04-17    False
2017-04-18    False
2017-04-19    False
2017-04-20    False
2017-04-21    False
2017-04-24    False
2017-04-25     True
2017-04-26    False
2017-04-27     True
2017-04-28    False
2017-05-02    False
2017-05-04    False
2017-05-08     True
2017-05-10    False
2017-05-11    False
2017-05-12    False
2017-05-15    False
2017-05-16    False
2017-05-17    False
2017-05-18    False
2017-05-19    False
2017-05-22    False
2017-05-23    False
2017-05-24    False
2017-05-25    False
2017-05-26    False
2017-05-29    False
2017-05-30    False
2017-05-31    False
2017-06-01    False
2017-06-02     True
2017-06-05    False
2017-06-07    False
2017-06-08    False
2017-06-09     True
2017-06-12    False
2017-06-13    False
2017-06-14    False
2017-06-15    False
2017-06-16    False
2017-06-19     True
2017-06-20     True
2017-06-21    False
2017-06-22    False
2017-06-23    False
2017-06-26    False
2017-06-27    False
2017-06-28    False
2017-06-29    False
2017-06-30    False
2017-07-03    False
2017-07-04    False
2017-07-05    False
2017-07-06    False
2017-07-07    False
2017-07-10    False
2017-07-11    False
2017-07-12    False
2017-07-13    False
2017-07-14    False
2017-07-17    False
2017-07-18    False
2017-07-19    False
2017-07-20    False
2017-07-21    False
2017-07-24    False
2017-07-25    False
2017-07-26    False
2017-07-27    False
2017-07-28    False
2017-07-31    False
2017-08-01    False
2017-08-02    False
2017-08-03    False
2017-08-04    False
2017-08-07    False
2017-08-08    False
2017-08-09    False
2017-08-10    False
2017-08-11    False
2017-08-14    False
2017-08-16     True
2017-08-17    False
2017-08-18    False
2017-08-21    False
2017-08-22    False
2017-08-23    False
2017-08-24    False
2017-08-25    False
2017-08-28    False
2017-08-29    False
2017-08-30    False
2017-08-31    False
2017-09-01    False
2017-09-04    False
2017-09-05    False
2017-09-06    False
2017-09-07     True
2017-09-08    False
2017-09-11    False
2017-09-12    False
2017-09-13    False
2017-09-14    False
2017-09-15    False
2017-09-18     True
2017-09-19    False
2017-09-20    False
2017-09-21    False
2017-09-22    False
2017-09-25    False
2017-09-26    False
2017-09-27    False
2017-09-28    False
2017-09-29    False
2017-10-10     True
2017-10-11     True
2017-10-12    False
2017-10-13    False
2017-10-16    False
2017-10-17    False
2017-10-18    False
2017-10-19    False
2017-10-20    False
2017-10-23    False
2017-10-24    False
2017-10-25    False
2017-10-26    False
2017-10-27    False
2017-10-30    False
2017-10-31    False
2017-11-01     True
2017-11-02    False
2017-11-03    False
2017-11-06    False
2017-11-07    False
2017-11-08    False
2017-11-09    False
2017-11-10    False
2017-11-13    False
2017-11-14    False
2017-11-15    False
2017-11-16    False
2017-11-17    False
2017-11-20    False
2017-11-21    False
2017-11-22    False
2017-11-23    False
2017-11-24    False
2017-11-27    False
2017-11-28    False
2017-11-29    False
2017-11-30    False
2017-12-01    False
2017-12-04    False
2017-12-05    False
2017-12-06    False
2017-12-07    False
2017-12-08     True
2017-12-11    False
2017-12-12    False
2017-12-13    False
2017-12-14    False
2017-12-15    False
2017-12-18    False
2017-12-19    False
2017-12-20    False
2017-12-21    False
2017-12-22    False
2017-12-26    False
2017-12-27     True
2017-12-28     True
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05     True
2018-01-08    False
2018-01-09    False
2018-01-10    False
2018-01-11    False
2018-01-12    False
2018-01-15    False
2018-01-16     True
2018-01-17    False
2018-01-18    False
2018-01-19    False
2018-01-22    False
2018-01-23    False
2018-01-24    False
2018-01-25    False
2018-01-26    False
2018-01-29    False
2018-01-30    False
2018-01-31    False
2018-02-01    False
2018-02-02    False
2018-02-05    False
2018-02-06    False
2018-02-07    False
2018-02-08    False
2018-02-09    False
2018-02-12     True
2018-02-13     True
2018-02-14     True
2018-02-19    False
2018-02-20    False
2018-02-21    False
2018-02-22    False
2018-02-23    False
2018-02-26    False
2018-02-27    False
2018-02-28    False
2018-03-02    False
2018-03-05    False
2018-03-06     True
2018-03-07     True
2018-03-08    False
2018-03-09    False
2018-03-12    False
2018-03-13     True
2018-03-14    False
2018-03-15    False
2018-03-16    False
2018-03-19    False
2018-03-20    False
2018-03-21    False
2018-03-22    False
2018-03-23    False
2018-03-26    False
2018-03-27    False
2018-03-28    False
2018-03-29    False
2018-03-30    False
2018-04-02    False
2018-04-03    False
2018-04-04    False
2018-04-05     True
2018-04-06    False
2018-04-09    False
2018-04-10    False
2018-04-11    False
2018-04-12    False
2018-04-13    False
2018-04-16    False
2018-04-17    False
2018-04-18     True
2018-04-19     True
2018-04-20    False
2018-04-23    False
2018-04-24    False
2018-04-25    False
2018-04-26     True
2018-04-27    False
2018-04-30    False
2018-05-02    False
2018-05-03    False
2018-05-04    False
2018-05-08    False
2018-05-09    False
2018-05-10    False
2018-05-11    False
2018-05-14    False
2018-05-15    False
2018-05-16    False
2018-05-17    False
2018-05-18    False
2018-05-21    False
2018-05-23     True
2018-05-24    False
2018-05-25     True
2018-05-28    False
2018-05-29    False
2018-05-30    False
2018-05-31     True
2018-06-01    False
2018-06-04    False
2018-06-05    False
2018-06-07    False
2018-06-08    False
2018-06-11    False
2018-06-12    False
2018-06-14    False
2018-06-15    False
2018-06-18    False
2018-06-19    False
2018-06-20    False
2018-06-21    False
2018-06-22    False
2018-06-25    False
2018-06-26    False
2018-06-27     True
2018-06-28    False
2018-06-29    False
2018-07-02    False
2018-07-03    False
2018-07-04    False
2018-07-05    False
2018-07-06    False
2018-07-09    False
2018-07-10    False
2018-07-11    False
2018-07-12    False
2018-07-13     True
2018-07-16    False
2018-07-17    False
2018-07-18    False
2018-07-19    False
2018-07-20    False
2018-07-23    False
2018-07-24    False
2018-07-25    False
2018-07-26    False
2018-07-27    False
2018-07-30    False
2018-07-31    False
2018-08-01    False
2018-08-02    False
2018-08-03    False
2018-08-06    False
2018-08-07    False
2018-08-08    False
2018-08-09    False
2018-08-10    False
2018-08-13    False
2018-08-14    False
2018-08-16    False
2018-08-17    False
2018-08-20    False
2018-08-21     True
2018-08-22     True
2018-08-23    False
2018-08-24    False
2018-08-27    False
2018-08-28    False
2018-08-29    False
2018-08-30    False
2018-08-31    False
2018-09-03    False
2018-09-04    False
2018-09-05    False
2018-09-06    False
2018-09-07    False
2018-09-10    False
2018-09-11    False
2018-09-12    False
2018-09-13    False
2018-09-14     True
2018-09-17    False
2018-09-18    False
2018-09-19    False
2018-09-20     True
2018-09-21    False
2018-09-27    False
2018-09-28    False
2018-10-01    False
2018-10-02    False
2018-10-04    False
2018-10-05    False
2018-10-08    False
2018-10-10    False
2018-10-11    False
2018-10-12     True
2018-10-15    False
2018-10-16    False
2018-10-17    False
2018-10-18    False
2018-10-19    False
2018-10-22    False
2018-10-23    False
2018-10-24    False
2018-10-25    False
2018-10-26    False
2018-10-29    False
2018-10-30     True
2018-10-31    False
2018-11-01    False
2018-11-02     True
2018-11-05    False
2018-11-06    False
2018-11-07    False
2018-11-08    False
2018-11-09    False
2018-11-12     True
2018-11-13    False
2018-11-14    False
2018-11-15    False
2018-11-16    False
2018-11-19    False
2018-11-20    False
2018-11-21    False
2018-11-22    False
2018-11-23    False
2018-11-26    False
2018-11-27    False
2018-11-28    False
2018-11-29    False
2018-11-30    False
2018-12-03     True
2018-12-04    False
2018-12-05    False
2018-12-06    False
2018-12-07    False
2018-12-10    False
2018-12-11    False
2018-12-12    False
2018-12-13    False
2018-12-14    False
2018-12-17    False
2018-12-18    False
2018-12-19    False
2018-12-20    False
2018-12-21    False
2018-12-24    False
2018-12-26    False
2018-12-27    False
2018-12-28    False
2019-01-02    False
2019-01-03    False
2019-01-04    False
2019-01-07     True
2019-01-08    False
2019-01-09     True
2019-01-10    False
2019-01-11    False
2019-01-14    False
2019-01-15     True
2019-01-16    False
2019-01-17    False
2019-01-18    False
2019-01-21    False
2019-01-22    False
2019-01-23    False
2019-01-24     True
2019-01-25     True
2019-01-28    False
2019-01-29    False
2019-01-30    False
2019-01-31    False
2019-02-01    False
2019-02-07    False
2019-02-08    False
2019-02-11    False
2019-02-12     True
2019-02-13    False
2019-02-14     True
2019-02-15    False
2019-02-18    False
2019-02-19    False
2019-02-20     True
2019-02-21    False
2019-02-22    False
2019-02-25    False
2019-02-26    False
2019-02-27    False
2019-02-28    False
2019-03-04    False
2019-03-05    False
2019-03-06    False
2019-03-07    False
2019-03-08    False
2019-03-11    False
2019-03-12     True
2019-03-13    False
2019-03-14    False
2019-03-15    False
2019-03-18    False
2019-03-19    False
2019-03-20    False
2019-03-21     True
2019-03-22    False
2019-03-25    False
2019-03-26    False
2019-03-27    False
2019-03-28    False
2019-03-29    False
2019-04-01    False
2019-04-02    False
2019-04-03    False
2019-04-04    False
2019-04-05    False
2019-04-08    False
2019-04-09    False
2019-04-10    False
2019-04-11    False
2019-04-12    False
2019-04-15    False
2019-04-16    False
2019-04-17    False
2019-04-18    False
2019-04-19    False
2019-04-22    False
2019-04-23    False
2019-04-24    False
2019-04-25    False
2019-04-26    False
2019-04-29     True
2019-04-30    False
2019-05-02    False
2019-05-03    False
2019-05-07    False
2019-05-08    False
2019-05-09    False
2019-05-10    False
2019-05-13    False
2019-05-14    False
2019-05-15    False
2019-05-16    False
2019-05-17    False
2019-05-20    False
2019-05-21     True
2019-05-22    False
2019-05-23    False
2019-05-24    False
2019-05-27    False
2019-05-28    False
2019-05-29    False
2019-05-30    False
2019-05-31    False
2019-06-03     True
2019-06-04    False
2019-06-05    False
2019-06-07    False
2019-06-10    False
2019-06-11    False
2019-06-12    False
2019-06-13    False
2019-06-14    False
2019-06-17    False
2019-06-18    False
2019-06-19     True
2019-06-20    False
2019-06-21    False
2019-06-24    False
2019-06-25    False
2019-06-26    False
2019-06-27    False
2019-06-28    False
2019-07-01    False
2019-07-02    False
2019-07-03    False
2019-07-04    False
2019-07-05    False
2019-07-08    False
2019-07-09    False
2019-07-10    False
2019-07-11    False
2019-07-12    False
2019-07-15    False
2019-07-16    False
2019-07-17    False
2019-07-18    False
2019-07-19    False
2019-07-22    False
2019-07-23    False
2019-07-24    False
2019-07-25    False
2019-07-26    False
2019-07-29    False
2019-07-30    False
2019-07-31    False
2019-08-01    False
2019-08-02    False
2019-08-05    False
2019-08-06    False
2019-08-07    False
2019-08-08    False
2019-08-09    False
2019-08-12    False
2019-08-13    False
2019-08-14    False
2019-08-16    False
2019-08-19    False
2019-08-20    False
2019-08-21    False
2019-08-22    False
2019-08-23    False
2019-08-26    False
2019-08-27    False
2019-08-28    False
2019-08-29    False
2019-08-30    False
2019-09-02    False
2019-09-03    False
2019-09-04    False
2019-09-05     True
2019-09-06    False
2019-09-09    False
2019-09-10    False
2019-09-11    False
2019-09-16    False
2019-09-17    False
2019-09-18    False
2019-09-19     True
2019-09-20    False
2019-09-23    False
2019-09-24    False
2019-09-25    False
2019-09-26    False
2019-09-27    False
2019-09-30    False
2019-10-01    False
2019-10-02    False
2019-10-04    False
2019-10-07    False
2019-10-08     True
2019-10-10    False
2019-10-11    False
2019-10-14    False
2019-10-15    False
2019-10-16    False
2019-10-17    False
2019-10-18    False
2019-10-21    False
2019-10-22    False
2019-10-23    False
2019-10-24    False
2019-10-25    False
2019-10-28    False
2019-10-29    False
2019-10-30    False
2019-10-31    False
2019-11-01    False
2019-11-04     True
2019-11-05    False
2019-11-06    False
2019-11-07    False
2019-11-08    False
2019-11-11    False
2019-11-12    False
2019-11-13    False
2019-11-14    False
2019-11-15    False
2019-11-18    False
2019-11-19    False
2019-11-20    False
2019-11-21    False
2019-11-22    False
2019-11-25    False
2019-11-26    False
2019-11-27    False
2019-11-28    False
2019-11-29    False
2019-12-02    False
2019-12-03    False
2019-12-04    False
2019-12-05    False
2019-12-06    False
2019-12-09    False
2019-12-10    False
2019-12-11    False
2019-12-12     True
2019-12-13     True
2019-12-16    False
2019-12-17     True
2019-12-18    False
2019-12-19    False
2019-12-20    False
2019-12-23    False
2019-12-24    False
2019-12-26    False
2019-12-27    False
2019-12-30    False
2020-01-02    False
2020-01-03    False
2020-01-06    False
2020-01-07    False
2020-01-08    False
2020-01-09     True
2020-01-10    False
2020-01-13    False
2020-01-14    False
2020-01-15    False
2020-01-16     True
2020-01-17    False
2020-01-20    False
2020-01-21    False
2020-01-22    False
2020-01-23    False
2020-01-28    False
2020-01-29    False
2020-01-30    False
2020-01-31    False

In [213]:
(df['Kospi_Return'] >=2) & (df['Samsung_Return']>=2)

Date
2016-01-04    False
2016-01-05    False
2016-01-06    False
2016-01-07    False
2016-01-08    False
2016-01-11    False
2016-01-12    False
2016-01-13    False
2016-01-14    False
2016-01-15    False
2016-01-18    False
2016-01-19    False
2016-01-20    False
2016-01-21    False
2016-01-22     True
2016-01-25    False
2016-01-26    False
2016-01-27    False
2016-01-28    False
2016-01-29    False
2016-02-01    False
2016-02-02    False
2016-02-03    False
2016-02-04    False
2016-02-05    False
2016-02-11    False
2016-02-12    False
2016-02-15    False
2016-02-16    False
2016-02-17    False
2016-02-18    False
2016-02-19    False
2016-02-22    False
2016-02-23    False
2016-02-24    False
2016-02-25    False
2016-02-26    False
2016-02-29    False
2016-03-02    False
2016-03-03    False
2016-03-04    False
2016-03-07    False
2016-03-08    False
2016-03-09    False
2016-03-10    False
2016-03-11    False
2016-03-14    False
2016-03-15    False
2016-03-16    False
2016-03-17    False
2016-03-18    False
2016-03-21    False
2016-03-22    False
2016-03-23    False
2016-03-24    False
2016-03-25    False
2016-03-28    False
2016-03-29    False
2016-03-30    False
2016-03-31    False
2016-04-01    False
2016-04-04    False
2016-04-05    False
2016-04-06    False
2016-04-07    False
2016-04-08    False
2016-04-11    False
2016-04-12    False
2016-04-14    False
2016-04-15    False
2016-04-18    False
2016-04-19    False
2016-04-20    False
2016-04-21    False
2016-04-22    False
2016-04-25    False
2016-04-26    False
2016-04-27    False
2016-04-28    False
2016-04-29    False
2016-05-02    False
2016-05-03    False
2016-05-04    False
2016-05-09    False
2016-05-10    False
2016-05-11    False
2016-05-12    False
2016-05-13    False
2016-05-16    False
2016-05-17    False
2016-05-18    False
2016-05-19    False
2016-05-20    False
2016-05-23    False
2016-05-24    False
2016-05-25    False
2016-05-26    False
2016-05-27    False
2016-05-30    False
2016-05-31    False
2016-06-01    False
2016-06-02    False
2016-06-03    False
2016-06-07    False
2016-06-08    False
2016-06-09    False
2016-06-10    False
2016-06-13    False
2016-06-14    False
2016-06-15    False
2016-06-16    False
2016-06-17    False
2016-06-20    False
2016-06-21    False
2016-06-22    False
2016-06-23    False
2016-06-24    False
2016-06-27    False
2016-06-28    False
2016-06-29    False
2016-06-30    False
2016-07-01    False
2016-07-04    False
2016-07-05    False
2016-07-06    False
2016-07-07    False
2016-07-08    False
2016-07-11    False
2016-07-12    False
2016-07-13    False
2016-07-14    False
2016-07-15    False
2016-07-18    False
2016-07-19    False
2016-07-20    False
2016-07-21    False
2016-07-22    False
2016-07-25    False
2016-07-26    False
2016-07-27    False
2016-07-28    False
2016-07-29    False
2016-08-01    False
2016-08-02    False
2016-08-03    False
2016-08-04    False
2016-08-05    False
2016-08-08    False
2016-08-09    False
2016-08-10    False
2016-08-11    False
2016-08-12    False
2016-08-16    False
2016-08-17    False
2016-08-18    False
2016-08-19    False
2016-08-22    False
2016-08-23    False
2016-08-24    False
2016-08-25    False
2016-08-26    False
2016-08-29    False
2016-08-30    False
2016-08-31    False
2016-09-01    False
2016-09-02    False
2016-09-05    False
2016-09-06    False
2016-09-07    False
2016-09-08    False
2016-09-09    False
2016-09-12    False
2016-09-13    False
2016-09-19    False
2016-09-20    False
2016-09-21    False
2016-09-22    False
2016-09-23    False
2016-09-26    False
2016-09-27    False
2016-09-28    False
2016-09-29    False
2016-09-30    False
2016-10-04    False
2016-10-05    False
2016-10-06    False
2016-10-07    False
2016-10-10    False
2016-10-11    False
2016-10-12    False
2016-10-13    False
2016-10-14    False
2016-10-17    False
2016-10-18    False
2016-10-19    False
2016-10-20    False
2016-10-21    False
2016-10-24    False
2016-10-25    False
2016-10-26    False
2016-10-27    False
2016-10-28    False
2016-10-31    False
2016-11-01    False
2016-11-02    False
2016-11-03    False
2016-11-04    False
2016-11-07    False
2016-11-08    False
2016-11-09    False
2016-11-10     True
2016-11-11    False
2016-11-14    False
2016-11-15    False
2016-11-16    False
2016-11-17    False
2016-11-18    False
2016-11-21    False
2016-11-22    False
2016-11-23    False
2016-11-24    False
2016-11-25    False
2016-11-28    False
2016-11-29    False
2016-11-30    False
2016-12-01    False
2016-12-02    False
2016-12-05    False
2016-12-06    False
2016-12-07    False
2016-12-08    False
2016-12-09    False
2016-12-12    False
2016-12-13    False
2016-12-14    False
2016-12-15    False
2016-12-16    False
2016-12-19    False
2016-12-20    False
2016-12-21    False
2016-12-22    False
2016-12-23    False
2016-12-26    False
2016-12-27    False
2016-12-28    False
2016-12-29    False
2017-01-02    False
2017-01-03    False
2017-01-04    False
2017-01-05    False
2017-01-06    False
2017-01-09    False
2017-01-10    False
2017-01-11    False
2017-01-12    False
2017-01-13    False
2017-01-16    False
2017-01-17    False
2017-01-18    False
2017-01-19    False
2017-01-20    False
2017-01-23    False
2017-01-24    False
2017-01-25    False
2017-01-26    False
2017-01-31    False
2017-02-01    False
2017-02-02    False
2017-02-03    False
2017-02-06    False
2017-02-07    False
2017-02-08    False
2017-02-09    False
2017-02-10    False
2017-02-13    False
2017-02-14    False
2017-02-15    False
2017-02-16    False
2017-02-17    False
2017-02-20    False
2017-02-21    False
2017-02-22    False
2017-02-23    False
2017-02-24    False
2017-02-27    False
2017-02-28    False
2017-03-02    False
2017-03-03    False
2017-03-06    False
2017-03-07    False
2017-03-08    False
2017-03-09    False
2017-03-10    False
2017-03-13    False
2017-03-14    False
2017-03-15    False
2017-03-16    False
2017-03-17    False
2017-03-20    False
2017-03-21    False
2017-03-22    False
2017-03-23    False
2017-03-24    False
2017-03-27    False
2017-03-28    False
2017-03-29    False
2017-03-30    False
2017-03-31    False
2017-04-03    False
2017-04-04    False
2017-04-05    False
2017-04-06    False
2017-04-07    False
2017-04-10    False
2017-04-11    False
2017-04-12    False
2017-04-13    False
2017-04-14    False
2017-04-17    False
2017-04-18    False
2017-04-19    False
2017-04-20    False
2017-04-21    False
2017-04-24    False
2017-04-25    False
2017-04-26    False
2017-04-27    False
2017-04-28    False
2017-05-02    False
2017-05-04    False
2017-05-08     True
2017-05-10    False
2017-05-11    False
2017-05-12    False
2017-05-15    False
2017-05-16    False
2017-05-17    False
2017-05-18    False
2017-05-19    False
2017-05-22    False
2017-05-23    False
2017-05-24    False
2017-05-25    False
2017-05-26    False
2017-05-29    False
2017-05-30    False
2017-05-31    False
2017-06-01    False
2017-06-02    False
2017-06-05    False
2017-06-07    False
2017-06-08    False
2017-06-09    False
2017-06-12    False
2017-06-13    False
2017-06-14    False
2017-06-15    False
2017-06-16    False
2017-06-19    False
2017-06-20    False
2017-06-21    False
2017-06-22    False
2017-06-23    False
2017-06-26    False
2017-06-27    False
2017-06-28    False
2017-06-29    False
2017-06-30    False
2017-07-03    False
2017-07-04    False
2017-07-05    False
2017-07-06    False
2017-07-07    False
2017-07-10    False
2017-07-11    False
2017-07-12    False
2017-07-13    False
2017-07-14    False
2017-07-17    False
2017-07-18    False
2017-07-19    False
2017-07-20    False
2017-07-21    False
2017-07-24    False
2017-07-25    False
2017-07-26    False
2017-07-27    False
2017-07-28    False
2017-07-31    False
2017-08-01    False
2017-08-02    False
2017-08-03    False
2017-08-04    False
2017-08-07    False
2017-08-08    False
2017-08-09    False
2017-08-10    False
2017-08-11    False
2017-08-14    False
2017-08-16    False
2017-08-17    False
2017-08-18    False
2017-08-21    False
2017-08-22    False
2017-08-23    False
2017-08-24    False
2017-08-25    False
2017-08-28    False
2017-08-29    False
2017-08-30    False
2017-08-31    False
2017-09-01    False
2017-09-04    False
2017-09-05    False
2017-09-06    False
2017-09-07    False
2017-09-08    False
2017-09-11    False
2017-09-12    False
2017-09-13    False
2017-09-14    False
2017-09-15    False
2017-09-18    False
2017-09-19    False
2017-09-20    False
2017-09-21    False
2017-09-22    False
2017-09-25    False
2017-09-26    False
2017-09-27    False
2017-09-28    False
2017-09-29    False
2017-10-10    False
2017-10-11    False
2017-10-12    False
2017-10-13    False
2017-10-16    False
2017-10-17    False
2017-10-18    False
2017-10-19    False
2017-10-20    False
2017-10-23    False
2017-10-24    False
2017-10-25    False
2017-10-26    False
2017-10-27    False
2017-10-30    False
2017-10-31    False
2017-11-01    False
2017-11-02    False
2017-11-03    False
2017-11-06    False
2017-11-07    False
2017-11-08    False
2017-11-09    False
2017-11-10    False
2017-11-13    False
2017-11-14    False
2017-11-15    False
2017-11-16    False
2017-11-17    False
2017-11-20    False
2017-11-21    False
2017-11-22    False
2017-11-23    False
2017-11-24    False
2017-11-27    False
2017-11-28    False
2017-11-29    False
2017-11-30    False
2017-12-01    False
2017-12-04    False
2017-12-05    False
2017-12-06    False
2017-12-07    False
2017-12-08    False
2017-12-11    False
2017-12-12    False
2017-12-13    False
2017-12-14    False
2017-12-15    False
2017-12-18    False
2017-12-19    False
2017-12-20    False
2017-12-21    False
2017-12-22    False
2017-12-26    False
2017-12-27    False
2017-12-28    False
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05    False
2018-01-08    False
2018-01-09    False
2018-01-10    False
2018-01-11    False
2018-01-12    False
2018-01-15    False
2018-01-16    False
2018-01-17    False
2018-01-18    False
2018-01-19    False
2018-01-22    False
2018-01-23    False
2018-01-24    False
2018-01-25    False
2018-01-26    False
2018-01-29    False
2018-01-30    False
2018-01-31    False
2018-02-01    False
2018-02-02    False
2018-02-05    False
2018-02-06    False
2018-02-07    False
2018-02-08    False
2018-02-09    False
2018-02-12    False
2018-02-13    False
2018-02-14    False
2018-02-19    False
2018-02-20    False
2018-02-21    False
2018-02-22    False
2018-02-23    False
2018-02-26    False
2018-02-27    False
2018-02-28    False
2018-03-02    False
2018-03-05    False
2018-03-06    False
2018-03-07    False
2018-03-08    False
2018-03-09    False
2018-03-12    False
2018-03-13    False
2018-03-14    False
2018-03-15    False
2018-03-16    False
2018-03-19    False
2018-03-20    False
2018-03-21    False
2018-03-22    False
2018-03-23    False
2018-03-26    False
2018-03-27    False
2018-03-28    False
2018-03-29    False
2018-03-30    False
2018-04-02    False
2018-04-03    False
2018-04-04    False
2018-04-05    False
2018-04-06    False
2018-04-09    False
2018-04-10    False
2018-04-11    False
2018-04-12    False
2018-04-13    False
2018-04-16    False
2018-04-17    False
2018-04-18    False
2018-04-19    False
2018-04-20    False
2018-04-23    False
2018-04-24    False
2018-04-25    False
2018-04-26    False
2018-04-27    False
2018-04-30    False
2018-05-02    False
2018-05-03    False
2018-05-04    False
2018-05-08    False
2018-05-09    False
2018-05-10    False
2018-05-11    False
2018-05-14    False
2018-05-15    False
2018-05-16    False
2018-05-17    False
2018-05-18    False
2018-05-21    False
2018-05-23    False
2018-05-24    False
2018-05-25    False
2018-05-28    False
2018-05-29    False
2018-05-30    False
2018-05-31    False
2018-06-01    False
2018-06-04    False
2018-06-05    False
2018-06-07    False
2018-06-08    False
2018-06-11    False
2018-06-12    False
2018-06-14    False
2018-06-15    False
2018-06-18    False
2018-06-19    False
2018-06-20    False
2018-06-21    False
2018-06-22    False
2018-06-25    False
2018-06-26    False
2018-06-27    False
2018-06-28    False
2018-06-29    False
2018-07-02    False
2018-07-03    False
2018-07-04    False
2018-07-05    False
2018-07-06    False
2018-07-09    False
2018-07-10    False
2018-07-11    False
2018-07-12    False
2018-07-13    False
2018-07-16    False
2018-07-17    False
2018-07-18    False
2018-07-19    False
2018-07-20    False
2018-07-23    False
2018-07-24    False
2018-07-25    False
2018-07-26    False
2018-07-27    False
2018-07-30    False
2018-07-31    False
2018-08-01    False
2018-08-02    False
2018-08-03    False
2018-08-06    False
2018-08-07    False
2018-08-08    False
2018-08-09    False
2018-08-10    False
2018-08-13    False
2018-08-14    False
2018-08-16    False
2018-08-17    False
2018-08-20    False
2018-08-21    False
2018-08-22    False
2018-08-23    False
2018-08-24    False
2018-08-27    False
2018-08-28    False
2018-08-29    False
2018-08-30    False
2018-08-31    False
2018-09-03    False
2018-09-04    False
2018-09-05    False
2018-09-06    False
2018-09-07    False
2018-09-10    False
2018-09-11    False
2018-09-12    False
2018-09-13    False
2018-09-14    False
2018-09-17    False
2018-09-18    False
2018-09-19    False
2018-09-20    False
2018-09-21    False
2018-09-27    False
2018-09-28    False
2018-10-01    False
2018-10-02    False
2018-10-04    False
2018-10-05    False
2018-10-08    False
2018-10-10    False
2018-10-11    False
2018-10-12    False
2018-10-15    False
2018-10-16    False
2018-10-17    False
2018-10-18    False
2018-10-19    False
2018-10-22    False
2018-10-23    False
2018-10-24    False
2018-10-25    False
2018-10-26    False
2018-10-29    False
2018-10-30    False
2018-10-31    False
2018-11-01    False
2018-11-02     True
2018-11-05    False
2018-11-06    False
2018-11-07    False
2018-11-08    False
2018-11-09    False
2018-11-12    False
2018-11-13    False
2018-11-14    False
2018-11-15    False
2018-11-16    False
2018-11-19    False
2018-11-20    False
2018-11-21    False
2018-11-22    False
2018-11-23    False
2018-11-26    False
2018-11-27    False
2018-11-28    False
2018-11-29    False
2018-11-30    False
2018-12-03    False
2018-12-04    False
2018-12-05    False
2018-12-06    False
2018-12-07    False
2018-12-10    False
2018-12-11    False
2018-12-12    False
2018-12-13    False
2018-12-14    False
2018-12-17    False
2018-12-18    False
2018-12-19    False
2018-12-20    False
2018-12-21    False
2018-12-24    False
2018-12-26    False
2018-12-27    False
2018-12-28    False
2019-01-02    False
2019-01-03    False
2019-01-04    False
2019-01-07    False
2019-01-08    False
2019-01-09    False
2019-01-10    False
2019-01-11    False
2019-01-14    False
2019-01-15    False
2019-01-16    False
2019-01-17    False
2019-01-18    False
2019-01-21    False
2019-01-22    False
2019-01-23    False
2019-01-24    False
2019-01-25    False
2019-01-28    False
2019-01-29    False
2019-01-30    False
2019-01-31    False
2019-02-01    False
2019-02-07    False
2019-02-08    False
2019-02-11    False
2019-02-12    False
2019-02-13    False
2019-02-14    False
2019-02-15    False
2019-02-18    False
2019-02-19    False
2019-02-20    False
2019-02-21    False
2019-02-22    False
2019-02-25    False
2019-02-26    False
2019-02-27    False
2019-02-28    False
2019-03-04    False
2019-03-05    False
2019-03-06    False
2019-03-07    False
2019-03-08    False
2019-03-11    False
2019-03-12    False
2019-03-13    False
2019-03-14    False
2019-03-15    False
2019-03-18    False
2019-03-19    False
2019-03-20    False
2019-03-21    False
2019-03-22    False
2019-03-25    False
2019-03-26    False
2019-03-27    False
2019-03-28    False
2019-03-29    False
2019-04-01    False
2019-04-02    False
2019-04-03    False
2019-04-04    False
2019-04-05    False
2019-04-08    False
2019-04-09    False
2019-04-10    False
2019-04-11    False
2019-04-12    False
2019-04-15    False
2019-04-16    False
2019-04-17    False
2019-04-18    False
2019-04-19    False
2019-04-22    False
2019-04-23    False
2019-04-24    False
2019-04-25    False
2019-04-26    False
2019-04-29    False
2019-04-30    False
2019-05-02    False
2019-05-03    False
2019-05-07    False
2019-05-08    False
2019-05-09    False
2019-05-10    False
2019-05-13    False
2019-05-14    False
2019-05-15    False
2019-05-16    False
2019-05-17    False
2019-05-20    False
2019-05-21    False
2019-05-22    False
2019-05-23    False
2019-05-24    False
2019-05-27    False
2019-05-28    False
2019-05-29    False
2019-05-30    False
2019-05-31    False
2019-06-03    False
2019-06-04    False
2019-06-05    False
2019-06-07    False
2019-06-10    False
2019-06-11    False
2019-06-12    False
2019-06-13    False
2019-06-14    False
2019-06-17    False
2019-06-18    False
2019-06-19    False
2019-06-20    False
2019-06-21    False
2019-06-24    False
2019-06-25    False
2019-06-26    False
2019-06-27    False
2019-06-28    False
2019-07-01    False
2019-07-02    False
2019-07-03    False
2019-07-04    False
2019-07-05    False
2019-07-08    False
2019-07-09    False
2019-07-10    False
2019-07-11    False
2019-07-12    False
2019-07-15    False
2019-07-16    False
2019-07-17    False
2019-07-18    False
2019-07-19    False
2019-07-22    False
2019-07-23    False
2019-07-24    False
2019-07-25    False
2019-07-26    False
2019-07-29    False
2019-07-30    False
2019-07-31    False
2019-08-01    False
2019-08-02    False
2019-08-05    False
2019-08-06    False
2019-08-07    False
2019-08-08    False
2019-08-09    False
2019-08-12    False
2019-08-13    False
2019-08-14    False
2019-08-16    False
2019-08-19    False
2019-08-20    False
2019-08-21    False
2019-08-22    False
2019-08-23    False
2019-08-26    False
2019-08-27    False
2019-08-28    False
2019-08-29    False
2019-08-30    False
2019-09-02    False
2019-09-03    False
2019-09-04    False
2019-09-05    False
2019-09-06    False
2019-09-09    False
2019-09-10    False
2019-09-11    False
2019-09-16    False
2019-09-17    False
2019-09-18    False
2019-09-19    False
2019-09-20    False
2019-09-23    False
2019-09-24    False
2019-09-25    False
2019-09-26    False
2019-09-27    False
2019-09-30    False
2019-10-01    False
2019-10-02    False
2019-10-04    False
2019-10-07    False
2019-10-08    False
2019-10-10    False
2019-10-11    False
2019-10-14    False
2019-10-15    False
2019-10-16    False
2019-10-17    False
2019-10-18    False
2019-10-21    False
2019-10-22    False
2019-10-23    False
2019-10-24    False
2019-10-25    False
2019-10-28    False
2019-10-29    False
2019-10-30    False
2019-10-31    False
2019-11-01    False
2019-11-04    False
2019-11-05    False
2019-11-06    False
2019-11-07    False
2019-11-08    False
2019-11-11    False
2019-11-12    False
2019-11-13    False
2019-11-14    False
2019-11-15    False
2019-11-18    False
2019-11-19    False
2019-11-20    False
2019-11-21    False
2019-11-22    False
2019-11-25    False
2019-11-26    False
2019-11-27    False
2019-11-28    False
2019-11-29    False
2019-12-02    False
2019-12-03    False
2019-12-04    False
2019-12-05    False
2019-12-06    False
2019-12-09    False
2019-12-10    False
2019-12-11    False
2019-12-12    False
2019-12-13    False
2019-12-16    False
2019-12-17    False
2019-12-18    False
2019-12-19    False
2019-12-20    False
2019-12-23    False
2019-12-24    False
2019-12-26    False
2019-12-27    False
2019-12-30    False
2020-01-02    False
2020-01-03    False
2020-01-06    False
2020-01-07    False
2020-01-08    False
2020-01-09    False
2020-01-10    False
2020-01-13    False
2020-01-14    False
2020-01-15    False
2020-01-16    False
2020-01-17    False
2020-01-20    False
2020-01-21    False
2020-01-22    False
2020-01-23    False
2020-01-28    False
2020-01-29    False
2020-01-30    False
2020-01-31    False

In [217]:
df['Condition'] = np.where(((df['Kospi_Return'] >=2) & (df['Samsung_Return']>=2)), df['Samsung_Return'], np.nan)
df['Condition'] # 조건에 해당하는 series 생성

Date
2016-01-04          NaN
2016-01-05          NaN
2016-01-06          NaN
2016-01-07          NaN
2016-01-08          NaN
2016-01-11          NaN
2016-01-12          NaN
2016-01-13          NaN
2016-01-14          NaN
2016-01-15          NaN
2016-01-18          NaN
2016-01-19          NaN
2016-01-20          NaN
2016-01-21          NaN
2016-01-22     3.271441
2016-01-25          NaN
2016-01-26          NaN
2016-01-27          NaN
2016-01-28          NaN
2016-01-29          NaN
2016-02-01          NaN
2016-02-02          NaN
2016-02-03          NaN
2016-02-04          NaN
2016-02-05          NaN
2016-02-11          NaN
2016-02-12          NaN
2016-02-15          NaN
2016-02-16          NaN
2016-02-17          NaN
2016-02-18          NaN
2016-02-19          NaN
2016-02-22          NaN
2016-02-23          NaN
2016-02-24          NaN
2016-02-25          NaN
2016-02-26          NaN
2016-02-29          NaN
2016-03-02          NaN
2016-03-03          NaN
2016-03-04          NaN
2016-03-07          NaN
2016-03-08          NaN
2016-03-09          NaN
2016-03-10          NaN
2016-03-11          NaN
2016-03-14          NaN
2016-03-15          NaN
2016-03-16          NaN
2016-03-17          NaN
2016-03-18          NaN
2016-03-21          NaN
2016-03-22          NaN
2016-03-23          NaN
2016-03-24          NaN
2016-03-25          NaN
2016-03-28          NaN
2016-03-29          NaN
2016-03-30          NaN
2016-03-31          NaN
2016-04-01          NaN
2016-04-04          NaN
2016-04-05          NaN
2016-04-06          NaN
2016-04-07          NaN
2016-04-08          NaN
2016-04-11          NaN
2016-04-12          NaN
2016-04-14          NaN
2016-04-15          NaN
2016-04-18          NaN
2016-04-19          NaN
2016-04-20          NaN
2016-04-21          NaN
2016-04-22          NaN
2016-04-25          NaN
2016-04-26          NaN
2016-04-27          NaN
2016-04-28          NaN
2016-04-29          NaN
2016-05-02          NaN
2016-05-03          NaN
2016-05-04          NaN
2016-05-09          NaN
2016-05-10          NaN
2016-05-11          NaN
2016-05-12          NaN
2016-05-13          NaN
2016-05-16          NaN
2016-05-17          NaN
2016-05-18          NaN
2016-05-19          NaN
2016-05-20          NaN
2016-05-23          NaN
2016-05-24          NaN
2016-05-25          NaN
2016-05-26          NaN
2016-05-27          NaN
2016-05-30          NaN
2016-05-31          NaN
2016-06-01          NaN
2016-06-02          NaN
2016-06-03          NaN
2016-06-07          NaN
2016-06-08          NaN
2016-06-09          NaN
2016-06-10          NaN
2016-06-13          NaN
2016-06-14          NaN
2016-06-15          NaN
2016-06-16          NaN
2016-06-17          NaN
2016-06-20          NaN
2016-06-21          NaN
2016-06-22          NaN
2016-06-23          NaN
2016-06-24          NaN
2016-06-27          NaN
2016-06-28          NaN
2016-06-29          NaN
2016-06-30          NaN
2016-07-01          NaN
2016-07-04          NaN
2016-07-05          NaN
2016-07-06          NaN
2016-07-07          NaN
2016-07-08          NaN
2016-07-11          NaN
2016-07-12          NaN
2016-07-13          NaN
2016-07-14          NaN
2016-07-15          NaN
2016-07-18          NaN
2016-07-19          NaN
2016-07-20          NaN
2016-07-21          NaN
2016-07-22          NaN
2016-07-25          NaN
2016-07-26          NaN
2016-07-27          NaN
2016-07-28          NaN
2016-07-29          NaN
2016-08-01          NaN
2016-08-02          NaN
2016-08-03          NaN
2016-08-04          NaN
2016-08-05          NaN
2016-08-08          NaN
2016-08-09          NaN
2016-08-10          NaN
2016-08-11          NaN
2016-08-12          NaN
2016-08-16          NaN
2016-08-17          NaN
2016-08-18          NaN
2016-08-19          NaN
2016-08-22          NaN
2016-08-23          NaN
2016-08-24          NaN
2016-08-25          NaN
2016-08-26          NaN
2016-08-29          NaN
2016-08-30          NaN
2016-08-31          NaN
2016-09-01          NaN
2016-09-02          NaN
2016-09-05          NaN
2016-09-06          NaN
2016-09-07          NaN
2016-09-08          NaN
2016-09-09          NaN
2016-09-12          NaN
2016-09-13          NaN
2016-09-19          NaN
2016-09-20          NaN
2016-09-21          NaN
2016-09-22          NaN
2016-09-23          NaN
2016-09-26          NaN
2016-09-27          NaN
2016-09-28          NaN
2016-09-29          NaN
2016-09-30          NaN
2016-10-04          NaN
2016-10-05          NaN
2016-10-06          NaN
2016-10-07          NaN
2016-10-10          NaN
2016-10-11          NaN
2016-10-12          NaN
2016-10-13          NaN
2016-10-14          NaN
2016-10-17          NaN
2016-10-18          NaN
2016-10-19          NaN
2016-10-20          NaN
2016-10-21          NaN
2016-10-24          NaN
2016-10-25          NaN
2016-10-26          NaN
2016-10-27          NaN
2016-10-28          NaN
2016-10-31          NaN
2016-11-01          NaN
2016-11-02          NaN
2016-11-03          NaN
2016-11-04          NaN
2016-11-07          NaN
2016-11-08          NaN
2016-11-09          NaN
2016-11-10     3.320802
2016-11-11          NaN
2016-11-14          NaN
2016-11-15          NaN
2016-11-16          NaN
2016-11-17          NaN
2016-11-18          NaN
2016-11-21          NaN
2016-11-22          NaN
2016-11-23          NaN
2016-11-24          NaN
2016-11-25          NaN
2016-11-28          NaN
2016-11-29          NaN
2016-11-30          NaN
2016-12-01          NaN
2016-12-02          NaN
2016-12-05          NaN
2016-12-06          NaN
2016-12-07          NaN
2016-12-08          NaN
2016-12-09          NaN
2016-12-12          NaN
2016-12-13          NaN
2016-12-14          NaN
2016-12-15          NaN
2016-12-16          NaN
2016-12-19          NaN
2016-12-20          NaN
2016-12-21          NaN
2016-12-22          NaN
2016-12-23          NaN
2016-12-26          NaN
2016-12-27          NaN
2016-12-28          NaN
2016-12-29          NaN
2017-01-02          NaN
2017-01-03          NaN
2017-01-04          NaN
2017-01-05          NaN
2017-01-06          NaN
2017-01-09          NaN
2017-01-10          NaN
2017-01-11          NaN
2017-01-12          NaN
2017-01-13          NaN
2017-01-16          NaN
2017-01-17          NaN
2017-01-18          NaN
2017-01-19          NaN
2017-01-20          NaN
2017-01-23          NaN
2017-01-24          NaN
2017-01-25          NaN
2017-01-26          NaN
2017-01-31          NaN
2017-02-01          NaN
2017-02-02          NaN
2017-02-03          NaN
2017-02-06          NaN
2017-02-07          NaN
2017-02-08          NaN
2017-02-09          NaN
2017-02-10          NaN
2017-02-13          NaN
2017-02-14          NaN
2017-02-15          NaN
2017-02-16          NaN
2017-02-17          NaN
2017-02-20          NaN
2017-02-21          NaN
2017-02-22          NaN
2017-02-23          NaN
2017-02-24          NaN
2017-02-27          NaN
2017-02-28          NaN
2017-03-02          NaN
2017-03-03          NaN
2017-03-06          NaN
2017-03-07          NaN
2017-03-08          NaN
2017-03-09          NaN
2017-03-10          NaN
2017-03-13          NaN
2017-03-14          NaN
2017-03-15          NaN
2017-03-16          NaN
2017-03-17          NaN
2017-03-20          NaN
2017-03-21          NaN
2017-03-22          NaN
2017-03-23          NaN
2017-03-24          NaN
2017-03-27          NaN
2017-03-28          NaN
2017-03-29          NaN
2017-03-30          NaN
2017-03-31          NaN
2017-04-03          NaN
2017-04-04          NaN
2017-04-05          NaN
2017-04-06          NaN
2017-04-07          NaN
2017-04-10          NaN
2017-04-11          NaN
2017-04-12          NaN
2017-04-13          NaN
2017-04-14          NaN
2017-04-17          NaN
2017-04-18          NaN
2017-04-19          NaN
2017-04-20          NaN
2017-04-21          NaN
2017-04-24          NaN
2017-04-25          NaN
2017-04-26          NaN
2017-04-27          NaN
2017-04-28          NaN
2017-05-02          NaN
2017-05-04          NaN
2017-05-08     3.295255
2017-05-10          NaN
2017-05-11          NaN
2017-05-12          NaN
2017-05-15          NaN
2017-05-16          NaN
2017-05-17          NaN
2017-05-18          NaN
2017-05-19          NaN
2017-05-22          NaN
2017-05-23          NaN
2017-05-24          NaN
2017-05-25          NaN
2017-05-26          NaN
2017-05-29          NaN
2017-05-30          NaN
2017-05-31          NaN
2017-06-01          NaN
2017-06-02          NaN
2017-06-05          NaN
2017-06-07          NaN
2017-06-08          NaN
2017-06-09          NaN
2017-06-12          NaN
2017-06-13          NaN
2017-06-14          NaN
2017-06-15          NaN
2017-06-16          NaN
2017-06-19          NaN
2017-06-20          NaN
2017-06-21          NaN
2017-06-22          NaN
2017-06-23          NaN
2017-06-26          NaN
2017-06-27          NaN
2017-06-28          NaN
2017-06-29          NaN
2017-06-30          NaN
2017-07-03          NaN
2017-07-04          NaN
2017-07-05          NaN
2017-07-06          NaN
2017-07-07          NaN
2017-07-10          NaN
2017-07-11          NaN
2017-07-12          NaN
2017-07-13          NaN
2017-07-14          NaN
2017-07-17          NaN
2017-07-18          NaN
2017-07-19          NaN
2017-07-20          NaN
2017-07-21          NaN
2017-07-24          NaN
2017-07-25          NaN
2017-07-26          NaN
2017-07-27          NaN
2017-07-28          NaN
2017-07-31          NaN
2017-08-01          NaN
2017-08-02          NaN
2017-08-03          NaN
2017-08-04          NaN
2017-08-07          NaN
2017-08-08          NaN
2017-08-09          NaN
2017-08-10          NaN
2017-08-11          NaN
2017-08-14          NaN
2017-08-16          NaN
2017-08-17          NaN
2017-08-18          NaN
2017-08-21          NaN
2017-08-22          NaN
2017-08-23          NaN
2017-08-24          NaN
2017-08-25          NaN
2017-08-28          NaN
2017-08-29          NaN
2017-08-30          NaN
2017-08-31          NaN
2017-09-01          NaN
2017-09-04          NaN
2017-09-05          NaN
2017-09-06          NaN
2017-09-07          NaN
2017-09-08          NaN
2017-09-11          NaN
2017-09-12          NaN
2017-09-13          NaN
2017-09-14          NaN
2017-09-15          NaN
2017-09-18          NaN
2017-09-19          NaN
2017-09-20          NaN
2017-09-21          NaN
2017-09-22          NaN
2017-09-25          NaN
2017-09-26          NaN
2017-09-27          NaN
2017-09-28          NaN
2017-09-29          NaN
2017-10-10          NaN
2017-10-11          NaN
2017-10-12          NaN
2017-10-13          NaN
2017-10-16          NaN
2017-10-17          NaN
2017-10-18          NaN
2017-10-19          NaN
2017-10-20          NaN
2017-10-23          NaN
2017-10-24          NaN
2017-10-25          NaN
2017-10-26          NaN
2017-10-27          NaN
2017-10-30          NaN
2017-10-31          NaN
2017-11-01          NaN
2017-11-02          NaN
2017-11-03          NaN
2017-11-06          NaN
2017-11-07          NaN
2017-11-08          NaN
2017-11-09          NaN
2017-11-10          NaN
2017-11-13          NaN
2017-11-14          NaN
2017-11-15          NaN
2017-11-16          NaN
2017-11-17          NaN
2017-11-20          NaN
2017-11-21          NaN
2017-11-22          NaN
2017-11-23          NaN
2017-11-24          NaN
2017-11-27          NaN
2017-11-28          NaN
2017-11-29          NaN
2017-11-30          NaN
2017-12-01          NaN
2017-12-04          NaN
2017-12-05          NaN
2017-12-06          NaN
2017-12-07          NaN
2017-12-08          NaN
2017-12-11          NaN
2017-12-12          NaN
2017-12-13          NaN
2017-12-14          NaN
2017-12-15          NaN
2017-12-18          NaN
2017-12-19          NaN
2017-12-20          NaN
2017-12-21          NaN
2017-12-22          NaN
2017-12-26          NaN
2017-12-27          NaN
2017-12-28          NaN
2018-01-02          NaN
2018-01-03          NaN
2018-01-04          NaN
2018-01-05          NaN
2018-01-08          NaN
2018-01-09          NaN
2018-01-10          NaN
2018-01-11          NaN
2018-01-12          NaN
2018-01-15          NaN
2018-01-16          NaN
2018-01-17          NaN
2018-01-18          NaN
2018-01-19          NaN
2018-01-22          NaN
2018-01-23          NaN
2018-01-24          NaN
2018-01-25          NaN
2018-01-26          NaN
2018-01-29          NaN
2018-01-30          NaN
2018-01-31          NaN
2018-02-01          NaN
2018-02-02          NaN
2018-02-05          NaN
2018-02-06          NaN
2018-02-07          NaN
2018-02-08          NaN
2018-02-09          NaN
2018-02-12          NaN
2018-02-13          NaN
2018-02-14          NaN
2018-02-19          NaN
2018-02-20          NaN
2018-02-21          NaN
2018-02-22          NaN
2018-02-23          NaN
2018-02-26          NaN
2018-02-27          NaN
2018-02-28          NaN
2018-03-02          NaN
2018-03-05          NaN
2018-03-06          NaN
2018-03-07          NaN
2018-03-08          NaN
2018-03-09          NaN
2018-03-12          NaN
2018-03-13          NaN
2018-03-14          NaN
2018-03-15          NaN
2018-03-16          NaN
2018-03-19          NaN
2018-03-20          NaN
2018-03-21          NaN
2018-03-22          NaN
2018-03-23          NaN
2018-03-26          NaN
2018-03-27          NaN
2018-03-28          NaN
2018-03-29          NaN
2018-03-30          NaN
2018-04-02          NaN
2018-04-03          NaN
2018-04-04          NaN
2018-04-05          NaN
2018-04-06          NaN
2018-04-09          NaN
2018-04-10          NaN
2018-04-11          NaN
2018-04-12          NaN
2018-04-13          NaN
2018-04-16          NaN
2018-04-17          NaN
2018-04-18          NaN
2018-04-19          NaN
2018-04-20          NaN
2018-04-23          NaN
2018-04-24          NaN
2018-04-25          NaN
2018-04-26          NaN
2018-04-27          NaN
2018-04-30          NaN
2018-05-02          NaN
2018-05-03          NaN
2018-05-04          NaN
2018-05-08          NaN
2018-05-09          NaN
2018-05-10          NaN
2018-05-11          NaN
2018-05-14          NaN
2018-05-15          NaN
2018-05-16          NaN
2018-05-17          NaN
2018-05-18          NaN
2018-05-21          NaN
2018-05-23          NaN
2018-05-24          NaN
2018-05-25          NaN
2018-05-28          NaN
2018-05-29          NaN
2018-05-30          NaN
2018-05-31          NaN
2018-06-01          NaN
2018-06-04          NaN
2018-06-05          NaN
2018-06-07          NaN
2018-06-08          NaN
2018-06-11          NaN
2018-06-12          NaN
2018-06-14          NaN
2018-06-15          NaN
2018-06-18          NaN
2018-06-19          NaN
2018-06-20          NaN
2018-06-21          NaN
2018-06-22          NaN
2018-06-25          NaN
2018-06-26          NaN
2018-06-27          NaN
2018-06-28          NaN
2018-06-29          NaN
2018-07-02          NaN
2018-07-03          NaN
2018-07-04          NaN
2018-07-05          NaN
2018-07-06          NaN
2018-07-09          NaN
2018-07-10          NaN
2018-07-11          NaN
2018-07-12          NaN
2018-07-13          NaN
2018-07-16          NaN
2018-07-17          NaN
2018-07-18          NaN
2018-07-19          NaN
2018-07-20          NaN
2018-07-23          NaN
2018-07-24          NaN
2018-07-25          NaN
2018-07-26          NaN
2018-07-27          NaN
2018-07-30          NaN
2018-07-31          NaN
2018-08-01          NaN
2018-08-02          NaN
2018-08-03          NaN
2018-08-06          NaN
2018-08-07          NaN
2018-08-08          NaN
2018-08-09          NaN
2018-08-10          NaN
2018-08-13          NaN
2018-08-14          NaN
2018-08-16          NaN
2018-08-17          NaN
2018-08-20          NaN
2018-08-21          NaN
2018-08-22          NaN
2018-08-23          NaN
2018-08-24          NaN
2018-08-27          NaN
2018-08-28          NaN
2018-08-29          NaN
2018-08-30          NaN
2018-08-31          NaN
2018-09-03          NaN
2018-09-04          NaN
2018-09-05          NaN
2018-09-06          NaN
2018-09-07          NaN
2018-09-10          NaN
2018-09-11          NaN
2018-09-12          NaN
2018-09-13          NaN
2018-09-14          NaN
2018-09-17          NaN
2018-09-18          NaN
2018-09-19          NaN
2018-09-20          NaN
2018-09-21          NaN
2018-09-27          NaN
2018-09-28          NaN
2018-10-01          NaN
2018-10-02          NaN
2018-10-04          NaN
2018-10-05          NaN
2018-10-08          NaN
2018-10-10          NaN
2018-10-11          NaN
2018-10-12          NaN
2018-10-15          NaN
2018-10-16          NaN
2018-10-17          NaN
2018-10-18          NaN
2018-10-19          NaN
2018-10-22          NaN
2018-10-23          NaN
2018-10-24          NaN
2018-10-25          NaN
2018-10-26          NaN
2018-10-29          NaN
2018-10-30          NaN
2018-10-31          NaN
2018-11-01          NaN
2018-11-02     4.744958
2018-11-05          NaN
2018-11-06          NaN
2018-11-07          NaN
2018-11-08          NaN
2018-11-09          NaN
2018-11-12          NaN
2018-11-13          NaN
2018-11-14          NaN
2018-11-15          NaN
2018-11-16          NaN
2018-11-19          NaN
2018-11-20          NaN
2018-11-21          NaN
2018-11-22          NaN
2018-11-23          NaN
2018-11-26          NaN
2018-11-27          NaN
2018-11-28          NaN
2018-11-29          NaN
2018-11-30          NaN
2018-12-03          NaN
2018-12-04          NaN
2018-12-05          NaN
2018-12-06          NaN
2018-12-07          NaN
2018-12-10          NaN
2018-12-11          NaN
2018-12-12          NaN
2018-12-13          NaN
2018-12-14          NaN
2018-12-17          NaN
2018-12-18          NaN
2018-12-19          NaN
2018-12-20          NaN
2018-12-21          NaN
2018-12-24          NaN
2018-12-26          NaN
2018-12-27          NaN
2018-12-28          NaN
2019-01-02          NaN
2019-01-03          NaN
2019-01-04          NaN
2019-01-07          NaN
2019-01-08          NaN
2019-01-09          NaN
2019-01-10          NaN
2019-01-11          NaN
2019-01-14          NaN
2019-01-15          NaN
2019-01-16          NaN
2019-01-17          NaN
2019-01-18          NaN
2019-01-21          NaN
2019-01-22          NaN
2019-01-23          NaN
2019-01-24          NaN
2019-01-25          NaN
2019-01-28          NaN
2019-01-29          NaN
2019-01-30          NaN
2019-01-31          NaN
2019-02-01          NaN
2019-02-07          NaN
2019-02-08          NaN
2019-02-11          NaN
2019-02-12          NaN
2019-02-13          NaN
2019-02-14          NaN
2019-02-15          NaN
2019-02-18          NaN
2019-02-19          NaN
2019-02-20          NaN
2019-02-21          NaN
2019-02-22          NaN
2019-02-25          NaN
2019-02-26          NaN
2019-02-27          NaN
2019-02-28          NaN
2019-03-04          NaN
2019-03-05          NaN
2019-03-06          NaN
2019-03-07          NaN
2019-03-08          NaN
2019-03-11          NaN
2019-03-12          NaN
2019-03-13          NaN
2019-03-14          NaN
2019-03-15          NaN
2019-03-18          NaN
2019-03-19          NaN
2019-03-20          NaN
2019-03-21          NaN
2019-03-22          NaN
2019-03-25          NaN
2019-03-26          NaN
2019-03-27          NaN
2019-03-28          NaN
2019-03-29          NaN
2019-04-01          NaN
2019-04-02          NaN
2019-04-03          NaN
2019-04-04          NaN
2019-04-05          NaN
2019-04-08          NaN
2019-04-09          NaN
2019-04-10          NaN
2019-04-11          NaN
2019-04-12          NaN
2019-04-15          NaN
2019-04-16          NaN
2019-04-17          NaN
2019-04-18          NaN
2019-04-19          NaN
2019-04-22          NaN
2019-04-23          NaN
2019-04-24          NaN
2019-04-25          NaN
2019-04-26          NaN
2019-04-29          NaN
2019-04-30          NaN
2019-05-02          NaN
2019-05-03          NaN
2019-05-07          NaN
2019-05-08          NaN
2019-05-09          NaN
2019-05-10          NaN
2019-05-13          NaN
2019-05-14          NaN
2019-05-15          NaN
2019-05-16          NaN
2019-05-17          NaN
2019-05-20          NaN
2019-05-21          NaN
2019-05-22          NaN
2019-05-23          NaN
2019-05-24          NaN
2019-05-27          NaN
2019-05-28          NaN
2019-05-29          NaN

In [216]:
df_result = df.dropna()

df_result

            Kospi_Return  Samsung_Return  Condition
Date
2016-01-22          2.11        3.271441   3.271441
2016-11-10          2.26        3.320802   3.320802
2017-05-08          2.30        3.295255   3.295255
2018-11-02          3.53        4.744958   4.744958
2020-02-06          2.88        2.689076   2.689076
2020-03-04          2.24        3.610108   3.610108
2020-03-20          7.44        5.704307   5.704307
2020-03-24          8.60       10.470588  10.470588
2020-03-25          5.89        3.620873   3.620873
2020-04-02          2.34        2.183406   2.183406
2020-04-06          3.85        3.617021   3.617021
2020-04-17          3.09        4.897959   4.897959
2020-05-19          2.25        3.073770   3.073770
2020-06-03          2.87        6.031128   6.031128
2020-06-16          5.28        4.408818   4.408818
2020-11-05          2.40        3.076923   3.076923
2020-12-09          2.02        3.068340   3.068340
2021-01-04          2.47        2.469136   2.469136
2021-01-08          3.97        7.117008   7.117008
2021-01-19          2.61        2.352941   2.352941
2021-01-25          2.18        2.995392   2.995392
2021-02-25          3.50        4.024390   4.024390
2021-12-01          2.14        4.347826   4.347826

### df.sort_index(ascending = True/False) 날짜(기본 인덱스) 순으로 보기

In [245]:
# index _ Sorting

df_result.sort_index(ascending = False)

            Kospi_Return  Samsung_Return  Condition
Date
2021-12-01          2.14        4.347826   4.347826
2021-02-25          3.50        4.024390   4.024390
2021-01-25          2.18        2.995392   2.995392
2021-01-19          2.61        2.352941   2.352941
2021-01-08          3.97        7.117008   7.117008
2021-01-04          2.47        2.469136   2.469136
2020-12-09          2.02        3.068340   3.068340
2020-11-05          2.40        3.076923   3.076923
2020-06-16          5.28        4.408818   4.408818
2020-06-03          2.87        6.031128   6.031128
2020-05-19          2.25        3.073770   3.073770
2020-04-17          3.09        4.897959   4.897959
2020-04-06          3.85        3.617021   3.617021
2020-04-02          2.34        2.183406   2.183406
2020-03-25          5.89        3.620873   3.620873
2020-03-24          8.60       10.470588  10.470588
2020-03-20          7.44        5.704307   5.704307
2020-03-04          2.24        3.610108   3.610108
2020-02-06          2.88        2.689076   2.689076
2018-11-02          3.53        4.744958   4.744958
2017-05-08          2.30        3.295255   3.295255
2016-11-10          2.26        3.320802   3.320802
2016-01-22          2.11        3.271441   3.271441

### df.sort_values(by = '열명', ascending = True/False)상승률 순으로 보기

In [ ]:
# Value _ Sorting

df_result.sort_values(by = 'Kospi_Return', ascending = True)

## reset_index & drop

In [222]:
df_samsung = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'samsung', index_col = 0)

df_kospi = pd.read_excel('samsung_kospi_excel.xlsx', sheet_name = 'kospi', index_col = 0)

df['Condition'] = np.where(((df['Kospi_Return'] >=2) & (df['Samsung_Return']>=2)), df['Samsung_Return'], np.nan)
df

            Kospi_Return  Samsung_Return  Condition
Date
2016-01-04         -2.17       -4.365079        NaN
2016-01-05          0.61        0.248963        NaN
2016-01-06         -0.26       -2.731788        NaN
2016-01-07         -1.10       -1.021277        NaN
2016-01-08          0.70        0.687876        NaN
2016-01-11         -1.19       -1.622545        NaN
2016-01-12         -0.21       -0.520833        NaN
2016-01-13          1.34        0.174520        NaN
2016-01-14         -0.85       -0.871080        NaN
2016-01-15         -1.11       -0.527241        NaN
2016-01-18         -0.02       -0.530035        NaN
2016-01-19          0.60        3.996448        NaN
2016-01-20         -2.34       -2.818104        NaN
2016-01-21         -0.27       -0.615114        NaN
2016-01-22          2.11        3.271441   3.271441
2016-01-25          0.74       -0.513699        NaN
2016-01-26         -1.15       -2.151463        NaN
2016-01-27          1.40        3.342128        NaN
2016-01-28          0.48       -2.553191        NaN
2016-01-29          0.27        0.436681        NaN
2016-02-01          0.67        1.130435        NaN
2016-02-02         -0.95       -0.601892        NaN
2016-02-03         -0.84       -0.865052        NaN
2016-02-04          1.35        0.872600        NaN
2016-02-05          0.08        0.692042        NaN
2016-02-11         -2.93       -2.920962        NaN
2016-02-12         -1.41        0.000000        NaN
2016-02-15          1.47        2.123894        NaN
2016-02-16          1.40        1.213172        NaN
2016-02-17         -0.23        1.455479        NaN
2016-02-18          1.32        0.168776        NaN
2016-02-19          0.39        0.252738        NaN
2016-02-22          0.01       -1.260504        NaN
2016-02-23         -0.11        0.510638        NaN
2016-02-24         -0.09       -0.762066        NaN
2016-02-25          0.32        0.597270        NaN
2016-02-26          0.08       -0.593723        NaN
2016-02-29         -0.18        0.511945        NaN
2016-03-02          1.60        1.612903        NaN
2016-03-03          0.55        1.921470        NaN
2016-03-04         -0.13       -0.409836        NaN
2016-03-07          0.11        0.658436        NaN
2016-03-08         -0.60       -2.534751        NaN
2016-03-09          0.35        0.167785        NaN
2016-03-10          0.84        2.596315        NaN
2016-03-11          0.11        1.959184        NaN
2016-03-14          0.04        0.480384        NaN
2016-03-15         -0.12       -0.159363        NaN
2016-03-16          0.25        0.239425        NaN
2016-03-17          0.66        0.557325        NaN
2016-03-18          0.21        0.791766        NaN
2016-03-21         -0.12       -0.471328        NaN
2016-03-22          0.35        0.157853        NaN
2016-03-23         -0.08        0.788022        NaN
2016-03-24         -0.46        0.234558        NaN
2016-03-25         -0.11        0.468019        NaN
2016-03-28         -0.06        0.465839        NaN
2016-03-29          0.62       -0.309119        NaN
2016-03-30          0.36        1.395349        NaN
2016-03-31         -0.31        0.305810        NaN
2016-04-01         -1.12       -2.515244        NaN
2016-04-04          0.27        2.032838        NaN
2016-04-05         -0.82       -3.448276        NaN
2016-04-06          0.44        1.984127        NaN
2016-04-07          0.13       -1.245136        NaN
2016-04-08         -0.09       -1.812451        NaN
2016-04-11         -0.09        1.605136        NaN
2016-04-12          0.56        0.710900        NaN
2016-04-14          1.75        1.960784        NaN
2016-04-15         -0.06        0.000000        NaN
2016-04-18         -0.28       -0.076923        NaN
2016-04-19          0.11       -0.846805        NaN
2016-04-20         -0.27        0.854037        NaN
2016-04-21          0.81       -0.384911        NaN
2016-04-22         -0.33       -1.081917        NaN
2016-04-25         -0.05        0.078125        NaN
2016-04-26          0.25        1.170960        NaN
2016-04-27         -0.21        0.308642        NaN
2016-04-28         -0.72       -2.692308        NaN
2016-04-29         -0.34       -1.581028        NaN
2016-05-02         -0.80        0.401606        NaN
2016-05-03          0.42        0.880000        NaN
2016-05-04         -0.49        2.299762        NaN
2016-05-09         -0.45        0.697674        NaN
2016-05-10          0.75       -0.230947        NaN
2016-05-11         -0.12       -0.308642        NaN
2016-05-12         -0.13       -0.851393        NaN
2016-05-13         -0.53       -2.185792        NaN
2016-05-16          0.05       -0.399042        NaN
2016-05-17          0.01        1.282051        NaN
2016-05-18         -0.58        0.316456        NaN
2016-05-19         -0.51        0.157729        NaN
2016-05-20          0.05       -0.078740        NaN
2016-05-23          0.39        1.339638        NaN
2016-05-24         -0.90       -1.166407        NaN
2016-05-25          1.18        1.888277        NaN
2016-05-26         -0.18        0.077220        NaN
2016-05-27          0.62       -1.080247        NaN
2016-05-30         -0.10       -0.156006        NaN
2016-05-31          0.83        0.937500        NaN
2016-06-01         -0.03        3.173375        NaN
2016-06-02          0.12        2.400600        NaN
2016-06-03          0.04        0.879121        NaN
2016-06-07          1.30        1.525054        NaN
2016-06-08          0.77        0.572246        NaN
2016-06-09         -0.14        1.706970        NaN
2016-06-10         -0.32       -1.678322        NaN
2016-06-13         -1.91       -2.489331        NaN
2016-06-14         -0.36        0.656455        NaN
2016-06-15         -0.16        2.391304        NaN
2016-06-16         -0.86       -0.283086        NaN
2016-06-17          0.07        1.206529        NaN
2016-06-20          1.42        0.350631        NaN
2016-06-21          0.08        1.187980        NaN
2016-06-22          0.50       -0.207182        NaN
2016-06-23         -0.29       -1.038062        NaN
2016-06-24         -3.09       -2.097902        NaN
2016-06-27          0.08       -0.142857        NaN
2016-06-28          0.49        0.071531        NaN
2016-06-29          1.04       -0.214439        NaN
2016-06-30          0.72        2.077364        NaN
2016-07-01          0.86        2.877193        NaN
2016-07-04          0.40        0.000000        NaN
2016-07-05         -0.27        0.204638        NaN
2016-07-06         -1.85       -3.267529        NaN
2016-07-07          1.07        2.040816        NaN
2016-07-08         -0.56        0.689655        NaN
2016-07-11          1.30        1.986301        NaN
2016-07-12          0.14       -1.678979        NaN
2016-07-13          0.72        1.161202        NaN
2016-07-14          0.16        1.282917        NaN
2016-07-15          0.42        1.200000        NaN
2016-07-18          0.19        0.988142        NaN
2016-07-19         -0.21        0.000000        NaN
2016-07-20         -0.07        0.456621        NaN
2016-07-21         -0.16        0.194805        NaN
2016-07-22         -0.09       -1.749838        NaN
2016-07-25          0.10       -0.923483        NaN
2016-07-26          0.75        1.864181        NaN
2016-07-27         -0.11       -0.196078        NaN
2016-07-28         -0.20       -1.309758        NaN
2016-07-29         -0.24        2.123424        NaN
2016-08-01          0.67        1.884340        NaN
2016-08-02         -0.52       -1.275510        NaN
2016-08-03         -1.20       -2.002584        NaN
2016-08-04          0.26        0.000000        NaN
2016-08-05          0.90        2.900461        NaN
2016-08-08          0.65        0.512492        NaN
2016-08-09          0.62       -0.127470        NaN
2016-08-10          0.04       -1.659221        NaN
2016-08-11          0.20        1.168073        NaN
2016-08-12          0.08       -0.898012        NaN
2016-08-16         -0.13        1.488673        NaN
2016-08-17         -0.20       -0.127551        NaN
2016-08-18          0.57        4.725415        NaN
2016-08-19          0.04        2.134146        NaN
2016-08-22         -0.68       -0.597015        NaN
2016-08-23          0.38        1.321321        NaN
2016-08-24         -0.30       -2.015412        NaN
2016-08-25         -0.04       -0.846945        NaN
2016-08-26         -0.27       -1.647346        NaN
2016-08-29         -0.25        1.736973        NaN
2016-08-30          0.36        0.304878        NaN
2016-08-31         -0.25       -1.519757        NaN
2016-09-01         -0.09       -2.037037        NaN
2016-09-02          0.28        0.630120        NaN
2016-09-05          1.07        0.563557        NaN
2016-09-06          0.31        2.303861        NaN
2016-09-07         -0.23       -1.339014        NaN
2016-09-08          0.09        1.110426        NaN
2016-09-09         -1.25       -3.904820        NaN
2016-09-12         -2.28       -6.984127        NaN
2016-09-13          0.40        4.232082        NaN
2016-09-19          0.82        2.030124        NaN
2016-09-20          0.49        1.732991        NaN
2016-09-21          0.51        0.441640        NaN
2016-09-22          0.67        1.633166        NaN
2016-09-23          0.21       -2.904821        NaN
2016-09-26         -0.34       -0.190961        NaN
2016-09-27          0.77        0.063776        NaN
2016-09-28         -0.47       -0.127470        NaN
2016-09-29          0.76        2.105935        NaN
2016-09-30         -1.21       -0.125000        NaN
2016-10-04          0.55        1.001252        NaN
2016-10-05         -0.09        0.309789        NaN
2016-10-06          0.60        4.447190        NaN
2016-10-07         -0.56        0.887049        NaN
2016-10-10          0.15       -1.524033        NaN
2016-10-11         -1.21       -8.035714        NaN
2016-10-12          0.09       -0.647249        NaN
2016-10-13         -0.90        1.433225        NaN
2016-10-14          0.36        1.284522        NaN
2016-10-17          0.24        0.824350        NaN
2016-10-18          0.63       -0.062893        NaN
2016-10-19          0.02        2.265576        NaN
2016-10-20         -0.02       -0.307692        NaN
2016-10-21         -0.37       -1.913580        NaN
2016-10-24          0.73        1.195721        NaN
2016-10-25         -0.52       -0.684080        NaN
2016-10-26         -1.14       -1.878522        NaN
2016-10-27          0.51        0.382897        NaN
2016-10-28         -0.23        2.606484        NaN
2016-10-31         -0.56        1.548947        NaN
2016-11-01         -0.04        0.793167        NaN
2016-11-02         -1.42       -0.544794        NaN
2016-11-03          0.25       -1.643335        NaN
2016-11-04         -0.09        0.680693        NaN
2016-11-07          0.79        0.799017        NaN
2016-11-08          0.29        0.243902        NaN
2016-11-09         -2.25       -2.919708        NaN
2016-11-10          2.26        3.320802   3.320802
2016-11-11         -0.91       -3.092784        NaN
2016-11-14         -0.51       -2.816020        NaN
2016-11-15         -0.35       -0.901481        NaN
2016-11-16          0.62        1.234568        NaN
2016-11-17          0.05        0.641849        NaN
2016-11-18         -0.30        1.147959        NaN
2016-11-21         -0.43        0.441362        NaN
2016-11-22          0.89        2.950408        NaN
2016-11-23          0.23        0.548780        NaN
2016-11-24         -0.84        0.060643        NaN
2016-11-25          0.16        0.000000        NaN
2016-11-28          0.19        1.636364        NaN
2016-11-29          0.01        0.000000        NaN
2016-11-30          0.26        4.114490        NaN
2016-12-01          0.01        0.171821        NaN
2016-12-02         -0.66       -1.257862        NaN
2016-12-05         -0.37       -0.521135        NaN
2016-12-06          1.35        1.746217        NaN
2016-12-07          0.10        1.372998        NaN
2016-12-08          1.97        1.015801        NaN
2016-12-09         -0.31       -0.558659        NaN
2016-12-12          0.13       -1.573034        NaN
2016-12-13          0.43        0.799087        NaN
2016-12-14          0.04        0.622877        NaN
2016-12-15         -0.01       -1.012943        NaN
2016-12-16          0.27        1.932916        NaN
2016-12-19         -0.19        0.111545        NaN
2016-12-20          0.17        0.947075        NaN
2016-12-21         -0.19       -0.386313        NaN
2016-12-22         -0.11        0.221607        NaN
2016-12-23          0.01       -1.492537        NaN
2016-12-26          0.09        0.897868        NaN
2016-12-27          0.22        0.055617        NaN
2016-12-28         -0.87       -0.611451        NaN
2016-12-29          0.10        0.782998        NaN
2017-01-02         -0.01        0.166482        NaN
2017-01-03          0.88        1.052632        NaN
2017-01-04          0.08       -0.877193        NaN
2017-01-05         -0.18       -1.659292        NaN
2017-01-06          0.35        1.799775        NaN
2017-01-09         -0.02        2.817680        NaN
2017-01-10         -0.18        0.053735        NaN
2017-01-11          1.47        2.792696        NaN
2017-01-12          0.58        1.358412        NaN
2017-01-13         -0.50       -3.453608        NaN
2017-01-16         -0.61       -2.135611        NaN
2017-01-17          0.37        0.818331        NaN
2017-01-18         -0.06       -0.054113        NaN
2017-01-19          0.11        1.461830        NaN
2017-01-20         -0.35       -0.747065        NaN
2017-01-23          0.02        2.311828        NaN
2017-01-24         -0.01        0.262743        NaN
2017-01-25          0.06        3.249476        NaN
2017-01-26          0.81        1.269036        NaN
2017-01-31         -0.77       -1.102757        NaN
2017-02-01          0.62       -0.861632        NaN
2017-02-02         -0.46        0.613497        NaN
2017-02-03          0.10        0.254065        NaN
2017-02-06          0.22        0.253421        NaN
2017-02-07         -0.12       -1.870576        NaN
2017-02-08         -0.49       -1.081917        NaN
2017-02-09          0.04        0.000000        NaN
2017-02-10          0.45       -0.104167        NaN
2017-02-13          0.17       -1.042753        NaN
2017-02-14         -0.20       -1.001054        NaN
2017-02-15          0.45        0.372539        NaN
2017-02-16         -0.10        0.795334        NaN
2017-02-17         -0.06       -0.420831        NaN
2017-02-20          0.18        2.113048        NaN
2017-02-21          0.89        0.724263        NaN
2017-02-22          0.18        0.924499        NaN
2017-02-23          0.05       -0.305344        NaN
2017-02-24         -0.64       -2.450230        NaN
2017-02-27         -0.41       -0.418629        NaN
2017-02-28          0.29        0.998424        NaN
2017-03-02          0.53        3.329865        NaN
2017-03-03         -1.14       -0.251762        NaN
2017-03-06          0.13        1.161030        NaN
2017-03-07          0.61        0.299401        NaN
2017-03-08          0.06        0.000000        NaN
2017-03-09         -0.21        0.000000        NaN
2017-03-10          0.30       -0.049751        NaN
2017-03-13          0.97        1.045296        NaN
2017-03-14          0.76        1.871921        NaN
2017-03-15         -0.04        0.096712        NaN
2017-03-16          0.80        1.062802        NaN
2017-03-17          0.67        1.338432        NaN
2017-03-20         -0.35       -1.179245        NaN
2017-03-21          0.99        1.575179        NaN
2017-03-22         -0.46       -0.234962        NaN
2017-03-23          0.20       -1.554404        NaN
2017-03-24         -0.17       -0.717703        NaN
2017-03-27         -0.61       -0.722892        NaN
2017-03-28          0.35        0.679612        NaN
2017-03-29          0.17        0.723240        NaN
2017-03-30         -0.11        0.478698        NaN
2017-03-31         -0.20       -1.858028        NaN
2017-04-03          0.34        0.582524        NaN
2017-04-04         -0.30        1.544402        NaN
2017-04-05         -0.01        0.142586        NaN
2017-04-06         -0.37       -0.711913        NaN
2017-04-07         -0.05       -0.573614        NaN
2017-04-10         -0.86        0.817308        NaN
2017-04-11         -0.44       -0.810682        NaN
2017-04-12          0.24        0.721154        NaN
2017-04-13          0.93        1.241050        NaN
2017-04-14         -0.64       -0.942951        NaN
2017-04-17          0.51       -1.094717        NaN
2017-04-18          0.13       -0.144370        NaN
2017-04-19         -0.47       -1.445783        NaN
2017-04-20          0.50       -1.515892        NaN
2017-04-21          0.74        1.191658        NaN
2017-04-24          0.40        1.177625        NaN
2017-04-25          1.06        3.540252        NaN
2017-04-26          0.50        0.234192        NaN
2017-04-27          0.07        2.429907        NaN
2017-04-28         -0.18        1.779197        NaN
2017-05-02          0.65        0.627521        NaN
2017-05-04          0.97        1.380846        NaN
2017-05-08          2.30        3.295255   3.295255
2017-05-10         -0.99       -3.019991        NaN
2017-05-11          1.16       -0.219298        NaN
2017-05-12         -0.45        0.703297        NaN
2017-05-15          0.20        0.611087        NaN
2017-05-16          0.20        0.607375        NaN
2017-05-17         -0.10       -0.086244        NaN
2017-05-18         -0.27       -0.863185        NaN
2017-05-19          0.07       -2.655638        NaN
2017-05-22          0.68        0.849732        NaN
2017-05-23          0.33       -0.399113        NaN
2017-05-24          0.24       -0.089047        NaN
2017-05-25          1.10        1.782531        NaN
2017-05-26          0.53        0.875657        NaN
2017-05-29         -0.10       -0.998264        NaN
2017-05-30         -0.39       -2.148181        NaN
2017-05-31          0.16        0.134409        NaN
2017-06-01         -0.12       -0.044743        NaN
2017-06-02          1.16        2.864816        NaN
2017-06-05         -0.13       -0.043516        NaN
2017-06-07         -0.36       -1.393121        NaN
2017-06-08          0.15       -0.309051        NaN
2017-06-09          0.77        2.081488        NaN
2017-06-12         -1.00       -1.561822        NaN
2017-06-13          0.71        0.044072        NaN
2017-06-14         -0.09       -0.088106        NaN
2017-06-15         -0.46        0.705467        NaN
2017-06-16          0.01       -0.218914        NaN
2017-06-19          0.38        2.150066        NaN
2017-06-20         -0.07        3.393471        NaN
2017-06-21         -0.49       -1.371001        NaN
2017-06-22          0.54        1.010952        NaN
2017-06-23          0.35       -0.708924        NaN
2017-06-26          0.42        1.385972        NaN
2017-06-27          0.14        0.041425        NaN
2017-06-28         -0.39       -1.242236        NaN
2017-06-29          0.55        0.503145        NaN
2017-06-30         -0.16       -0.834376        NaN
2017-07-03          0.11       -0.673117        NaN
2017-07-04         -0.58       -0.465904        NaN
2017-07-05          0.33        1.234043        NaN
2017-07-06         -0.02        1.008827        NaN
2017-07-07         -0.33       -0.416146        NaN
2017-07-10          0.09        1.671542        NaN
2017-07-11          0.58        0.698726        NaN
2017-07-12         -0.18        1.795918        NaN
2017-07-13          0.74        1.363272        NaN
2017-07-14          0.21       -0.158228        NaN
2017-07-17          0.43        0.316957        NaN
2017-07-18          0.04        0.394945        NaN
2017-07-19          0.16       -0.196696        NaN
2017-07-20          0.49        0.906583        NaN
2017-07-21          0.34       -0.234375        NaN

In [223]:
df_result = df.dropna() # Nan을 날린다

df_result

            Kospi_Return  Samsung_Return  Condition
Date
2016-01-22          2.11        3.271441   3.271441
2016-11-10          2.26        3.320802   3.320802
2017-05-08          2.30        3.295255   3.295255
2018-11-02          3.53        4.744958   4.744958
2020-02-06          2.88        2.689076   2.689076
2020-03-04          2.24        3.610108   3.610108
2020-03-20          7.44        5.704307   5.704307
2020-03-24          8.60       10.470588  10.470588
2020-03-25          5.89        3.620873   3.620873
2020-04-02          2.34        2.183406   2.183406
2020-04-06          3.85        3.617021   3.617021
2020-04-17          3.09        4.897959   4.897959
2020-05-19          2.25        3.073770   3.073770
2020-06-03          2.87        6.031128   6.031128
2020-06-16          5.28        4.408818   4.408818
2020-11-05          2.40        3.076923   3.076923
2020-12-09          2.02        3.068340   3.068340
2021-01-04          2.47        2.469136   2.469136
2021-01-08          3.97        7.117008   7.117008
2021-01-19          2.61        2.352941   2.352941
2021-01-25          2.18        2.995392   2.995392
2021-02-25          3.50        4.024390   4.024390
2021-12-01          2.14        4.347826   4.347826

dataFrame.reset_index() 데이터를 원하는 형태로 가공할때 기존에 사용하던 index를 사용하지 않고 새로운 index를 만들어 데이터를 넣거나 빼 새로 가공한다

In [220]:
df_reset = df_result.reset_index()
df_reset

         Date  Kospi_Return  Samsung_Return  Condition
0  2016-01-22          2.11        3.271441   3.271441
1  2016-11-10          2.26        3.320802   3.320802
2  2017-05-08          2.30        3.295255   3.295255
3  2018-11-02          3.53        4.744958   4.744958
4  2020-02-06          2.88        2.689076   2.689076
5  2020-03-04          2.24        3.610108   3.610108
6  2020-03-20          7.44        5.704307   5.704307
7  2020-03-24          8.60       10.470588  10.470588
8  2020-03-25          5.89        3.620873   3.620873
9  2020-04-02          2.34        2.183406   2.183406
10 2020-04-06          3.85        3.617021   3.617021
11 2020-04-17          3.09        4.897959   4.897959
12 2020-05-19          2.25        3.073770   3.073770
13 2020-06-03          2.87        6.031128   6.031128
14 2020-06-16          5.28        4.408818   4.408818
15 2020-11-05          2.40        3.076923   3.076923
16 2020-12-09          2.02        3.068340   3.068340
17 2021-01-04          2.47        2.469136   2.469136
18 2021-01-08          3.97        7.117008   7.117008
19 2021-01-19          2.61        2.352941   2.352941
20 2021-01-25          2.18        2.995392   2.995392
21 2021-02-25          3.50        4.024390   4.024390
22 2021-12-01          2.14        4.347826   4.347826

### dataFrame.drop('열이름', axis=1)

In [ ]:
# drop
df_reset.drop(['Date','Kospi_Return','Samsung_Return'], axis = 1) # 필요없는 'Date','Kospi_Return','Samsung_Return'컬럼을 날린다

### dataFrame.drop('행값', axis=0)

In [224]:
df_reset.drop(6, axis = 0)

         Date  Kospi_Return  Samsung_Return  Condition
0  2016-01-22          2.11        3.271441   3.271441
1  2016-11-10          2.26        3.320802   3.320802
2  2017-05-08          2.30        3.295255   3.295255
3  2018-11-02          3.53        4.744958   4.744958
4  2020-02-06          2.88        2.689076   2.689076
5  2020-03-04          2.24        3.610108   3.610108
7  2020-03-24          8.60       10.470588  10.470588
8  2020-03-25          5.89        3.620873   3.620873
9  2020-04-02          2.34        2.183406   2.183406
10 2020-04-06          3.85        3.617021   3.617021
11 2020-04-17          3.09        4.897959   4.897959
12 2020-05-19          2.25        3.073770   3.073770
13 2020-06-03          2.87        6.031128   6.031128
14 2020-06-16          5.28        4.408818   4.408818
15 2020-11-05          2.40        3.076923   3.076923
16 2020-12-09          2.02        3.068340   3.068340
17 2021-01-04          2.47        2.469136   2.469136
18 2021-01-08          3.97        7.117008   7.117008
19 2021-01-19          2.61        2.352941   2.352941
20 2021-01-25          2.18        2.995392   2.995392
21 2021-02-25          3.50        4.024390   4.024390
22 2021-12-01          2.14        4.347826   4.347826

df_reset.drop(['Date','Kospi_Return','Samsung_Return'], axis = 1)  
와  
df_reset = df_reset.drop(['Date','Kospi_Return','Samsung_Return'], axis = 1)  
차이  

전자는 df_reset을 그대로 가지고 있고
후자는 수정된 데이터가 저장된다.

## Count

In [225]:
pd.set_option('display.max_rows', 200)

In [228]:
import pandas as pd

#pd.set_option('display.max_rows', None)

krx = pd.read_csv("KRX.csv") # 인코딩 에러...
krx

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc0 in position 111: invalid start byte

In [229]:
krx = pd.read_csv("KRX.csv", encoding = 'cp949')
krx

,Unnamed: 0,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region,Unnamed: 11
0,0,60310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시,NaN
1,1,95570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시,NaN
2,2,6840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시,NaN
3,3,54620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도,NaN
4,4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7296,7296,547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7297,7297,545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7298,7298,3280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시,NaN
7299,7299,37440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시,NaN
7300,7300,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시,NaN

In [230]:
krx = pd.read_csv("KRX.csv", encoding = 'cp949', index_col = 0)
krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region,Unnamed: 11
0,60310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시,NaN
1,95570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시,NaN
2,6840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시,NaN
3,54620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도,NaN
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7296,547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7297,545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7298,3280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시,NaN
7299,37440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시,NaN
7300,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시,NaN

### unique()

In [231]:
krx['Sector']

0                       전자부품 제조업
1                산업용 기계 및 장비 임대업
2                         기타 금융업
3                         기타 금융업
4                  특수 목적용 기계 제조업
                  ...
7296                         NaN
7297                         NaN
7298                      해상 운송업
7299    건축기술, 엔지니어링 및 관련 기술 서비스업
7300               특수 목적용 기계 제조업
Name: Sector, Length: 7301, dtype: object

In [233]:
krx['Sector'].unique()

array(['전자부품 제조업', '산업용 기계 및 장비 임대업', '기타 금융업', '특수 목적용 기계 제조업',
       '통신 및 방송 장비 제조업', nan, '종합 소매업', '기계장비 및 관련 물품 도매업', '봉제의복 제조업',
       '자동차 신품 부품 제조업', '영화, 비디오물, 방송프로그램 제작 및 배급업', '텔레비전 방송업',
       '도로 화물 운송업', '기타 식품 제조업', '음·식료품 및 담배 도매업', '의약품 제조업',
       '신탁업 및 집합투자업', '기타 전문 도매업', '소프트웨어 개발 및 공급업', '기타 화학제품 제조업',
       '컴퓨터 프로그래밍, 시스템 통합 및 관리업', '금융 지원 서비스업', '보험업', '반도체 제조업',
       '상품 중개업', '건물 건설업', '토목 건설업', '고무제품 제조업', '1차 비철금속 제조업',
       '1차 철강 제조업', '자연과학 및 공학 연구개발업',
       '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', '부동산 임대 및 공급업', '생활용품 도매업',
       '기타 섬유제품 제조업', '유원지 및 기타 오락관련 서비스업', '상품 종합 도매업', '전기 및 통신 공사업',
       '해상 운송업', '합성고무 및 플라스틱 물질 제조업', '일반 목적용 기계 제조업', '영상 및 음향기기 제조업',
       '오디오물 출판 및 원판 녹음업', '유리 및 유리제품 제조업', '시멘트, 석회, 플라스터 및 그 제품 제조업',
       '폐기물 처리업', '기초 화학물질 제조업', '플라스틱제품 제조업', '기초 의약물질 및 생물학적 제제 제조업',
       '그외 기타 운송장비 제조업', '전기 통신업', '담배 제조업', '기타 정보 서비스업', '무기 및 총포탄 제조업',
       '알코올음료 제조업', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업',
       '서적, 잡지 및 기타 인쇄물 출판업', '회사 본부 및 경영 컨설팅 서비스업', '기타 금속 가공제품 제조업',
       '석유 정제품 제조업', '기타 비금속 광물제품 제조업', '전기업', '자동차 부품 및 내장품 판매업',
       '운송장비 임대업', '일차전지 및 축전지 제조업', '광고업', '기록매체 복제업', '나무제품 제조업',
       '일반 교습 학원', '그외 기타 제품 제조업', '교육지원 서비스업', '절연선 및 케이블 제조업',
       '구조용 금속제품, 탱크 및 증기발생기 제조업', '스포츠 서비스업', '비료, 농약 및 살균, 살충제 제조업',
       '가정용 기기 제조업', '연료용 가스 제조 및 배관공급업', '곡물가공품, 전분 및 전분제품 제조업',
       '기타 사업지원 서비스업', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외',
       '기반조성 및 시설물 축조관련 전문공사업', '자동차용 엔진 및 자동차 제조업', '실내건축 및 건축마무리 공사업',
       '기타 종이 및 판지 제품 제조업', '전구 및 조명장치 제조업', '은행 및 저축기관',
       '섬유, 의복, 신발 및 가죽제품 소매업', '펄프, 종이 및 판지 제조업', '의료용 기기 제조업',
       '의료용품 및 기타 의약 관련제품 제조업', '낙농제품 및 식용빙과류 제조업',
       '그외 기타 전문, 과학 및 기술 서비스업', '기타 비금속광물 광업', '여행사 및 기타 여행보조 서비스업',
       '인쇄 및 인쇄관련 산업', '작물 재배업', '사진장비 및 광학기기 제조업', '초등 교육기관', '금속 주조업',
       '내화, 비내화 요업제품 제조업', '기타 전기장비 제조업', '연료 소매업', '선박 및 보트 건조업',
       '골판지, 종이 상자 및 종이용기 제조업', '동물용 사료 및 조제식품 제조업', '직물직조 및 직물제품 제조업',
       '항공 여객 운송업', '화학섬유 제조업', '의복 액세서리 제조업', '자동차 판매업',
       '건축기술, 엔지니어링 및 관련 기술 서비스업', '기타 운송관련 서비스업', '육상 여객 운송업',
       '도축, 육류 가공 및 저장 처리업', '어로 어업', '가구 제조업', '음식점업', '컴퓨터 및 주변장치 제조업',
       '기타 과학기술 서비스업', '자동차 차체 및 트레일러 제조업', '비알코올음료 및 얼음 제조업',
       '가전제품 및 정보통신장비 소매업', '기타 교육기관', '수산물 가공 및 저장 처리업', '운동 및 경기용구 제조업',
       '인형,장난감 및 오락용품 제조업', '가죽, 가방 및 유사제품 제조업', '악기 제조업',
       '항공기,우주선 및 부품 제조업', '일반 및 생활 숙박시설 운영업', '건물설비 설치 공사업',
       '창작 및 예술관련 서비스업', '산업용 농·축산물 및 동·식물 도매업', '전문디자인업', '기타 전문 서비스업',
       '무점포 소매업', '섬유제품 염색, 정리 및 마무리 가공업', '컴퓨터 및 통신장비 수리업', '석탄 광업',
       '경비, 경호 및 탐정업', '보험 및 연금관련 서비스업', '사업시설 유지·관리 서비스업',
       '시장조사 및 여론조사업', '편조의복 제조업', '자동차 재제조 부품 제조업', '기타 생활용품 소매업',
       '과실, 채소 가공 및 저장 처리업', '제재 및 목재 가공업', '귀금속 및 장신용품 제조업',
       '방적 및 가공사 제조업', '건축자재, 철물 및 난방장치 도매업', '편조원단 제조업', '환경 정화 및 복원업',
       '증기, 냉·온수 및 공기조절 공급업', '재 보험업', '그외 기타 개인 서비스업', '개인 및 가정용품 임대업',
       '기타 상품 전문 소매업', '음·식료품 및 담배 소매업', '철도장비 제조업', '신발 및 신발 부분품 제조업',
       '해체, 선별 및 원료 재생업'], dtype=object)

In [279]:
type(krx['Sector'].unique())

numpy.ndarray

In [236]:
krx['Sector'].unique().shape[0]

162

In [238]:
krx['Sector'].count()

2487

In [239]:
krx.count()

Symbol            7301
Market            7301
Name              7301
Sector            2487
Industry          2468
ListingDate       2487
SettleMonth       2487
Representative    2487
HomePage          2339
Region            2487
Unnamed: 11          1
dtype: int64

### KRX에 상장된 섹터 중 가장 많이상장된 섹터는?

In [240]:
krx['Sector'].value_count()

AttributeError: 'Series' object has no attribute 'value_count'

In [256]:
krx.value_counts()

Symbol  Market  Name   Sector         Industry                ListingDate  SettleMonth  Representative  HomePage  Region                        Unnamed: 11
241790  KOSDAQ  오션브릿지  특수 목적용 기계 제조업  반도체 케미칼 및 특수가스, 반도체 장비  2016-12-01   12월          이석규             http://   http://www.oceanbridge.co.kr  경기도            1
dtype: int64

### value_counts() 원하는 섹터의 개수

In [241]:
krx['Sector'].value_counts()

소프트웨어 개발 및 공급업                           152
특수 목적용 기계 제조업                            143
전자부품 제조업                                 128
자동차 신품 부품 제조업                             96
의약품 제조업                                   95
기타 화학제품 제조업                               94
기타 금융업                                    92
금융 지원 서비스업                                74
통신 및 방송 장비 제조업                            72
자연과학 및 공학 연구개발업                           59
반도체 제조업                                   58
1차 철강 제조업                                 57
의료용 기기 제조업                                56
일반 목적용 기계 제조업                             45
플라스틱제품 제조업                                44
기초 화학물질 제조업                               43
기초 의약물질 및 생물학적 제제 제조업                     39
기타 전문 도매업                                 38
컴퓨터 프로그래밍, 시스템 통합 및 관리업                   37
전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업         35
기타 식품 제조업                                 34
영화, 비디오물, 방송프로그램 제작 및 배급업                 32
의료용품 및 기타 의약 관련제품 제조업                     30
봉제의복 제조업                                  28
기계장비 및 관련 물품 도매업                          25
기타 금속 가공제품 제조업                            24
건물 건설업                                    23
측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외     22
부동산 임대 및 공급업                              21
자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업          20
구조용 금속제품, 탱크 및 증기발생기 제조업                  20
생활용품 도매업                                  20
토목 건설업                                    19
기타 정보 서비스업                                18
시멘트, 석회, 플라스터 및 그 제품 제조업                  18
영상 및 음향기기 제조업                             18
1차 비철금속 제조업                               18
상품 종합 도매업                                 17
신탁업 및 집합투자업                               16
선박 및 보트 건조업                               14
건축기술, 엔지니어링 및 관련 기술 서비스업                  14
컴퓨터 및 주변장치 제조업                            13
종합 소매업                                    13
전기 통신업                                    13
회사 본부 및 경영 컨설팅 서비스업                       12
일차전지 및 축전지 제조업                            12
그외 기타 전문, 과학 및 기술 서비스업                    12
펄프, 종이 및 판지 제조업                           12
텔레비전 방송업                                  11
광고업                                       11
음·식료품 및 담배 도매업                            11
보험업                                       11
사진장비 및 광학기기 제조업                           11
상품 중개업                                    10
동물용 사료 및 조제식품 제조업                         10
기타 전기장비 제조업                               10
기타 비금속 광물제품 제조업                           10
그외 기타 제품 제조업                              10
서적, 잡지 및 기타 인쇄물 출판업                       10
섬유, 의복, 신발 및 가죽제품 소매업                      9
골판지, 종이 상자 및 종이용기 제조업                      9
연료용 가스 제조 및 배관공급업                          9
화학섬유 제조업                                   9
가정용 기기 제조업                                 9
알코올음료 제조업                                  9
고무제품 제조업                                   9
기타 사업지원 서비스업                               8
일반 교습 학원                                   8
도로 화물 운송업                                  8
가구 제조업                                     8
비료, 농약 및 살균, 살충제 제조업                       8
합성고무 및 플라스틱 물질 제조업                         8
곡물가공품, 전분 및 전분제품 제조업                       8
항공 여객 운송업                                  7
무점포 소매업                                    7
전구 및 조명장치 제조업                              7
항공기,우주선 및 부품 제조업                           7
기타 운송관련 서비스업                               7
도축, 육류 가공 및 저장 처리업                         7
여행사 및 기타 여행보조 서비스업                         7
오디오물 출판 및 원판 녹음업                           6
기타 과학기술 서비스업                               6
내화, 비내화 요업제품 제조업                           6
석유 정제품 제조업                                 6
전기 및 통신 공사업                                6
절연선 및 케이블 제조업                              6
기타 섬유제품 제조업                                6
가죽, 가방 및 유사제품 제조업                          5
수산물 가공 및 저장 처리업                            5
직물직조 및 직물제품 제조업                            5
자동차용 엔진 및 자동차 제조업                          5
해상 운송업                                     5
낙농제품 및 식용빙과류 제조업                           5
유리 및 유리제품 제조업                              5
운송장비 임대업                                   5
그외 기타 운송장비 제조업                             4
창작 및 예술관련 서비스업                             4
은행 및 저축기관                                  4
실내건축 및 건축마무리 공사업                           4
폐기물 처리업                                    4
기반조성 및 시설물 축조관련 전문공사업                      4
어로 어업                                      4
자동차 판매업                                    3
유원지 및 기타 오락관련 서비스업                         3
일반 및 생활 숙박시설 운영업                           3
육상 여객 운송업                                  3
자동차 부품 및 내장품 판매업                           3
제재 및 목재 가공업                                3
기타 종이 및 판지 제품 제조업                          3
나무제품 제조업                                   3
금속 주조업                                     3
기타 상품 전문 소매업                               2
인쇄 및 인쇄관련 산업                               2
보험 및 연금관련 서비스업                             2
전문디자인업                                     2
산업용 농·축산물 및 동·식물 도매업                       2
작물 재배업                                     2
건물설비 설치 공사업                                2
초등 교육기관                                    2
기록매체 복제업                                   2
연료 소매업                                     2
산업용 기계 및 장비 임대업                            2
방적 및 가공사 제조업                               2
가전제품 및 정보통신장비 소매업                          2
비알코올음료 및 얼음 제조업                            2
자동차 차체 및 트레일러 제조업                          2
과실, 채소 가공 및 저장 처리업                         2
귀금속 및 장신용품 제조업                             2
음식점업                                       2
무기 및 총포탄 제조업                               2
스포츠 서비스업                                   2
전기업                                        2
교육지원 서비스업                                  2
환경 정화 및 복원업                                1
건축자재, 철물 및 난방장치 도매업                        1
편조원단 제조업                                   1
신발 및 신발 부분품 제조업                            1
증기, 냉·온수 및 공기조절 공급업                        1
재 보험업                                      1
그외 기타 개인 서비스업                              1
개인 및 가정용품 임대업                              1
음·식료품 및 담배 소매업                             1
철도장비 제조업                                   1
기타 비금속광물 광업                                1
악기 제조업                                     1
기타 생활용품 소매업                                1
자동차 재제조 부품 제조업                             1
편조의복 제조업                                   1
시장조사 및 여론조사업                               1
사업시설 유지·관리 서비스업                            1
경비, 경호 및 탐정업                               1
석탄 광업                                      1
컴퓨터 및 통신장비 수리업                             1
섬유제품 염색, 정리 및 마무리 가공업                      1
기타 전문 서비스업                                 1
인형,장난감 및 오락용품 제조업                          1
운동 및 경기용구 제조업                              1
기타 교육기관                                    1
담배 제조업                                     1
의복 액세서리 제조업                                1
해체, 선별 및 원료 재생업                            1
Name: Sector, dtype: int64

In [255]:
krx['Sector'].value_counts().sort_values(ascending = True)

해체, 선별 및 원료 재생업                            1
환경 정화 및 복원업                                1
건축자재, 철물 및 난방장치 도매업                        1
편조원단 제조업                                   1
신발 및 신발 부분품 제조업                            1
증기, 냉·온수 및 공기조절 공급업                        1
재 보험업                                      1
그외 기타 개인 서비스업                              1
개인 및 가정용품 임대업                              1
음·식료품 및 담배 소매업                             1
철도장비 제조업                                   1
기타 비금속광물 광업                                1
악기 제조업                                     1
기타 생활용품 소매업                                1
의복 액세서리 제조업                                1
편조의복 제조업                                   1
자동차 재제조 부품 제조업                             1
담배 제조업                                     1
운동 및 경기용구 제조업                              1
인형,장난감 및 오락용품 제조업                          1
기타 전문 서비스업                                 1
기타 교육기관                                    1
컴퓨터 및 통신장비 수리업                             1
석탄 광업                                      1
경비, 경호 및 탐정업                               1
사업시설 유지·관리 서비스업                            1
시장조사 및 여론조사업                               1
섬유제품 염색, 정리 및 마무리 가공업                      1
기록매체 복제업                                   2
기타 상품 전문 소매업                               2
보험 및 연금관련 서비스업                             2
전문디자인업                                     2
산업용 농·축산물 및 동·식물 도매업                       2
작물 재배업                                     2
건물설비 설치 공사업                                2
초등 교육기관                                    2
산업용 기계 및 장비 임대업                            2
인쇄 및 인쇄관련 산업                               2
가전제품 및 정보통신장비 소매업                          2
방적 및 가공사 제조업                               2
교육지원 서비스업                                  2
전기업                                        2
스포츠 서비스업                                   2
무기 및 총포탄 제조업                               2
연료 소매업                                     2
귀금속 및 장신용품 제조업                             2
과실, 채소 가공 및 저장 처리업                         2
자동차 차체 및 트레일러 제조업                          2
비알코올음료 및 얼음 제조업                            2
음식점업                                       2
금속 주조업                                     3
나무제품 제조업                                   3
기타 종이 및 판지 제품 제조업                          3
제재 및 목재 가공업                                3
자동차 부품 및 내장품 판매업                           3
육상 여객 운송업                                  3
일반 및 생활 숙박시설 운영업                           3
유원지 및 기타 오락관련 서비스업                         3
자동차 판매업                                    3
그외 기타 운송장비 제조업                             4
창작 및 예술관련 서비스업                             4
은행 및 저축기관                                  4
폐기물 처리업                                    4
실내건축 및 건축마무리 공사업                           4
어로 어업                                      4
기반조성 및 시설물 축조관련 전문공사업                      4
운송장비 임대업                                   5
유리 및 유리제품 제조업                              5
낙농제품 및 식용빙과류 제조업                           5
해상 운송업                                     5
자동차용 엔진 및 자동차 제조업                          5
수산물 가공 및 저장 처리업                            5
가죽, 가방 및 유사제품 제조업                          5
직물직조 및 직물제품 제조업                            5
기타 섬유제품 제조업                                6
절연선 및 케이블 제조업                              6
전기 및 통신 공사업                                6
석유 정제품 제조업                                 6
내화, 비내화 요업제품 제조업                           6
기타 과학기술 서비스업                               6
오디오물 출판 및 원판 녹음업                           6
도축, 육류 가공 및 저장 처리업                         7
항공 여객 운송업                                  7
무점포 소매업                                    7
여행사 및 기타 여행보조 서비스업                         7
항공기,우주선 및 부품 제조업                           7
기타 운송관련 서비스업                               7
전구 및 조명장치 제조업                              7
곡물가공품, 전분 및 전분제품 제조업                       8
합성고무 및 플라스틱 물질 제조업                         8
비료, 농약 및 살균, 살충제 제조업                       8
가구 제조업                                     8
도로 화물 운송업                                  8
일반 교습 학원                                   8
기타 사업지원 서비스업                               8
골판지, 종이 상자 및 종이용기 제조업                      9
연료용 가스 제조 및 배관공급업                          9
섬유, 의복, 신발 및 가죽제품 소매업                      9
가정용 기기 제조업                                 9
알코올음료 제조업                                  9
화학섬유 제조업                                   9
고무제품 제조업                                   9
상품 중개업                                    10
동물용 사료 및 조제식품 제조업                         10
그외 기타 제품 제조업                              10
기타 비금속 광물제품 제조업                           10
서적, 잡지 및 기타 인쇄물 출판업                       10
기타 전기장비 제조업                               10
사진장비 및 광학기기 제조업                           11
음·식료품 및 담배 도매업                            11
광고업                                       11
텔레비전 방송업                                  11
보험업                                       11
펄프, 종이 및 판지 제조업                           12
그외 기타 전문, 과학 및 기술 서비스업                    12
일차전지 및 축전지 제조업                            12
회사 본부 및 경영 컨설팅 서비스업                       12
컴퓨터 및 주변장치 제조업                            13
전기 통신업                                    13
종합 소매업                                    13
선박 및 보트 건조업                               14
건축기술, 엔지니어링 및 관련 기술 서비스업                  14
신탁업 및 집합투자업                               16
상품 종합 도매업                                 17
1차 비철금속 제조업                               18
영상 및 음향기기 제조업                             18
시멘트, 석회, 플라스터 및 그 제품 제조업                  18
기타 정보 서비스업                                18
토목 건설업                                    19
자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업          20
생활용품 도매업                                  20
구조용 금속제품, 탱크 및 증기발생기 제조업                  20
부동산 임대 및 공급업                              21
측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외     22
건물 건설업                                    23
기타 금속 가공제품 제조업                            24
기계장비 및 관련 물품 도매업                          25
봉제의복 제조업                                  28
의료용품 및 기타 의약 관련제품 제조업                     30
영화, 비디오물, 방송프로그램 제작 및 배급업                 32
기타 식품 제조업                                 34
전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업         35
컴퓨터 프로그래밍, 시스템 통합 및 관리업                   37
기타 전문 도매업                                 38
기초 의약물질 및 생물학적 제제 제조업                     39
기초 화학물질 제조업                               43
플라스틱제품 제조업                                44
일반 목적용 기계 제조업                             45
의료용 기기 제조업                                56
1차 철강 제조업                                 57
반도체 제조업                                   58
자연과학 및 공학 연구개발업                           59
통신 및 방송 장비 제조업                            72
금융 지원 서비스업                                74
기타 금융업                                    92
기타 화학제품 제조업                               94
의약품 제조업                                   95
자동차 신품 부품 제조업                             96
전자부품 제조업                                 128
특수 목적용 기계 제조업                            143
소프트웨어 개발 및 공급업                           152
Name: Sector, dtype: int64

#### 해당 섹터에 대한 상세 정보를 확인해 보자

In [242]:
krx['Sector'] == "석유 정제품 제조업"

0       False
1       False
2       False
3       False
4       False
        ...
7296    False
7297    False
7298    False
7299    False
7300    False
Name: Sector, Length: 7301, dtype: bool

In [243]:
krx[krx['Sector'] == "석유 정제품 제조업"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region,Unnamed: 11
1892,10950,KOSPI,S-Oil,석유 정제품 제조업,"석유제품,가스,윤활기유,윤활유,그리스,석유화학제품 제조,도매",1987-05-27,12월,Hussain A.Al-Qahtani,http://www.s-oil.com,서울특별시,NaN
1933,96770,KOSPI,SK이노베이션,석유 정제품 제조업,"석유정제,석유화학제품,윤활유제품,아스팔트제품,의약중간체 제조,판매,유전개발,대체에너지사업",2007-07-25,12월,김준,http://www.SKinnovation.com,서울특별시,NaN
2232,14530,KOSPI,극동유화,석유 정제품 제조업,"윤활유,유동파라핀,왁스,방수용시트,아스팔트 제조/수입자동차,부품 도매/가스충전,산업...",1991-01-31,12월,"장홍선, 장선우 (각자대표)",http://www.kdoc.co.kr,경상남도,NaN
3936,3650,KOSPI,미창석유,석유 정제품 제조업,"윤활유,고무배합유,전기절연유 제조,판매,수출입",1989-09-27,12월,유재순,http://www.michang.co.kr,부산광역시,NaN
7059,2960,KOSPI,한국쉘석유,석유 정제품 제조업,"윤활유,그리스 제조,도매",1988-08-10,12월,라머스 예룬 피터,http://www.shell.co.kr,부산광역시,NaN
7226,267250,KOSPI,현대중공업지주,석유 정제품 제조업,지주회사,2017-05-10,12월,권오갑,http://www.hyundai-holdings.co.kr,서울특별시,NaN

In [280]:
krx[krx['Sector'] == "석유 정제품 제조업"].count()

Symbol            6
Market            6
Name              6
Sector            6
Industry          6
ListingDate       6
SettleMonth       6
Representative    6
HomePage          6
Region            6
Unnamed: 11       0
dtype: int64

In [281]:
krx[krx['Sector'] == "석유 정제품 제조업"].count().info()

<class 'pandas.core.series.Series'>
Index: 11 entries, Symbol to Unnamed: 11
Series name: None
Non-Null Count  Dtype
--------------  -----
11 non-null     int64
dtypes: int64(1)
memory usage: 476.0+ bytes

## GroupBy

In [257]:
import pandas as pd

### Data를 원하는 형태로 가공하기 ( dropna 사용 )

참조하는 자료가 Parsing 하기에 깔끔한 자료가 아닐 수 있다.  
필요한 자료 영역의 헤더를 찾고 나머지를 정리하는 작업을 수행 해 본다.

In [260]:
df = pd.read_excel('groupby_example.xlsx')
df

    Sector   반도체      통신   화학  플랫폼  바이오
0      NaN   NaN     NaN  NaN  NaN  NaN
1      NaN   NaN     NaN  NaN  NaN  NaN
2      NaN   NaN     NaN  NaN  NaN  NaN
3      NaN   NaN     NaN  NaN  NaN  NaN
4      NaN   NaN     NaN  NaN  NaN  NaN
5      NaN   NaN  Sector  PER  NaN  NaN
6      NaN   기업1     반도체  1.5  NaN  NaN
7      NaN   기업2      통신  1.1  NaN  NaN
8      NaN   기업3      화학  0.5  NaN  NaN
9      NaN   기업4     플랫폼    3  NaN  NaN
10     NaN   기업5     바이오   10  NaN  NaN
11     NaN   기업6      통신  1.6  NaN  NaN
12     NaN   기업7      화학  0.7  NaN  NaN
13     NaN   기업8     바이오   15  NaN  NaN
14     NaN   기업9     반도체    2  NaN  NaN
15     NaN  기업10      통신  1.6  NaN  NaN
16     NaN  기업11      화학  0.7  NaN  NaN
17     NaN  기업12     플랫폼    4  NaN  NaN
18     NaN  기업13     바이오    2  NaN  NaN
19     NaN  기업14     바이오   10  NaN  NaN
20     NaN  기업15      통신  1.6  NaN  NaN
21     NaN  기업16     반도체  0.9  NaN  NaN
22     NaN  기업17     반도체  2.1  NaN  NaN
23     NaN  기업18     플랫폼  2.5  NaN  NaN
24     NaN  기업19      화학  1.1  NaN  NaN
25     NaN  기업20      화학  0.4  NaN  NaN
26     NaN  기업21     반도체  1.6  NaN  NaN
27     NaN  기업22     플랫폼  4.2  NaN  NaN
28     NaN  기업23      통신  1.3  NaN  NaN
29     NaN  기업24      화학  0.6  NaN  NaN
30     NaN  기업25     바이오   12  NaN  NaN

In [325]:
df = pd.read_excel('groupby_example.xlsx', header = 6, usecols=[2,3,4]) # header가 될 인덱스 찾아주고..
df 
# usecols에서 [1] 뺀 이유
# dropna(axis = 0)에서 header Nan 값도 날려 버리기 때문에

   Sector   PER   ex
0     반도체   1.5  1.0
1      통신   1.1  1.0
2      화학   0.5  NaN
3     플랫폼   3.0  NaN
4     바이오  10.0  NaN
5      통신   1.6  NaN
6      화학   0.7  NaN
7     바이오  15.0  NaN
8     반도체   2.0  NaN
9      통신   1.6  NaN
10     화학   0.7  NaN
11    플랫폼   4.0  NaN
12    바이오   2.0  NaN
13    바이오  10.0  NaN
14     통신   1.6  NaN
15    반도체   0.9  NaN
16    반도체   2.1  NaN
17    플랫폼   2.5  NaN
18     화학   1.1  NaN
19     화학   0.4  NaN
20    반도체   1.6  NaN
21    플랫폼   4.2  NaN
22     통신   1.3  NaN
23     화학   0.6  NaN
24    바이오  12.0  NaN

In [326]:
df.dropna(axis = 0)

  Sector  PER   ex
0    반도체  1.5  1.0
1     통신  1.1  1.0

In [327]:
df = df.dropna(axis = 1)
df

   Sector   PER
0     반도체   1.5
1      통신   1.1
2      화학   0.5
3     플랫폼   3.0
4     바이오  10.0
5      통신   1.6
6      화학   0.7
7     바이오  15.0
8     반도체   2.0
9      통신   1.6
10     화학   0.7
11    플랫폼   4.0
12    바이오   2.0
13    바이오  10.0
14     통신   1.6
15    반도체   0.9
16    반도체   2.1
17    플랫폼   2.5
18     화학   1.1
19     화학   0.4
20    반도체   1.6
21    플랫폼   4.2
22     통신   1.3
23     화학   0.6
24    바이오  12.0

In [341]:
df = pd.read_excel('groupby_example.xlsx', header = 6) 
df

    Unnamed: 0 Unnamed: 1 Sector   PER   ex  Unnamed: 5
0          NaN        기업1    반도체   1.5  1.0         NaN
1          NaN        기업2     통신   1.1  1.0         NaN
2          NaN        기업3     화학   0.5  NaN         NaN
3          NaN        기업4    플랫폼   3.0  NaN         NaN
4          NaN        기업5    바이오  10.0  NaN         NaN
5          NaN        기업6     통신   1.6  NaN         NaN
6          NaN        기업7     화학   0.7  NaN         NaN
7          NaN        기업8    바이오  15.0  NaN         NaN
8          NaN        기업9    반도체   2.0  NaN         NaN
9          NaN       기업10     통신   1.6  NaN         NaN
10         NaN       기업11     화학   0.7  NaN         NaN
11         NaN       기업12    플랫폼   4.0  NaN         NaN
12         NaN       기업13    바이오   2.0  NaN         NaN
13         NaN       기업14    바이오  10.0  NaN         NaN
14         NaN       기업15     통신   1.6  NaN         NaN
15         NaN       기업16    반도체   0.9  NaN         NaN
16         NaN       기업17    반도체   2.1  NaN         NaN
17         NaN       기업18    플랫폼   2.5  NaN         NaN
18         NaN       기업19     화학   1.1  NaN         NaN
19         NaN       기업20     화학   0.4  NaN         NaN
20         NaN       기업21    반도체   1.6  NaN         NaN
21         NaN       기업22    플랫폼   4.2  NaN         NaN
22         NaN       기업23     통신   1.3  NaN         NaN
23         NaN       기업24     화학   0.6  NaN         NaN
24         NaN       기업25    바이오  12.0  NaN         NaN

#### 필요 없는 열 제거

In [342]:
df = df.dropna(axis = 1)
df

   Unnamed: 1 Sector   PER
0         기업1    반도체   1.5
1         기업2     통신   1.1
2         기업3     화학   0.5
3         기업4    플랫폼   3.0
4         기업5    바이오  10.0
5         기업6     통신   1.6
6         기업7     화학   0.7
7         기업8    바이오  15.0
8         기업9    반도체   2.0
9        기업10     통신   1.6
10       기업11     화학   0.7
11       기업12    플랫폼   4.0
12       기업13    바이오   2.0
13       기업14    바이오  10.0
14       기업15     통신   1.6
15       기업16    반도체   0.9
16       기업17    반도체   2.1
17       기업18    플랫폼   2.5
18       기업19     화학   1.1
19       기업20     화학   0.4
20       기업21    반도체   1.6
21       기업22    플랫폼   4.2
22       기업23     통신   1.3
23       기업24     화학   0.6
24       기업25    바이오  12.0

#### '기업' 열을 인덱스로 만드는 방법

In [343]:
df.columns = ['기업', 'Sector', 'PER']
df

      기업 Sector   PER
0    기업1    반도체   1.5
1    기업2     통신   1.1
2    기업3     화학   0.5
3    기업4    플랫폼   3.0
4    기업5    바이오  10.0
5    기업6     통신   1.6
6    기업7     화학   0.7
7    기업8    바이오  15.0
8    기업9    반도체   2.0
9   기업10     통신   1.6
10  기업11     화학   0.7
11  기업12    플랫폼   4.0
12  기업13    바이오   2.0
13  기업14    바이오  10.0
14  기업15     통신   1.6
15  기업16    반도체   0.9
16  기업17    반도체   2.1
17  기업18    플랫폼   2.5
18  기업19     화학   1.1
19  기업20     화학   0.4
20  기업21    반도체   1.6
21  기업22    플랫폼   4.2
22  기업23     통신   1.3
23  기업24     화학   0.6
24  기업25    바이오  12.0

In [344]:
df.index = df['기업']
df

        기업 Sector   PER
기업
기업1    기업1    반도체   1.5
기업2    기업2     통신   1.1
기업3    기업3     화학   0.5
기업4    기업4    플랫폼   3.0
기업5    기업5    바이오  10.0
기업6    기업6     통신   1.6
기업7    기업7     화학   0.7
기업8    기업8    바이오  15.0
기업9    기업9    반도체   2.0
기업10  기업10     통신   1.6
기업11  기업11     화학   0.7
기업12  기업12    플랫폼   4.0
기업13  기업13    바이오   2.0
기업14  기업14    바이오  10.0
기업15  기업15     통신   1.6
기업16  기업16    반도체   0.9
기업17  기업17    반도체   2.1
기업18  기업18    플랫폼   2.5
기업19  기업19     화학   1.1
기업20  기업20     화학   0.4
기업21  기업21    반도체   1.6
기업22  기업22    플랫폼   4.2
기업23  기업23     통신   1.3
기업24  기업24     화학   0.6
기업25  기업25    바이오  12.0

In [345]:
df = df.drop('기업', axis = 1) # 기업 column의 열 제거
df

     Sector   PER
기업
기업1     반도체   1.5
기업2      통신   1.1
기업3      화학   0.5
기업4     플랫폼   3.0
기업5     바이오  10.0
기업6      통신   1.6
기업7      화학   0.7
기업8     바이오  15.0
기업9     반도체   2.0
기업10     통신   1.6
기업11     화학   0.7
기업12    플랫폼   4.0
기업13    바이오   2.0
기업14    바이오  10.0
기업15     통신   1.6
기업16    반도체   0.9
기업17    반도체   2.1
기업18    플랫폼   2.5
기업19     화학   1.1
기업20     화학   0.4
기업21    반도체   1.6
기업22    플랫폼   4.2
기업23     통신   1.3
기업24     화학   0.6
기업25    바이오  12.0

In [346]:
 df.groupby(['Sector']) # 그냥 Group만 해서는 데이터 나타나지 않는다.

In [347]:
df.groupby(['Sector']).count()

        PER
Sector
바이오       5
반도체       5
통신        5
플랫폼       4
화학        6

### dataFrame.groupby(['열']).mean()

In [272]:
 df.groupby(['Sector']).mean()

             PER
Sector
바이오     9.800000
반도체     1.620000
통신      1.440000
플랫폼     3.425000
화학      0.666667

In [274]:
df.groupby(['Sector']).mean().loc['화학'].values[0]

0.6666666666666666

In [356]:
undervalued_mean = df.groupby(['Sector']).mean().loc['화학'].values[0]
undervalued_mean

0.6666666666666666

### Q) 'PER' 기준 저평가된 섹터의 평균을 구하고, 섹터 평균보다 낮은 기업은?

주어진 데이터에서 1)Sector별 PER를 구하고 2)그 기준으로 그보다 낮은 기업을 찾는다.

In [348]:
df['Sector'] == '화학'

기업
기업1     False
기업2     False
기업3      True
기업4     False
기업5     False
기업6     False
기업7      True
기업8     False
기업9     False
기업10    False
기업11     True
기업12    False
기업13    False
기업14    False
기업15    False
기업16    False
기업17    False
기업18    False
기업19     True
기업20     True
기업21    False
기업22    False
기업23    False
기업24     True
기업25    False
Name: Sector, dtype: bool

In [350]:
df_che = df[df['Sector'] == '화학']
df_che

     Sector  PER
기업
기업3      화학  0.5
기업7      화학  0.7
기업11     화학  0.7
기업19     화학  1.1
기업20     화학  0.4
기업24     화학  0.6

In [351]:
df_che['PER']<=undervalued_mean

기업
기업3      True
기업7     False
기업11    False
기업19    False
기업20     True
기업24     True
Name: PER, dtype: bool

화사 이름을 뽑으려고 하면 'Condition' 열을 만들어 구분 값 넣는다?

In [354]:
df_che = df[df['Sector'] == '화학']
df_che['Condition'] = np.where(df_che['PER']<=undervalued_mean,1,np.nan)
df_che

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\1783717603.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_che['Condition'] = np.where(df_che['PER']<=undervalued_mean,1,np.nan)

     Sector  PER  Condition
기업
기업3      화학  0.5        1.0
기업7      화학  0.7        NaN
기업11     화학  0.7        NaN
기업19     화학  1.1        NaN
기업20     화학  0.4        1.0
기업24     화학  0.6        1.0

In [352]:
df_che.dropna().index

C:\Users\proyj\AppData\Local\Temp\ipykernel_2380\1472975491.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_che['Condition'] = np.where(df_che['PER']<=undervalued_mean,1,np.nan)

Index(['기업3', '기업20', '기업24'], dtype='object', name='기업')

## 더 공부해 볼 것

join, merge, aggregate