# About Series

## Series 만들기

### Series란?  

- Data의 컬럼이 1개인 자료구조이며, 인덱스와 1개의 열로 구성되어 있음

### Series 생성 가능 타입  
- pd.Series(리스트)  
    - index 기본 부여, value 생성 
- pd.Series(딕셔너리)  
    - index 생성, value 생성

In [4]:
import pandas as pd

#### List Type의 생성

In [5]:
ls1 = [1,2,3,4,5,6,7,8,9]

sr1 = pd.Series(ls1)
sr1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
ls2 = [1,2,3,'Apple','play',6,7,8,9]

sr2 = pd.Series(ls2)
sr2

0        1
1        2
2        3
3    Apple
4     play
5        6
6        7
7        8
8        9
dtype: object

#### 딕셔너리 Type 생성

In [9]:
dic1 = {"a":1, 'b':2, "c":3, "d":4}

sr3 = pd.Series(dic1)
sr3

a    1
b    2
c    3
d    4
dtype: int64

### Value의 Name 지정   
Value 열에 대한 이름을 지정 할 수 있다.

In [7]:
sr1.name ="Number"
sr2.name = "Word"
sr2

0        1
1        2
2        3
3    Apple
4     play
5        6
6        7
7        8
8        9
Name: Word, dtype: object

In [10]:
sr3.name = "Number"
sr3

a    1
b    2
c    3
d    4
Name: Number, dtype: int64

## 외부 파일 읽어오기  
- read_csv()
    - path
    - index_col  
        인덱스로 사용할 열 설정
    - header  
        header의 row 인덱스
    - squeeze  
        default = false  
        ```squeeze = True```  => Series  
        ```squeeze = False``` => DataFrame

In [13]:
import pandas as pd

* Tip  
```pd.read_``` 다음에 ```Tab```을 누르면 Assistant가 뜬다.

In [28]:
path = 'C:/Users/proyj/workspace/python/pandas/삼성전자 종가.csv'
dataFrame = pd.read_csv(path)
dataFrame

           Date  Close
0    2018-01-02  51020
1    2018-01-03  51620
2    2018-01-04  51080
3    2018-01-05  52120
4    2018-01-08  52020
..          ...    ...
972  2021-12-13  76800
973  2021-12-14  77000
974  2021-12-15  77600
975  2021-12-16  77800
976  2021-12-17  78000

[977 rows x 2 columns]

In [29]:
dataFrame = pd.read_csv(path, index_col = 1) # 2번째 열이 인덱스로 쓰임
dataFrame

             Date
Close
51020  2018-01-02
51620  2018-01-03
51080  2018-01-04
52120  2018-01-05
52020  2018-01-08
...           ...
76800  2021-12-13
77000  2021-12-14
77600  2021-12-15
77800  2021-12-16
78000  2021-12-17

[977 rows x 1 columns]

In [30]:
dataFrame = pd.read_csv(path, header = 1) # 2번째 행이 Header로 쓰임
dataFrame

     2018-01-02  51020
0    2018-01-03  51620
1    2018-01-04  51080
2    2018-01-05  52120
3    2018-01-08  52020
4    2018-01-09  50400
..          ...    ...
971  2021-12-13  76800
972  2021-12-14  77000
973  2021-12-15  77600
974  2021-12-16  77800
975  2021-12-17  78000

[976 rows x 2 columns]

In [33]:
type(dataFrame) # squeeze 없으면 DataFrame

pandas.core.frame.DataFrame

In [31]:
series = pd.read_csv(path, index_col = 0, header = 0 , squeeze = True)
series

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\1006839771.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  series = pd.read_csv(path, index_col = 0, header = 0 , squeeze = True)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [32]:
type(series)

pandas.core.series.Series

## Series의 Index와 value

### Index

In [35]:
samsung_series = a
samsung_series.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [36]:
type(samsung_series.index)

pandas.core.indexes.base.Index

#### 해당 인덱스가 포함 여부 확인

In [38]:
# # 해당 index가 포함 되지 않은 경우
'2018-01-01' in samsung_series.index

False

In [37]:
# 해당 index가 포함 된 경우
'2018-01-02' in samsung_series.index

True

In [13]:
# Series의 index 포함 여부 확인
'2018-01-02' in samsung_series.index

True

### loc 와 iloc
- series.loc()  
    - 데이터프레임의 행이나 컬럼에 **label**이나 boolean array로 접근.  
    - location의 약어로, 인간이 읽을 수 있는 label 값으로 데이터에 접근하는 것이다.   
- series.iloc()  
    - 데이터프레임의 행이나 컬럼에 **인덱스 값**으로 접근.  
    - integer location의 약어로, 컴퓨터가 읽을 수 있는 indexing 값으로 데이터에 접근하는 것이다.

#### loc[ ]
해당 레이블이 존재하지 않으면 에러 발생

In [40]:
samsung_series.loc['2018-01-01']

KeyError: '2018-01-01'

In [17]:
samsung_series.loc['2018-01-02']

51020

#### 레이블로 값 찾는 예제

In [24]:
# 레이블로 값찾는 예제 
date = '2018-01-01'
if date in samsung_series.index:
    print(samsung_series.loc[date])
else:
    print('찾는 값이 없습니다.')

찾는 값이 없습니다.

#### iloc[ ]

In [23]:
#index로 찾기
samsung_series.iloc[0]

51020

### Series의 크기

#### 크기 series.shape[0]

In [27]:
samsung_series.shape

(977,)

그런데 형태가 좀 이상하다..

In [28]:
type(samsung_series.shape)

tuple

#### 마지막 인덱스 series.shape[0]-1

In [29]:
samsung_series.shape[0]-1

976

### value의 변경

#### value를 나타내는 방법  
- 다음 3가지로 쓴다  
series.['2018-01-01'] (가능은 하지만 아래와 같이 명시적으로 써 주는게 좋다)  
series.loc['2018-01-01']   
series.iloc[1]

In [41]:
# 값 변경
samsung_series.loc['2018-01-02'] = 0
samsung_series

Date
2018-01-02        0
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

#### Series의 마지막에 값 추가

In [43]:
## 추가될 인덱스에 값을 할당하는 방식 => 에러
samsung_series.iloc[samsung_series.shape[0]] = 77100

IndexError: iloc cannot enlarge its target object

In [46]:
## 값 추가
samsung_series['2021-12-18'] = 77100
samsung_series

Date
2018-01-02        0
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
2021-12-18    77100
2021-12-19    77200
Name: Close, Length: 979, dtype: int64

In [47]:
samsung_series.loc['2021-12-19'] = 77200
samsung_series.shape[0]

979

In [46]:
samsung_series.iloc[978] = 77300
samsung_series

Date
2018-01-02        0
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
2021-12-18    77100
2021-12-19    77300
Name: Close, Length: 979, dtype: int64

## 두개의 Series 연결

### series.append(other_series, )

In [51]:
import pandas as pd
#pd.set_option('display.max_rows', None)

In [49]:
series1_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet1', index_col = 0, squeeze = True)
series1_samsung

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\3120514832.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  series1_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet1', index_col = 0, squeeze = True)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2019-12-23    55500
2019-12-24    55000
2019-12-26    55400
2019-12-27    56500
2019-12-30    55800
Name: Close, Length: 490, dtype: int64

```sheet_name = 0``` 이라고 할 수도 있음

In [50]:
series2_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet2', index_col = 0, squeeze = True)
series2_samsung

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\969072097.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  series2_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet2', index_col = 0, squeeze = True)

Date
2020-01-02    55200
2020-01-03    55500
2020-01-06    55500
2020-01-07    55800
2020-01-08    56800
              ...
2021-12-20    77100
2021-12-21    78100
2021-12-22    79400
2021-12-23    79900
2021-12-24    80500
Name: Close, Length: 492, dtype: int64

* Tip : 
    - 미리보기에 생략된 데이터를 다 보려면  
    ```pd.set_option('display.max_rows', None)```
    - 해제 하려면  
    ```pd.reset_option("display.max_rows")```

In [52]:
# output 을 전체 다 볼 수 있음
pd.set_option('display.max_rows', None)

### ignore_index = False  
ref) https://wikidocs.net/154051  
기존의 인덱스 유지하고자 할때

```ignore_index = False``` # False: 기존 index 유지, True: 기존 index 무시

In [66]:
# ignore_index = True 시 기존 인덱스 무시
series_samsung = series1_samsung.append(series2_samsung, ignore_index = True)
series_samsung

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\1466658145.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series_samsung = series1_samsung.append(series2_samsung, ignore_index = True)

0      51020
1      51620
2      51080
3      52120
4      52020
       ...
977    77100
978    78100
979    79400
980    79900
981    80500
Name: Close, Length: 982, dtype: int64

In [67]:
series_samsung = series1_samsung.append(series2_samsung, ignore_index = False)
series_samsung

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\1297777962.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series_samsung = series1_samsung.append(series2_samsung, ignore_index = False)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-20    77100
2021-12-21    78100
2021-12-22    79400
2021-12-23    79900
2021-12-24    80500
Name: Close, Length: 982, dtype: int64

## Series 기본 통계치 구하기

### 기본 통계치 series.dscribe()

In [61]:
# 기본 통계치
samsung_price.describe()

count      977.000000
mean     57295.854657
std      14084.402274
min      37450.000000
25%      46300.000000
50%      51300.000000
75%      70200.000000
max      91000.000000
Name: Close, dtype: float64

#### 분위값 percentiles  
- 기본값 [.25, .5, .75]  
ref) https://pandas.pydata.org/docs/reference/api/pandas.Series.describe.html

In [69]:
samsung_price.describe(percentiles=[.2,.3,.4,.5,.6,.7,.8])

count      977.000000
mean     57295.854657
std      14084.402274
min      37450.000000
20%      45600.000000
30%      46950.000000
40%      49176.000000
50%      51300.000000
60%      55460.000000
70%      60400.000000
80%      74400.000000
max      91000.000000
Name: Close, dtype: float64

### series.max()

In [57]:
# option default로 변경
pd.reset_option("display.max_rows")

In [58]:
samsung_price = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)
samsung_price

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\3135519495.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  samsung_price = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [59]:
# 최고값
samsung_price.max()

91000

### series.min()

In [60]:
# 최저값
samsung_price.min()

37450

### series.count()

In [68]:
samsung_price.count()

977

## 최고값일때의 value와 날짜는 언제일까?

### Numpy의 Broadcasting  
*** v. broadcast ***  

to spread widely; disseminate:  

차원이 다른 행렬의 연산을 가능하게 한다.

#### broadcasting의 조건
브로드캐스팅이 일어날 수 있는 조건은 다음과 같다.  
- 차원의 크기가 1일때 가능하다  
    두 배열 간의 연산에서 최소한 하나의 배열의 차원이 1이라면 가능하다.  
- 차원의 짝이 맞을 때 가능하다  
    차원에 대해 축의 길이가 동일하면 브로드캐스팅이 가능하다.

- 1X3 + 1X1 => 1X3 + 1X3  
ex) [0,1,2] + 5 = [0,1,2] + [5,5,5] = [5,6,7] 

- 3X3 + 1X3 => 3X3 + 3X3  
ex) [[1,1,1], [1,1,1], [1,1,1]] + [0,1,2]  
    =>  
    [[1,1,1], [1,1,1], [1,1,1]] + [[0,1,2],[0,1,2],[0,1,2]] = [[1,2,3], [1,2,3], [1,2,3]]  
   
- 3X1 + 1X3 => 3X3 + 3X3  
ex) [[0],[1],[2]] + [0,1,2]  
    =>
    [[0,0,0],[1,1,1],[2,2,2]] + [[0,1,2],[0,1,2],[0,1,2]] = [[0,1,2],[1,2,3],[2,3,4]]  

ref) https://sacko.tistory.com/16

### max 값 비교로 찾을 것인가?

***생각의 과정***  
처음에는 배열을 비교하여 최고값의 개수를

In [62]:
samsung_price.values

array([51020, 51620, 51080, 52120, 52020, 50400, 48840, 48240, 48200,
       48540, 50000, 49620, 49900, 49320, 48240, 49160, 49340, 50260,
       50780, 51220, 49800, 49900, 49820, 47700, 47920, 47420, 45800,
       46000, 44700, 45720, 47540, 49000, 48380, 47400, 47280, 46760,
       47220, 47380, 47380, 47060, 46020, 45200, 47020, 48620, 49200,
       49740, 49740, 51660, 51760, 51540, 51140, 50740, 51200, 51060,
       51780, 49720, 50280, 49980, 48700, 49040, 49220, 48540, 48120,
       46920, 48740, 48400, 49200, 48880, 48860, 49000, 49800, 50340,
       49980, 51360, 52780, 51620, 51900, 50460, 50400, 52140, 53000,
       53000, 53000, 53000, 51900, 52600, 50900, 51600, 51300, 50100,
       49200, 49850, 49400, 49500, 50000, 51800, 51400, 52700, 52300,
       51300, 49500, 50700, 51300, 51100, 51300, 50600, 49650, 49900,
       49400, 48200, 47650, 46600, 47000, 47000, 47050, 47250, 46650,
       47000, 47950, 46800, 46650, 45550, 46150, 46250, 45950, 44900,
       45600, 46300, 46000, 45500, 46500, 46050, 45850, 46550, 46900,
       47450, 46500, 46150, 46150, 46900, 46900, 46500, 46250, 46550,
       45550, 45750, 45800, 46700, 46800, 46900, 45400, 45050, 45150,
       44250, 44100, 43850, 44800, 46100, 46200, 46150, 46300, 46550,
       46800, 47650, 48450, 47450, 47650, 46600, 46100, 44900, 45500,
       45050, 44550, 44050, 45850, 45150, 45500, 46150, 47250, 47400,
       47500, 46450, 46350, 45700, 44700, 44700, 44950, 45300, 43100,
       44000, 43800, 43600, 44150, 44050, 43900, 43550, 43050, 42550,
       41000, 41000, 41400, 42350, 42400, 42150, 44150, 43800, 43750,
       44000, 44050, 44300, 45200, 44500, 44100, 44250, 44000, 43650,
       42800, 42100, 42450, 42400, 42600, 43050, 43150, 43150, 41850,
       43250, 42150, 41450, 40500, 40950, 40200, 40250, 40450, 40000,
       38950, 39150, 38900, 39100, 38650, 38650, 38800, 38350, 38250,
       38700, 38750, 37600, 37450, 38750, 38100, 39600, 39800, 40500,
       40050, 41100, 41450, 41950, 42300, 42750, 42150, 42000, 43050,
       44750, 45050, 45500, 46400, 46150, 46350, 46200, 44800, 45000,
       46050, 46200, 47500, 46050, 46200, 45950, 46900, 46950, 47150,
       47350, 46750, 46750, 45100, 44850, 44250, 44000, 44450, 43800,
       43650, 44650, 43850, 43850, 44200, 43700, 43900, 44050, 45850,
       46550, 45500, 45250, 45350, 44850, 44650, 45050, 45750, 46600,
       46950, 46850, 46650, 46650, 46700, 46250, 46850, 47050, 47250,
       47050, 45600, 45300, 45350, 45200, 44750, 44650, 44850, 46150,
       45850, 45900, 45300, 44850, 44250, 42450, 42900, 42650, 42650,
       42550, 41550, 41200, 42000, 43150, 43500, 43850, 42700, 42650,
       42550, 41800, 42550, 42500, 43800, 43450, 43900, 44200, 44800,
       44850, 44600, 43750, 44000, 43900, 44350, 45350, 45500, 45700,
       45500, 45600, 45700, 46500, 47000, 46600, 46250, 45400, 46000,
       45650, 44400, 45100, 45550, 46200, 46300, 46450, 46850, 46050,
       46100, 46800, 47200, 47300, 46400, 47200, 47150, 46100, 46550,
       45350, 45200, 44950, 43950, 43500, 43200, 42650, 43150, 43700,
       43000, 43700, 43900, 43600, 44450, 44500, 44050, 43950, 43600,
       44050, 44150, 43400, 44000, 43800, 43250, 44100, 45700, 46300,
       46900, 47000, 47150, 47100, 46900, 47700, 49150, 49200, 49300,
       49500, 48900, 49200, 48400, 49050, 48850, 47600, 48000, 47750,
       48900, 48550, 49150, 50000, 50100, 50700, 50500, 49900, 50300,
       51200, 51200, 50700, 50900, 51300, 51100, 50400, 50400, 51200,
       52300, 52700, 53300, 52900, 52100, 51600, 52600, 52500, 52800,
       53700, 53500, 53500, 52000, 51000, 51600, 51800, 51800, 52200,
       51300, 50300, 50400, 49900, 49450, 49500, 50400, 51200, 51500,
       51900, 53300, 54700, 54700, 56700, 56300, 56000, 56000, 55500,
       55000, 55400, 56500, 55800, 55200, 55500, 55500, 55800, 56800,
       58600, 59500, 60000, 60000, 59000, 60700, 61300, 62400, 61400,
       62300, 60800, 58800, 59100, 57200, 56400, 57200, 58900, 59500,
       61100, 60400, 59700, 59900, 60500, 60700, 61800, 61500, 59800,
       60200, 60000, 59200, 56800, 57900, 56500, 55900, 54200, 55000,
       55400, 57400, 57800, 56500, 54200, 54600, 52100, 50800, 49950,
       48900, 47300, 45600, 42950, 45400, 42500, 46950, 48650, 47800,
       48300, 47850, 47750, 45800, 46800, 47000, 48700, 49600, 48600,
       49100, 49250, 48300, 49000, 49000, 51400, 50100, 49250, 49850,
       49850, 49350, 49850, 50100, 50000, 48500, 49200, 48800, 48800,
       48400, 47900, 48550, 48000, 47850, 48800, 50300, 50000, 49950,
       48750, 48850, 49250, 49900, 50400, 50700, 51200, 51400, 54500,
       54600, 55500, 54900, 55500, 55400, 54300, 52300, 49900, 52100,
       52200, 52300, 52900, 52000, 51400, 52900, 51900, 53300, 52400,
       52800, 52600, 52900, 53600, 55000, 53400, 53000, 52800, 52700,
       53400, 53800, 54700, 53800, 54400, 54200, 55300, 54700, 54100,
       54200, 55600, 58600, 59000, 59000, 57900, 56800, 57300, 56900,
       58000, 57500, 57800, 58200, 59000, 58700, 58000, 58400, 57800,
       55400, 55900, 56100, 56400, 56400, 55600, 55400, 54000, 54200,
       54400, 56400, 55600, 56500, 58700, 58400, 59200, 59000, 60400,
       61000, 61000, 59500, 59300, 59200, 58200, 58600, 57800, 57900,
       58200, 58200, 58700, 59000, 59900, 59700, 60400, 60900, 60900,
       60000, 59500, 60000, 60900, 60900, 60100, 60200, 60400, 59800,
       59000, 58100, 56600, 57400, 58800, 58500, 60300, 60100, 60200,
       60200, 61300, 61000, 63200, 66300, 65700, 64800, 64600, 64700,
       67500, 67700, 66600, 68000, 68200, 66700, 67800, 69500, 69700,
       71500, 72900, 71700, 73900, 72900, 73400, 73800, 73800, 73800,
       73300, 73000, 73000, 72300, 73900, 77800, 78700, 78300, 81000,
       83000, 83900, 82200, 82900, 88800, 91000, 90600, 89700, 89700,
       88000, 85000, 87000, 87200, 88100, 86800, 89400, 86700, 85600,
       83700, 82000, 83000, 84400, 84600, 82500, 83500, 83000, 82700,
       81600, 84200, 84900, 83200, 82100, 82600, 82200, 82000, 82000,
       85300, 82500, 83600, 84000, 82400, 82100, 82000, 81400, 80900,
       82000, 82800, 81800, 82800, 82300, 82900, 81900, 82000, 81800,
       81000, 81200, 81500, 81600, 82200, 81400, 82900, 84800, 85400,
       86000, 85600, 84700, 83600, 83200, 84000, 84000, 84100, 83900,
       83300, 83900, 82600, 82400, 82800, 83500, 82900, 82100, 81700,
       81500, 81700, 82600, 82300, 81900, 83200, 81200, 80000, 78500,
       80100, 79600, 79600, 79500, 80100, 79700, 79900, 79800, 79600,
       80100, 80500, 80600, 80800, 82800, 82200, 81900, 81900, 81100,
       81000, 81000, 80500, 80900, 81800, 80900, 80500, 79900, 80000,
       80100, 81200, 81600, 81900, 81000, 80700, 80100, 80000, 80400,
       81200, 80800, 79900, 79400, 79700, 79800, 79500, 80600, 79800,
       79000, 79000, 78500, 79700, 79300, 78800, 78500, 79200, 79000,
       78500, 79300, 81400, 82900, 82100, 81500, 81500, 80200, 78500,
       77000, 74400, 74200, 73900, 73100, 72700, 73300, 75600, 75700,
       74600, 74300, 74600, 76700, 76800, 76000, 76600, 77300, 76100,
       76300, 75300, 75300, 76300, 76600, 77000, 76100, 77200, 77400,
       77300, 77700, 76300, 74100, 74100, 73200, 72200, 71300, 71600,
       71500, 69000, 68800, 69400, 70100, 70200, 70600, 70300, 70200,
       70400, 70200, 71100, 70100, 70700, 69800, 69900, 71500, 70400,
       70600, 70200, 70600, 70500, 70200, 69900, 70600, 71400, 71300,
       70700, 70200, 71200, 74900, 75300, 74800, 73700, 72300, 72300,
       71300, 74400, 75800, 75600, 76300, 77400, 77400, 78200, 76900,
       76800, 77000, 77600, 77800, 78000], dtype=int64)

In [63]:
type(samsung_price.values)

numpy.ndarray

In [74]:
samsung_price.values == samsung_price.max()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

### 최고값과 그 날짜  
- 최고값  
    samsung_price.max()  
- 최고값인 날짜  
    samsung_price.index[samsung_price.values == samsung_price.max()]

In [76]:
samsung_price.index[samsung_price.values == samsung_price.max()]

Index(['2021-01-11'], dtype='object', name='Date')

In [79]:
samsung_price.values == 41000

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [78]:
samsung_price.index[samsung_price.values == 41000]

Index(['2018-10-25', '2018-10-26'], dtype='object', name='Date')

### 최고값과 최소값의 인덱스 리턴하는 argmin(), argmax()

* 최소값의 인덱스, 최대값의 인덱스  
```argmin()```, ```argmax()```

In [81]:
## 해당하는 인덱스 값 리턴
samsung_price.argmin()

246

cf. samsung_price.min() => 최소값, samsung_price.argmin() => 최소값의 인덱스

In [83]:
samsung_price.iloc[samsung_price.argmin()]

37450

In [84]:
samsung_price.index[samsung_price.argmin()]

'2019-01-04'

In [85]:
samsung_price.iloc[samsung_price.argmax()]
samsung_price.index[samsung_price.argmax()]

'2021-01-11'

#### series.index[series.argmax()] vs series.index[series.values == series.max()]

In [73]:
# 배열이다 
samsung_price.index[samsung_price.values == samsung_price.max()]

Index(['2021-01-11'], dtype='object', name='Date')

In [ ]:
# 값이다
samsung_price.max()
samsung_price.loc['2021-12-18'] = 91000
samsung_price

In [81]:
samsung_price.index[samsung_price.argmax()]

'2021-01-11'

In [82]:
samsung_price.index[samsung_price.values == samsung_price.max()]

Index(['2021-01-11', '2021-12-18'], dtype='object', name='Date')

In [83]:
samsung_price.index[samsung_price.values == samsung_price.max()][0]

'2021-01-11'

## Series 연산

ref) markdown 수식 작성 방법  

https://velog.io/@d2h10s/LaTex-Markdown-%EC%88%98%EC%8B%9D-%EC%9E%91%EC%84%B1%EB%B2%95

### 수익률 구하기

 수익률 구하는 식  
 $$ r_t = \frac{ P_t - P_{t-1} }{ P_{t-1}} = \frac{ P_t}{P_{t-1}} -1 $$

In [87]:
import pandas as pd

samsung_price = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)
samsung_price

C:\Users\proyj\AppData\Local\Temp\ipykernel_9764\377234668.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  samsung_price = pd.read_csv('삼성전자 종가.csv', index_col = 0, squeeze = True, header = 0)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [89]:
samsung_price.shift(1)

Date
2018-01-02        NaN
2018-01-03    51020.0
2018-01-04    51620.0
2018-01-05    51080.0
2018-01-08    52120.0
               ...
2021-12-13    76900.0
2021-12-14    76800.0
2021-12-15    77000.0
2021-12-16    77600.0
2021-12-17    77800.0
Name: Close, Length: 977, dtype: float64

In [90]:
samsung_price - samsung_price.shift(1)

Date
2018-01-02       NaN
2018-01-03     600.0
2018-01-04    -540.0
2018-01-05    1040.0
2018-01-08    -100.0
               ...
2021-12-13    -100.0
2021-12-14     200.0
2021-12-15     600.0
2021-12-16     200.0
2021-12-17     200.0
Name: Close, Length: 977, dtype: float64

In [91]:
samsung_return = (samsung_price - samsung_price.shift(1))/samsung_price.shift(1)
samsung_return

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

### 수익률 구하기 함수 series.pct_change()

In [94]:
pct_change = samsung_price.pct_change()
pct_change

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

### 수익률이 최대였던 때와 최대 수익율

In [96]:
samsung_return.max()

0.10470588235294118

In [97]:
samsung_return.index[samsung_return.argmax()]

'2020-03-24'

#### Nan값 연산  
- samsung_return.dropna()  
    Nan값 제외  
- samsung_return.fillna()  
    Nan값 채우기, 입력값 없으면 에러

In [105]:
samsung_return.dropna()

Date
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
2018-01-09   -0.031142
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 976, dtype: float64

In [106]:
samsung_return.fillna(1)

Date
2018-01-02    1.000000
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [108]:
samsung_return.fillna('없음')

Date
2018-01-02          없음
2018-01-03     0.01176
2018-01-04   -0.010461
2018-01-05     0.02036
2018-01-08   -0.001919
                ...
2021-12-13     -0.0013
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: object

In [107]:
samsung_return.fillna()

ValueError: Must specify a fill 'value' or 'method'.